/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-core/rnaseq Nextflow config file for Azure Batch pools
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines several Azure Batch pools with virtual machines from Edv4-series, 
    assigns pools to labels according to the requirements defined in base.config.

    You might need to adjust vmCount and maxVmCount depending on your Batch account quotas.

    Low-cost virtual machines are used by default, 
    to use dedicated nodes comment line 'scaleFormula = lowPriorityScaleFormula' in pool configuration

    Use as follows:
        nextflow run nf-core/rnaseq -profile azurebatch
            --input 'az://<Path to input file>' --outdir 'az://<Output directory>' 
            -w 'az://<Work directory>' [<Other pipeline parameters>]
----------------------------------------------------------------------------------------
*/

params {
    config_profile_description = 'Azure Batch Edv4 pools profile'
    config_profile_contact = 'Olesya Melnichenko (@olesya13) & Venkat Malladi (@vsmalladi)'
    config_profile_url = 'https://azure.microsoft.com/services/batch/'
}

// Scale formula to use low-priority nodes only, based on default Nextflow formula https://www.nextflow.io/docs/latest/azure.html#pool-autoscaling
lowPriorityScaleFormula = '''
    lifespan = time() - time("{{poolCreationTime}}");
    interval = TimeInterval_Minute * {{scaleInterval}};
    $samples = $PendingTasks.GetSamplePercent(interval);
    $tasks = $samples < 70 ? max(0, $PendingTasks.GetSample(1)) : max($PendingTasks.GetSample(1), avg($PendingTasks.GetSample(interval)));
    $targetVMs = $tasks > 0 ? $tasks : max(0, $TargetLowPriorityNodes/2);
    targetPoolSize = max(0, min($targetVMs, {{maxVmCount}}));
    $TargetLowPriorityNodes = lifespan < interval ? {{vmCount}} : targetPoolSize;
    $TargetDedicatedNodes = 0;
    $NodeDeallocationOption = taskcompletion;
'''

process {
    queue = 'Standard_E2d_v4'
    withLabel:process_low {queue = 'Standard_E2d_v4'}
    withLabel:process_medium {queue = 'Standard_E8d_v4'}
    withLabel:process_high {queue = 'Standard_E16d_v4'}
    withLabel:process_high_memory {queue = 'Standard_E32d_v4'}
}

azure {
    batch {
        autoPoolMode = false
        allowPoolCreation = true
        pools {
            Standard_E2d_v4 {
                autoScale = true
                vmType = 'Standard_E2d_v4'
                vmCount = 2
                maxVmCount = 20
                scaleFormula = lowPriorityScaleFormula
            }
            Standard_E8d_v4 {
                autoScale = true
                vmType = 'Standard_E8d_v4'
                vmCount = 2
                maxVmCount = 20
                scaleFormula = lowPriorityScaleFormula
            }
            Standard_E16d_v4 {
                autoScale = true
                vmType = 'Standard_E16d_v4'
                vmCount = 2
                maxVmCount = 20
                scaleFormula = lowPriorityScaleFormula
            }
            Standard_E32d_v4 {
                autoScale = true
                vmType = 'Standard_E32d_v4'
                vmCount = 2
                maxVmCount = 10
                scaleFormula = lowPriorityScaleFormula
            }
        }
    }
}
