process {

    withName: 'PICARD_MARKDUPLICATES|QUALIMAP_RNASEQ|FASTQC|BBMAP_BBSPLIT|TRIMGALORE' {
        clusterOptions = { "-l h_vmem=${(task.memory + 4.GB).bytes / task.cpus}" }
    }
    withName: "NFCORE_RNASEQ:RNASEQ:FASTQ_QC_TRIM_FILTER_SETSTRANDEDNESS:FASTQ_FASTQC_UMITOOLS_TRIMGALORE:FASTQC"{
        cpus=5
        memory=24.GB
    }
}
