process {

    withName: 'PICARD_MARKDUPLICATES|QUALIMAP_RNASEQ|FASTQC|BBMAP_BBSPLIT|TRIMGALORE' {
        clusterOptions = {
        if( ! task.memory ) {
            return null
        }
            // total bytes requested, divided by slots ⇒ bytes per slot
            def bytesPerSlot = (task.memory.bytes+(4.GB.bytes)) / task.cpus
            // convert to GB and round up to the next integer
            def gbPerSlot = Math.ceil( bytesPerSlot / (1024 * 1024 * 1024) as double )
            // emit SGE flag in “G” units
            return "-l h_vmem=${gbPerSlot}G"
        }
    }
    withName: "NFCORE_RNASEQ:RNASEQ:FASTQ_QC_TRIM_FILTER_SETSTRANDEDNESS:FASTQ_FASTQC_UMITOOLS_TRIMGALORE:FASTQC"{
        cpus=5
        memory=24.GB
    }
}
