process {

withName : "PICARD_MARKDUPLICATES" {
    clusterOptions = {"-l h_vmem=${(task.memory + 4.GB).bytes/task.cpus}"}
}

withName : "QUALIMAP_RNASEQ" {
    clusterOptions = {"-l h_vmem=${(task.memory + 4.GB).bytes/task.cpus}"}
}

withName : "FASTQC" {
    clusterOptions = {"-l h_vmem=${(task.memory + 4.GB).bytes/task.cpus}"}
}

}
