process {

    cpus   = { 4      * task.attempt }
    memory = { 16.GB   * task.attempt }
    time   = { 4.h    * task.attempt }

    errorStrategy = { task.exitStatus in [143,137,104,134,139,151,140,247,12] ? 'retry' : 'finish' }
    maxRetries    = 3
    maxErrors     = '-1'

    withLabel:process_single {
        cpus   = { 4                   }
        memory = { 32.GB * task.attempt }
        time   = { 4.h  * task.attempt }
    }
    withLabel:process_low {
        cpus   = { 4 * task.attempt }
        memory = { 16.GB * task.attempt }
        time   = { 6.h  * task.attempt }
    }
    withLabel:process_medium {
        cpus   = { 12 * task.attempt }
        memory = { 97.GB * task.attempt }
        time   = { 12.h  * task.attempt }
    }
    withLabel:process_high {
        cpus   = 32
        memory = { 240.GB * task.attempt }
        time   = { 20.h  * task.attempt }
    }
    withLabel:process_long {
        cpus   = { 12 * task.attempt }
        memory = { 48.GB * task.attempt }
        time   = { 96.h  * task.attempt }
    }
    withLabel:process_high_memory {
        memory = { 240.GB * task.attempt }
    }
    withLabel:error_ignore {
        errorStrategy = 'ignore'
    }
    withLabel:error_retry {
        errorStrategy = 'retry'
        maxRetries    = 3
    }
}
