// Profile config names for nf-core/configs

profiles {
    cobra {
        params {
          // Specific nf-core/configs params
          config_profile_contact = 'James Fellows Yates (@jfy133)'
          config_profile_description = 'nf-core/rnaseq MPCDF cobra profile provided by nf-core/configs'
        }
        process {
            cpus   = { check_max( 1    * task.attempt, 'cpus'   ) }
            memory = { check_max( 6.GB * task.attempt, 'memory' ) }
            time   = { check_max( 4.h  * task.attempt, 'time'   ) }

            errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
            maxRetries    = 1
            maxErrors     = '-1'

            // Process-specific resource requirements
            withLabel:process_low {
                cpus   = { check_max( 2     * task.attempt, 'cpus'    ) }
                memory = { check_max( 12.GB * task.attempt, 'memory'  ) }
                time   = { check_max( 4.h   * task.attempt, 'time'    ) }
            }
            withLabel:process_medium {
                cpus   = 40
                memory = { check_max( 36.GB * task.attempt, 'memory'  ) }
                time   = { check_max( 6.h   * task.attempt, 'time'    ) }
            }
            withLabel:process_high {
                cpus   = 40
                memory = { check_max( 72.GB * task.attempt, 'memory'  ) }
                time   = { check_max( 10.h  * task.attempt, 'time'    ) }
            }
            withLabel:process_long {
                time   = 24.h
            }
            withLabel:process_high_memory {
                cpus   = 40
                memory = { check_max( 200.GB * task.attempt, 'memory' ) }
            }
            withLabel:error_ignore {
                errorStrategy = 'ignore'
            }
            withName:CUSTOM_DUMPSOFTWAREVERSIONS {
                cache = false
            }
        }
    }
}
