// NGI Stockholm specific configurations for rnaseq on UPPMAX (miarka)
// Genome overrides are triggered by the SITE environment variable

params {
    config_profile_description = System.getenv('SITE') == 'NGI-S'
        ? 'nf-core/rnaseq UPPMAX cluster profile provided by nf-core/configs.'
        : 'UPPMAX (Bianca) cluster profile provided by nf-core/configs.'

    gencode        = (System.getenv('SITE') == 'NGI-S' && params.genome == 'GRCh38')
    save_reference = (System.getenv('SITE') == 'NGI-S' && params.genome == 'GRCh38')
}
