params {
    // Add a description only if the NGI_CONFIG environment variable is set
    // which only happens on prod on miarka
    config_profile_description = System.getenv('NGI_CONFIG')
        ? 'nf-core/rnaseq UPPMAX cluster profile provided by nf-core/configs.'
        : 'UPPMAX (Bianca) cluster profile provided by nf-core/configs.'

    // Overrides default values when genome is GRCh38
    gencode        = (System.getenv('NGI_CONFIG') && params.genome == 'GRCh38')
    save_reference = (System.getenv('NGI_CONFIG') && params.genome == 'GRCh38')

    genomes {
        'GRCh38' {
            bed12 = System.getenv('NGI_CONFIG')
                ? "/proj/ngi2016003/nobackup/junw/RNAseq/genes_GRCh38.bed"
                : "/sw/data/igenomes/Homo_sapiens/NCBI/GRCh38/Annotation/Genes/genes.bed"
            gtf = System.getenv('NGI_CONFIG')
                ? "/sw/data/uppnex/igenomes/Homo_sapiens/NCBI/GRCh38/Annotation/Genes.gencode/genes.gtf"
                : "/sw/data/igenomes/Homo_sapiens/NCBI/GRCh38/Annotation/Genes/genes.gtf"
        }
    }
}
