params {
  config_profile_description = 'University of Texas at Dallas HPC cluster profile provided by nf-core/configs'
  config_profile_contact = 'Edmund Miller(@emiller88)'
  config_profile_url = 'http://docs.oithpc.utdallas.edu/'
}

process {

  withName : "STAR_ALIGN" {
    memory = 36.GB
  }

  withLabel:process_high {
    cpus = { check_max( 16 * task.attempt, 'cpus' ) }
    memory = { check_max( 60.GB * task.attempt, 'memory' ) }
    time = { check_max( 16.h * task.attempt, 'time' ) }
  }

}
