/*
 * -------------------------------------------------------
 *  Nextflow config file for Genomes available on CAMP
 * -------------------------------------------------------
 * For example:
 * nextflow run nf-core/rnaseq \
 *     --input samplesheet.csv \
 *     --genome GRCh38.95.CAMP \
 *     -profile crick \
 */

params {
  genomes {
    'GRCh38.95.CAMP' {
      fasta       = "/camp/svc/reference/Genomics/babs/homo_sapiens/ensembl/GRCh38/release-95/genome/Homo_sapiens.GRCh38.dna_sm.primary_assembly.fa"
      bwa         = "/camp/svc/reference/Genomics/babs/homo_sapiens/ensembl/GRCh38/release-95/genome_idx/bwa/Homo_sapiens.GRCh38.dna_sm.primary_assembly.fa"
      bowtie2     = "/camp/svc/reference/Genomics/babs/homo_sapiens/ensembl/GRCh38/release-95/genome_idx/bowtie2/"
      star        = "/camp/svc/reference/Genomics/babs/homo_sapiens/ensembl/GRCh38/release-95/genome_idx/star/100bp/"
      rsem        = "/camp/svc/reference/Genomics/babs/homo_sapiens/ensembl/GRCh38/release-95/genome_idx/rsem/star-2.7.6a/"
      gtf         = "/camp/svc/reference/Genomics/babs/homo_sapiens/ensembl/GRCh38/release-95/gtf/Homo_sapiens.GRCh38.95.gtf"
      bed12       = "/camp/svc/reference/Genomics/babs/homo_sapiens/ensembl/GRCh38/release-95/gtf/Homo_sapiens.GRCh38.95.bed"
      mito_name   = "MT"
      macs_gsize  = "2.7e9"
      blacklist   = "/camp/svc/reference/Genomics/babs/homo_sapiens/ensembl/GRCh38/release-95/gtf/GRCh38-blacklist.bed"
    }
    'GRCh37.75.CAMP' {
      fasta       = "/camp/svc/reference/Genomics/babs/homo_sapiens/ensembl/GRCh37/release-75/genome/Homo_sapiens.GRCh37.75.dna_sm.primary_assembly.fa"
      bwa         = "/camp/svc/reference/Genomics/babs/homo_sapiens/ensembl/GRCh37/release-75/genome_idx/bwa/Homo_sapiens.GRCh37.75.dna_sm.primary_assembly.fa"
      bowtie2     = "/camp/svc/reference/Genomics/babs/homo_sapiens/ensembl/GRCh37/release-75/genome_idx/bowtie2/"
      star        = "/camp/svc/reference/Genomics/babs/homo_sapiens/ensembl/GRCh37/release-75/genome_idx/star/100bp/"
      rsem        = "/camp/svc/reference/Genomics/babs/homo_sapiens/ensembl/GRCh37/release-75/genome_idx/rsem/star-2.7.6a/"
      gtf         = "/camp/svc/reference/Genomics/babs/homo_sapiens/ensembl/GRCh37/release-75/gtf/Homo_sapiens.GRCh37.75.gtf"
      bed12       = "/camp/svc/reference/Genomics/babs/homo_sapiens/ensembl/GRCh37/release-75/gtf/Homo_sapiens.GRCh37.75.bed"
      mito_name   = "MT"
      macs_gsize  = "2.7e9"
      blacklist   = "/camp/svc/reference/Genomics/babs/homo_sapiens/ensembl/GRCh37/release-75/gtf/GRCh37-blacklist.bed"
    }
    'GRCm38.95.CAMP' {
      fasta       = "/camp/svc/reference/Genomics/babs/mus_musculus/ensembl/GRCm38/release-95/genome//Mus_musculus.GRCm38.dna_sm.toplevel.fa"
      bwa         = "/camp/svc/reference/Genomics/babs/mus_musculus/ensembl/GRCm38/release-95/genome_idx/bwa/Mus_musculus.GRCm38.dna_sm.toplevel.fa"
      bowtie2     = "/camp/svc/reference/Genomics/babs/mus_musculus/ensembl/GRCm38/release-95/genome_idx/bowtie2/"
      star        = "/camp/svc/reference/Genomics/babs/mus_musculus/ensembl/GRCm38/release-95/genome_idx/star/100bp/"
      rsem        = "/camp/svc/reference/Genomics/babs/mus_musculus/ensembl/GRCm38/release-95/genome_idx/rsem/star-2.7.6a/"
      gtf         = "/camp/svc/reference/Genomics/babs/mus_musculus/ensembl/GRCm38/release-95/gtf/Mus_musculus.GRCm38.95.gtf"
      bed12       = "/camp/svc/reference/Genomics/babs/mus_musculus/ensembl/GRCm38/release-95/gtf/Mus_musculus.GRCm38.95.bed"
      mito_name   = "MT"
      macs_gsize  = "1.87e9"
      blacklist   = "/camp/svc/reference/Genomics/babs/mus_musculus/ensembl/GRCm38/release-95/gtf/GRCm38-blacklist.bed"
    }
  }
}