/*
 * -------------------------------------------------------
 *  Nextflow config file for Genomes available on CAMP
 * -------------------------------------------------------
 * For example:
 * nextflow run nf-core/rnaseq \
 *     --genome R64-1-1.camp \
 *     --assembly ensembl \
 *     --release 95 \
 */

params {
    
    // Default parameter values. Ignored if e.g. --release 97 specified on command line
    genomes_base = '/camp/svc/reference/Genomics/babs'
    assembly     = 'ensembl'
    release      = 95

    genomes {
        'R64-1-1.camp' {
          fasta       = "${genomes_base}/saccharomyces_cerevisiae/${params.assembly}/R64-1-1/release-${params.release}/genome/Saccharomyces_cerevisiae.R64-1-1.dna_sm.toplevel.fa"
          gtf         = "${genomes_base}/saccharomyces_cerevisiae/${params.assembly}/R64-1-1/release-${params.release}/gtf/Saccharomyces_cerevisiae.R64-1-1.${params.release}.gtf"
          bed12       = "${genomes_base}/saccharomyces_cerevisiae/${params.assembly}/R64-1-1/release-${params.release}/gtf/Saccharomyces_cerevisiae.R64-1-1.${params.release}.bed"
          bwa         = "${genomes_base}/saccharomyces_cerevisiae/${params.assembly}/R64-1-1/release-${params.release}/genome_idx/bwa/Saccharomyces_cerevisiae.R64-1-1.dna_sm.toplevel.fa"
          bowtie2     = "${genomes_base}/saccharomyces_cerevisiae/${params.assembly}/R64-1-1/release-${params.release}/genome_idx/bowtie2/Saccharomyces_cerevisiae.R64-1-1.dna_sm.toplevel"
          hisat2      = "${genomes_base}/saccharomyces_cerevisiae/${params.assembly}/R64-1-1/release-${params.release}/genome_idx/hisat2/Saccharomyces_cerevisiae.R64-1-1.dna_sm.toplevel"
          star        = "${genomes_base}/saccharomyces_cerevisiae/${params.assembly}/R64-1-1/release-${params.release}/genome_idx/star/100bp/"
          rsem        = "${genomes_base}/saccharomyces_cerevisiae/${params.assembly}/R64-1-1/release-${params.release}/genome_idx/rsem/star/100bp/genome"
          kallisto    = "${genomes_base}/saccharomyces_cerevisiae/${params.assembly}/R64-1-1/release-${params.release}/genome_idx/kallisto/Saccharomyces_cerevisiae.R64-1-1.cdna.all.idx"
          salmon      = "NEED TO ADD"
          mito_name   = "Mito"
          macs_gsize  = "1.2e7"
          blacklist   = "${baseDir}/assets/blacklists/GRCh37-blacklist.bed"
        }
        'R64-1-1.test' {
          fasta       = "${genomes_base}/saccharomyces_cerevisiae/${params.assembly}/R64-1-1/release-${params.release}/genome/Saccharomyces_cerevisiae.R64-1-1.dna_sm.toplevel.fa"
          gtf         = "${genomes_base}/saccharomyces_cerevisiae/${params.assembly}/R64-1-1/release-${params.release}/gtf/Saccharomyces_cerevisiae.R64-1-1.${params.release}.gtf"
          bed12       = "${genomes_base}/saccharomyces_cerevisiae/${params.assembly}/R64-1-1/release-${params.release}/gtf/Saccharomyces_cerevisiae.R64-1-1.${params.release}.bed"
          bwa         = "${genomes_base}/saccharomyces_cerevisiae/${params.assembly}/R64-1-1/release-${params.release}/genome_idx/bwa/Saccharomyces_cerevisiae.R64-1-1.dna_sm.toplevel.fa"
          bowtie2     = "${genomes_base}/saccharomyces_cerevisiae/${params.assembly}/R64-1-1/release-${params.release}/genome_idx/bowtie2/Saccharomyces_cerevisiae.R64-1-1.dna_sm.toplevel"
          hisat2      = "${genomes_base}/saccharomyces_cerevisiae/${params.assembly}/R64-1-1/release-${params.release}/genome_idx/hisat2/Saccharomyces_cerevisiae.R64-1-1.dna_sm.toplevel"
          star        = "${genomes_base}/saccharomyces_cerevisiae/${params.assembly}/R64-1-1/release-${params.release}/genome_idx/star/100bp/"
          rsem        = "${genomes_base}/saccharomyces_cerevisiae/${params.assembly}/R64-1-1/release-${params.release}/genome_idx/rsem/star/100bp/genome"
          kallisto    = "${genomes_base}/saccharomyces_cerevisiae/${params.assembly}/R64-1-1/release-${params.release}/genome_idx/kallisto/Saccharomyces_cerevisiae.R64-1-1.cdna.all.idx"
          salmon      = "NEED TO ADD"
          mito_name   = "Mito"
          macs_gsize  = "1.2e7"
          blacklist   = "${baseDir}/assets/blacklists/GRCh37-blacklist.bed"
        }
    }
}