process {
    
    withName:'PICARD_MARKDUPLICATES' {
        cpus   = { check_max( 13      * task.attempt, 'cpus' ) }
        memory = { check_max( 130.GB  * task.attempt, 'memory' ) }
    }
    withName:'DEEPVARIANT' {
        cpus   = { check_max( 16      * task.attempt, 'cpus' ) }
        memory = { check_max( 80.GB   * task.attempt, 'memory' ) }
    }
}