process {
    
    withName:'PICARD_MARKDUPLICATES' {
        memory = { check_max( 90.GB  * task.attempt, 'memory' ) }
    }
    withName:'DEEPVARIANT' {
        cpus   = { check_max( 16      * task.attempt, 'cpus' ) }
        memory = { check_max( 80.GB   * task.attempt, 'memory' ) }
    }
    withName:'QUALIMAP_BAMQC' {
        ext.args = { "--java-mem-size=${task.memory.giga / 1.15 as long}G" }
    }
}