process {

    withName:'PICARD_MARKDUPLICATES' {
        memory = { check_max( 90.GB  * task.attempt, 'memory' ) }
    }
    withName:'DEEPVARIANT' {
        cpus   = { check_max( 16      * task.attempt, 'cpus' ) }
        memory = { check_max( 80.GB   * task.attempt, 'memory' ) }
    }
    withLabel:'sentieon' {
        beforeScript = { "export PATH=\$PATH:\$SENTIEON_INSTALL_DIR/sentieon-genomics-202112.02/bin" }
    }
    withName: 'BCFTOOLS_VIEW' {
        if (params.genome == 'GRCh37') {
            ext.args = '--output-type z --apply-filters PASS --exclude "INFO/clinical_genomics_mipAF > 0.40 | INFO/swegenAF > 0.40 | INFO/clingen_ngiAF > 0.40 | INFO/gnomad_svAF > 0.40 "'
        } else if (params.genome == 'GRCh38') {
            ext.args = '--output-type z --apply-filters PASS --exclude "INFO/swegen_FRQ > 0.40"'
        }
        publishDir = [
            enabled: false,
        ]
    }

    // Java memory fixes
    withName:'QUALIMAP_BAMQC' {
        clusterOptions = { "-A $params.priority ${params.clusterOptions ?: ''} ${task.memory ? "--mem ${task.memory.mega * 1.15 as long}M" : ''}" }
    }
    withName:'PICARD_MARKDUPLICATES' {
        clusterOptions = { "-A $params.priority ${params.clusterOptions ?: ''} ${task.memory ? "--mem ${task.memory.mega * 1.15 as long}M" : ''}" }
    }
    
}
