/*
 * -------------------------------------------------
 *  nfcore custom profile Nextflow config file
 * -------------------------------------------------
 * Config options for all custom environments.
 * Cluster-specific config options should be saved
 * in the conf folder and imported under a profile
 * name here.
 */

//Please use a new line per include Config section to allow easier linting/parsing. Thank you.
profiles {
  awsbatch     { includeConfig "${params.custom_config_base}/conf/awsbatch.config" }
  bigpurple    { includeConfig "${params.custom_config_base}/conf/bigpurple.config" }
  binac        { includeConfig "${params.custom_config_base}/conf/binac.config" }
  cbe          { includeConfig "${params.custom_config_base}/conf/cbe.config" }
  ccga_dx      { includeConfig "${params.custom_config_base}/conf/ccga_dx.config" }
  ccga_med     { includeConfig "${params.custom_config_base}/conf/ccga_med.config" }
  cfc          { includeConfig "${params.custom_config_base}/conf/cfc.config" }
  cfc_dev      { includeConfig "${params.custom_config_base}/conf/cfc_dev.config" }
  crick        { includeConfig "${params.custom_config_base}/conf/crick.config" }
  czbiohub_aws { includeConfig "${params.custom_config_base}/conf/czbiohub_aws.config" }
  czbiohub_aws_highpriority {
                 includeConfig "${params.custom_config_base}/conf/czbiohub_aws.config";
                 includeConfig "${params.custom_config_base}/conf/czbiohub_aws_highpriority.config"}
  ebc          { includeConfig "${params.custom_config_base}/conf/ebc.config" }
  genotoul     { includeConfig "${params.custom_config_base}/conf/genotoul.config" }
  google       { includeConfig "${params.custom_config_base}/conf/google.config" }
  denbi_qbic   { includeConfig "${params.custom_config_base}/conf/denbi_qbic.config" }
  genouest     { includeConfig "${params.custom_config_base}/conf/genouest.config" }
  gis          { includeConfig "${params.custom_config_base}/conf/gis.config" }
  hebbe        { includeConfig "${params.custom_config_base}/conf/hebbe.config" }
  kraken       { includeConfig "${params.custom_config_base}/conf/kraken.config" }
  munin        { includeConfig "${params.custom_config_base}/conf/munin.config" }
  pasteur      { includeConfig "${params.custom_config_base}/conf/pasteur.config" }
  phoenix      { includeConfig "${params.custom_config_base}/conf/phoenix.config" }
  prince       { includeConfig "${params.custom_config_base}/conf/prince.config" }
  shh          { includeConfig "${params.custom_config_base}/conf/shh.config" }
  uct_hex      { includeConfig "${params.custom_config_base}/conf/uct_hex.config" }
  uppmax       { includeConfig "${params.custom_config_base}/conf/uppmax.config" }
  utd_ganymede { includeConfig "${params.custom_config_base}/conf/utd_ganymede.config" }
  uzh          { includeConfig "${params.custom_config_base}/conf/uzh.config" }
}

// If user hostnames contain one of these substring and they are
// not running the associated profile, it will trigger a warning message
// Should be defined here for all profiles (not within profile config)
params {
  // This is a groovy map, not a nextflow parameter set
  hostnames = [
    binac: ['.binac.uni-tuebingen.de'],
    cbe: ['.cbe.vbc.ac.at'],
    cfc: ['.hpc.uni-tuebingen.de'],
    crick: ['.thecrick.org'],
    genotoul: ['.genologin1.toulouse.inra.fr', '.genologin2.toulouse.inra.fr'],
    genouest: ['.genouest.org'],
    uppmax: ['.uppmax.uu.se'],
    utd_ganymede: ['ganymede.utdallas.edu']
  ]
}
