/*
 * -------------------------------------------------
 *  nfcore custom profile Nextflow config file
 * -------------------------------------------------
 * Config options for all custom environments.
 * Cluster-specific config options should be saved
 * in the conf folder and imported under a profile
 * name here.
 */

config_base = "${params.custom_config_base}" ?: "${params.custom_config_base}/conf" : "https://raw.githubusercontent.com/nf-core/configs/master/conf"


profiles {
  binac        { includeConfig "${config_base}/binac.config" }
  ccga         { includeConfig "${config_base}/ccga.config" }
  cfc          { includeConfig "${config_base}/cfc.config" }
  crick        { includeConfig "${config_base}/crick.config" }
  gis          { includeConfig "${config_base}/gis.config" }
  hebbe        { includeConfig "${config_base}/hebbe.config" }
  mendel       { includeConfig "${config_base}/mendel.config" }
  munin        { includeConfig "${config_base}/munin.config" }
  phoenix      { includeConfig "${config_base}/phoenix.config" }
  shh          { includeConfig "${config_base}/shh.config" }
  uct_hex      { includeConfig "${config_base}/uct_hex.config" }
  uppmax_devel { includeConfig "${config_base}/uppmax.config"
                 includeConfig "${config_base}/uppmax-devel.config"
  }
  uppmax       { includeConfig "${config_base}/uppmax.config" }
  uzh          { includeConfig "${config_base}/uzh.config" }
}
