/*
 * -------------------------------------------------
 *  nfcore custom profile Nextflow config file
 * -------------------------------------------------
 * Config options for all custom environments.
 * Cluster-specific config options should be saved
 * in the conf folder and imported under a profile
 * name here.
 */

params.custom_config_version = 'master'
params.custom_config_base = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"

profiles {
  binac        { includeConfig "${params.custom_config_base}/binac.config" }
  ccga         { includeConfig "${params.custom_config_base}/ccga.config" }
  cfc          { includeConfig "${params.custom_config_base}/cfc.config" }
  crick        { includeConfig "${params.custom_config_base}/crick.config" }
  gis          { includeConfig "${params.custom_config_base}/gis.config" }
  hebbe        { includeConfig "${params.custom_config_base}/hebbe.config" }
  mendel       { includeConfig "${params.custom_config_base}/mendel.config" }
  munin        { includeConfig "${params.custom_config_base}/munin.config" }
  phoenix      { includeConfig "${params.custom_config_base}/phoenix.config" }
  shh          { includeConfig "${params.custom_config_base}/shh.config" }
  test_configs { includeConfig "${params.custom_config_base}/test_configs.config"}
  uct_hex      { includeConfig "${params.custom_config_base}/uct_hex.config" }
  uppmax_devel { includeConfig "${params.custom_config_base}/uppmax.config"
                 includeConfig "${params.custom_config_base}/uppmax-devel.config"
  }
  uppmax       { includeConfig "${params.custom_config_base}/uppmax.config" }
  uzh          { includeConfig "${params.custom_config_base}/uzh.config" }
}
