/*
 * -------------------------------------------------
 *  nfcore/demultiplex custom profile Nextflow config file
 * -------------------------------------------------
 * Config options for custom environments.
 * Cluster-specific config options should be saved
 * in the conf/pipeline/demultiplex folder and imported
 * under a profile name here.
 */

profiles {
  aws_tower { includeConfig "${params.custom_config_base}/conf/pipeline/demultiplex/aws_tower.config" }
}
