/*
 * -------------------------------------------------
 *  nfcore/eager custom profile Nextflow config file
 * -------------------------------------------------
 * Config options for custom environments.
 * Cluster-specific config options should be saved
 * in the conf/pipeline/eager folder and imported
 * under a profile name here.
 */

profiles {
  shh { includeConfig "${params.custom_config_base}/conf/pipeline/eager/shh.config" }
  mpcdf { includeConfig "${params.custom_config_base}/conf/pipeline/eager/mpcdf.config" }
  eva { includeConfig "${params.custom_config_base}/conf/pipeline/eager/eva.config" }
}
