/*
 * -------------------------------------------------
 *  nfcore/mag custom profile Nextflow config file
 * -------------------------------------------------
 * Config options for custom environments.
 * Cluster-specific config options should be saved
 * in the conf/pipeline/mag folder and imported
 * under a profile name here.
 */

profiles {
  engaging { includeConfig "${params.custom_config_base}/conf/pipeline/mag/engaging.config" }
  eva { includeConfig "${params.custom_config_base}/conf/pipeline/mag/eva.config" }
}
