/*
* -------------------------------------------------
*  nfcore/mitodetect custom profile Nextflow config file
* -------------------------------------------------
* Config options for custom environments.
* Cluster-specific config options should be saved
* in the conf/pipeline/mitodetect folder and imported
* under a profile name here.
*/

profiles {
}
