/*
 * -------------------------------------------------
 *  nfcore/radseq custom profile Nextflow config file
 * -------------------------------------------------
 * Config options for custom environments.
 * Cluster-specific config options should be saved
 * in the conf/pipeline/radseq folder and imported
 * under a profile name here.
 */

profiles {
}
