/*
 * -------------------------------------------------
 *  nfcore/raredisease custom profile Nextflow config file
 * -------------------------------------------------
 * Config options for custom environments.
 * Cluster-specific config options should be saved
 * in the conf/pipeline/raredisease folder and imported
 * under a profile name here.
 */

profiles {
  hasta { includeConfig "${params.custom_config_base}/conf/pipeline/raredisease/hasta.config" }  
}
