/*
 * -------------------------------------------------
 *  nfcore/rnavar custom profile Nextflow config file
 * -------------------------------------------------
 * Config options for custom environments.
 * Cluster-specific config options should be saved
 * in the conf/pipeline/rnavar folder and imported
 * under a profile name here.
 */

profiles {
  munin { includeConfig "${params.custom_config_base}/conf/pipeline/rnavar/munin.config" }
}
