/*
 * -------------------------------------------------
 *  nfcore/sarek custom profile Nextflow config file
 * -------------------------------------------------
 * Config options for custom environments.
 * Cluster-specific config options should be saved
 * in the conf/pipeline/sarek folder and imported
 * under a profile name here.
 */

profiles {
  munin { includeConfig "${params.custom_config_base}/conf/pipeline/sarek/munin.config" }
  uppmax { includeConfig "${params.custom_config_base}/conf/pipeline/sarek/uppmax.config" }
  icr_davros { includeConfig "${params.custom_config_base}/conf/pipeline/sarek/icr_davros.config" }
  cfc { includeConfig "${params.custom_config_base}/conf/pipeline/sarek/cfc.config" }
  cfc_dev { includeConfig "${params.custom_config_base}/conf/pipeline/sarek/cfc.config" }
  eddie { includeConfig "${params.custom_config_base}/conf/pipeline/sarek/eddie.config" }
}