process {


    // TODO nf-core: Check the defaults for all processes
    cpus   = { 1      * task.attempt }
    memory = { 6.GB   * task.attempt }
    time   = { 4.h    * task.attempt }

    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    maxRetries    = 2
    maxErrors     = '-1'


    // Subsampling reads
    withName: 'SEQTK_SAMPLE' {
        cpus = 6
        memory = { 4.GB * task.attempt }
        time = { 4.h * task.attempt }
    }

    // Quality control
    withName: 'FASTQC' {
        cpus = 2
        memory = { 36.GB * task.attempt }
        time = { 8.h * task.attempt }
    }
    withName: 'SEQFU_STATS' {
        cpus = 6
        memory = { 4.GB * task.attempt }
        time = { 4.h * task.attempt }
    }
    withName: 'FASTQSCREEN_FASTQSCREEN' {
        cpus = 6
        memory = { 36.GB * task.attempt }
        time = { 8.h * task.attempt }
    }

    // Reference genome processing
    withName: 'BWAMEM2_INDEX' {
        cpus = 12
        memory = { 72.GB * task.attempt }
        time = { 16.h * task.attempt }
    }
    withName: 'BWAMEM2_MEM' {
        cpus = 6
        memory = { 35.GB * task.attempt }
        time = { 16.h * task.attempt }
    }
    withName: 'SAMTOOLS_INDEX' {
        cpus = 6
        memory = { 4.GB * task.attempt }
        time = { 4.h * task.attempt }
    }
    withName: 'SAMTOOLS_FAIDX' {
        cpus = 6
        memory = { 6.GB * task.attempt }
        time = { 4.h * task.attempt }
    }
    // Picard metrics
    withName: 'PICARD_COLLECTMULTIPLEMETRICS' {
        cpus = 4
        memory = { 8.GB * task.attempt }
        time = { 4.h * task.attempt }
    }

    // MultiQC aggregation
    withName: 'MULTIQC_GLOBAL|MULTIQC_PER_TAG' {
        cpus = 4
        memory = { 4.GB * task.attempt }
        time = { 4.h * task.attempt }
    }
}