process {

    withName:'PICARD_MARKDUPLICATES' {
        memory = { check_max( 90.GB  * task.attempt, 'memory' ) }
    }

    // Java memory fixes
    withName:'PICARD_MARKDUPLICATES' {
        clusterOptions = { "-A $params.priority ${params.clusterOptions ?: ''} ${task.memory ? "--mem ${task.memory.mega * 1.15 as long}M" : ''}" }
    }
}
