params {
    config_profile_description = "cutandrun BARC nf-core profile for UNC's Longleaf HPC."
    config_profile_contact = 'Austin Hepperla'
    config_profile_contact_github = '@ahepperla'
    config_profile_contact_email = 'hepperla@unc.edu'
    config_profile_url = "https://help.rc.unc.edu/longleaf-cluster/"
}

process {
    withName: 'FRAG_LEN_HIST' {
        memory = 100.GB
    }

    withName: 'DEEPTOOLS_PLOTHEATMAP_GENE_ALL' {
        memory = 100.GB
    }
}
