params {
  // Specific nf-core/configs params
  config_profile_contact = 'Sofia Stamouli (@sofstam)'
  config_profile_description = 'nf-core/taxprofiler HASTA profile provided by nf-core/configs'
}

process {

    withName:'BBMAP_BBDUK' {
        memory = { check_max( 80.GB   * task.attempt, 'memory' ) }
    }

    withName: 'MALT_RUN' {
        memory = { check_max( 80.GB   * task.attempt, 'memory' ) }
    }
    
    withName: 'MEGAN_RMA2INFO_TSV' {
        memory = { check_max( 80.GB   * task.attempt, 'memory' ) }
    }
}
