params {
    // Specific nf-core/configs params
    config_profile_contact       = 'Sofia Stamouli (@sofstam)'
    config_profile_description   = 'nf-core/taxprofiler HASTA profile provided by nf-core/configs'
    validationSchemaIgnoreParams = "priority,clusterOptions,schema_ignore_params,genomes,fasta"
}

process {

    withName:'FASTQC' {
        memory = { 6.GB * task.attempt }
        time   = { 4.h  * task.attempt }
        cpus = 2
    }

    withName:'FASTP' {
        memory = { 8.GB * task.attempt }
        time   = { 16.h * task.attempt }
        cpus = 6
    }

    withName:'BBMAP_BBDUK' {
        memory = { 72.GB * task.attempt }
    }

    withName: KRAKEN2_KRAKEN2 {
        memory = { 96.GB * task.attempt }
        time   = { 24.h * task.attempt }
        cpus   = 12
    }

    withName: MALT_RUN {
        memory = { 72.GB * task.attempt }
    }

    withName: MEGAN_RMA2INFO_TSV {
        memory = { 72.GB * task.attempt }
    }

    withName: DIAMOND_BLASTX {
        cpus   = { 36 * task.attempt }
        memory = { 72.GB * task.attempt }
        time   = { 72.h * task.attempt }
    }

    withName: KAIJU_KAIJU2TABLE {
        cpus   = { 6 * task.attempt }
        memory = { 36.GB * task.attempt }
        time   = { 8.h * task.attempt }
    }

    withName: MULTIQC {
        cpus   = 2
        memory = { 4.GB * task.attempt }
        time   = { 4.h * task.attempt }
    }
}
