params {
    // Specific nf-core/configs params
    config_profile_contact = 'Sofia Stamouli (@sofstam)'
    config_profile_description = 'nf-core/taxprofiler HASTA profile provided by nf-core/configs'
    validationSchemaIgnoreParams = "priority,clusterOptions,schema_ignore_params,genomes,fasta"
}

process {

    withName:'BBMAP_BBDUK' {
        memory = { check_max( 72.GB   * task.attempt, 'memory' ) }
    }

    withName: 'MALT_RUN' {
        memory = { check_max( 72.GB   * task.attempt, 'memory' ) }
    }

    withName: 'MEGAN_RMA2INFO_TSV' {
        memory = { check_max( 72.GB   * task.attempt, 'memory' ) }
    }

    withName: 'DIAMOND_BLASTX' {
        cpus   = { check_max( 36      * task.attempt, 'cpus'   ) }
        memory = { check_max( 72.GB   * task.attempt, 'memory' ) }
        time   = { check_max( 72.h    * task.attempt, 'time'   ) }
    }

    withName: 'KAIJU_KAIJU2TABLE' {
        cpus   = { check_max( 6      * task.attempt, 'cpus'   ) }
        memory = { check_max( 36.GB  * task.attempt, 'memory' ) }
        time   = { check_max( 8.h    * task.attempt, 'time'   ) }
    }
}
