profiles {
    crg {
        params {
            config_profile_contact     = 'Luisa Santus (@luisas)'
            config_profile_description = 'nf-core/deepmodeloptim CRG profile provided by nf-core/configs'
        }
        process {
            queue = 'short-centos79,long-centos79'
            withName: 'STIMULUS_TUNE' {
                memory = "20.GB"
                time = '3h'
                clusterOptions = '--qos=normal --partition=gpu --gres=gpu:1g.10gb:1'
            }
        }
        singularity {
            enabled = true
            envWhitelist = "CUDA_VISIBLE_DEVICES,NVIDIA_VISIBLE_DEVICES"
            runOptions = params.get('use_gpu', false) ? '--nv' : ''
            pullTimeout = "60m"
        }
    }
}
