/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-core/sarek Nextflow config file for Azure Batch pools
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines several Azure Batch pools with virtual machines from Ddv4-series,
    assigns pools to labels according to the requirements defined in base.config.
    You might need to adjust vmCount and maxVmCount depending on your Batch account quotas.

    Use as follows:
        nextflow run nf-core/sarek -profile azurebatch
            --input 'az://<Path to input file>' --outdir 'az://<Output directory>'
            -w 'az://<Work directory>' [<Other pipeline parameters>]
----------------------------------------------------------------------------------------
*/

params {
    config_profile_description = 'Azure Batch Ddv4 pools profile'
    config_profile_contact     = ' Venkat Malladi (@vsmalladi) & Olesya Melnichenko (@olesya13)'
    config_profile_url         = 'https://azure.microsoft.com/services/batch/'
}

process {
    queue = 'Standard_D8d_v4'
    withLabel: process_low {
        queue = 'Standard_D8d_v4'
    }
    withLabel: process_medium {
        queue = 'Standard_D16d_v4'
    }
    withLabel: process_high {
        queue = 'Standard_D32d_v4'
    }
    withLabel: process_high_memory {
        queue = 'Standard_D64d_v4'
    }
}

azure {
    batch {
        autoPoolMode      = false
        allowPoolCreation = true
        pools {
            Standard_D8d_v4 {
                autoScale  = true
                vmType     = 'Standard_D8d_v4'
                vmCount    = 2
                maxVmCount = 20
            }
            Standard_D16d_v4 {
                autoScale  = true
                vmType     = 'Standard_D16d_v4'
                vmCount    = 2
                maxVmCount = 20
            }
            Standard_D32d_v4 {
                autoScale  = true
                vmType     = 'Standard_D32d_v4'
                vmCount    = 2
                maxVmCount = 20
            }
            Standard_D64d_v4 {
                autoScale  = true
                vmType     = 'Standard_D64d_v4'
                vmCount    = 2
                maxVmCount = 10
            }
        }
    }
}
