// Profile config names for nf-core/configs

params {
  // Specific nf-core/configs params
  config_profile_contact = 'Friederike Hanssen (@FriederikeHanssen)'
  config_profile_description = 'nf-core/sarek CFC profile provided by nf-core/configs'
}

// Specific nf-core/sarek process configuration
process {
  withName:'StrelkaSingle|Strelka|StrelkaBP|MantaSingle|Manta' {
    memory = 59.GB
    cpus = 20
  }
  withName:'MSIsensor_scan|MSIsensor_msi' {
    memory = 55.GB
  }
  withName:BamQC {
    memory = 372.GB
  }
  withName:MapReads{
    cpus = 20
    memory = 59.GB
  }
}
