// Profile config names for nf-core/configs

params {
  // Specific nf-core/configs params
  config_profile_description = 'Cancer Research UK Manchester Institute HPC cluster profile provided by nf-core/configs'
  config_profile_contact = 'Stephen Kitcatt, Simon Pearce (@skitcattCRUKMI, @sppearce)'
  config_profile_url = 'http://scicom.picr.man.ac.uk/projects/user-support/wiki'
}

// Specific nf-core/sarek process configuration
process {

  withName: 'SAMTOOLS_MPILEUP' {
    cpus   = 1
    memory = { 5.GB * task.attempt }
  }

}
