process {
  withLabel: "process_single" {
    cpus = 1
    memory = 4.GB
  }
  withName: ".*GATK4.*" {
    memory = 16.GB
    clusterOptions = {"-l h_vmem=${(task.memory + 4.GB).bytes/task.cpus}"}
  }
  withName: "GETPILEUPSUMMARIES.*" {
    memory = 16.GB
    clusterOptions = {"-l h_vmem=${(task.memory + 4.GB).bytes/task.cpus}"}
  }
  withName: "UNZIP.*|UNTAR.*|TABIX.*|BUILD_INTERVALS|CREATE_INTERVALS_BED|CUSTOM_DUMPSOFTWAREVERSIONS|VCFTOOLS|BCFTOOLS.*|SAMTOOLS_INDEX|MOSDEPTH" {
    cpus = 1
    memory = 4.GB
  }
  withName: "BCFTOOLS_SORT" {
    cpus=4
    memory=24.GB
  }
  withName: "STRELKA_SINGLE" {
    memory=12.GB
  }
  withName: "FREEBAYES" {
    cpus = 1
    memory = 16.GB
    time = 24.h
  }
  withName: "MULTIQC" {
    cpus = 1
    memory = 12.GB
  }
  withName: "BCFTOOLS_SORT" {
    cpus = 1
    memory = 8.GB
  }
  withName: "MUTECT2_PAIRED" {
    cpus = 1
    memory = 16.GB
    time = 24.h
  }
  withName: "SAMTOOLS_MPILEUP" {
    time = 24.h
  }
}
