process {

  withName:BWAMEM_MEM {
    cpus = 16
    memory = 128.GB
    clusterOptions = {"-l h_vmem=${(task.memory + 8.GB).bytes/task.cpus}"}
  }
  withName:GATK4_CREATESEQUENCEDICTIONARY {
    cpus = 1
    clusterOptions = {"-l h_vmem=${(task.memory + 4.GB).bytes/task.cpus}"}
  }
  withName:QUALIMAP_BAMQC {
    cpus = 8
    memory = 128.GB
    clusterOptions = {"-l h_vmem=${(task.memory + 8.GB).bytes/task.cpus}"}
  }
  withName:GATK4_MARKDUPLICATES {
    clusterOptions = {"-l h_vmem=${(task.memory + 4.GB).bytes/task.cpus}"}
  }
  withName:BASERECALIBRATOR {
    clusterOptions = {"-l h_vmem=${(task.memory + 4.GB).bytes/task.cpus}"}
  }
  withName:APPLYBQSR {
    clusterOptions = {"-l h_vmem=${(task.memory + 4.GB).bytes/task.cpus}"}
  }
  withName:GATHERBQSRREPORTS {
    clusterOptions = {"-l h_vmem=${(task.memory + 4.GB).bytes/task.cpus}"}
  }
  withName:GATK4_HAPLOTYPECALLER {
    clusterOptions = {"-l h_vmem=${(task.memory + 4.GB).bytes/task.cpus}"}
  }
  withName:GATK4_GENOTYPEGVCFS {
    clusterOptions = {"-l h_vmem=${(task.memory + 4.GB).bytes/task.cpus}"}
  }
  withName:MUTECT2 {
    clusterOptions = {"-l h_vmem=${(task.memory + 4.GB).bytes/task.cpus}"}
  }
  withName:MERGEMUTECTSTATS {
    clusterOptions = {"-l h_vmem=${(task.memory + 4.GB).bytes/task.cpus}"}
  }
  withName:GETPILEUPSUMMARIES {
    clusterOptions = {"-l h_vmem=${(task.memory + 4.GB).bytes/task.cpus}"}
  }
  withName:GATHERPILEUPSUMMARIES {
    clusterOptions = {"-l h_vmem=${(task.memory + 4.GB).bytes/task.cpus}"}
  }
  withName:CALCULATECONTAMINATION {  
    clusterOptions = {"-l h_vmem=${(task.memory + 4.GB).bytes/task.cpus}"}
  }
  withName:FILTERMUTECTCALLS {
    clusterOptions = {"-l h_vmem=${(task.memory + 4.GB).bytes/task.cpus}"}
  }  
}
