process {

  withName:MapReads {
    cpus = 16
  }
  withName:BuildDict {
    cpus = 1
    clusterOptions = {"-l h_vmem=${(task.memory + 4.GB).bytes/task.cpus}"}
  }
  withName:BamQC {
    cpus = 8
    memory = 128.GB
    clusterOptions = {"-l h_vmem=${(task.memory + 8.GB).bytes/task.cpus}"}
  }
  withName:MarkDuplicates {
    clusterOptions = {"-l h_vmem=${(task.memory + 4.GB).bytes/task.cpus}"}
  }
  withName:BaseRecalibrator {
    clusterOptions = {"-l h_vmem=${(task.memory + 4.GB).bytes/task.cpus}"}
  }
  withName:ApplyBQSR {
    clusterOptions = {"-l h_vmem=${(task.memory + 4.GB).bytes/task.cpus}"}
  }
  withName:GatherBQSRReports {
    clusterOptions = {"-l h_vmem=${(task.memory + 4.GB).bytes/task.cpus}"}
  }
  withName:HaplotypeCaller {
    clusterOptions = {"-l h_vmem=${(task.memory + 4.GB).bytes/task.cpus}"}
  }
  withName:GenotypeGVCFs {
    clusterOptions = {"-l h_vmem=${(task.memory + 4.GB).bytes/task.cpus}"}
  }
  withName:Mutect2 {
    clusterOptions = {"-l h_vmem=${(task.memory + 4.GB).bytes/task.cpus}"}
  }
  withName:MergeMutect2Stats {
    clusterOptions = {"-l h_vmem=${(task.memory + 4.GB).bytes/task.cpus}"}
  }
  withName:PileupSummariesForMutect2 {
    clusterOptions = {"-l h_vmem=${(task.memory + 4.GB).bytes/task.cpus}"}
  }
  withName:MergePileupSummaries {
    clusterOptions = {"-l h_vmem=${(task.memory + 4.GB).bytes/task.cpus}"}
  }
  withName:CalculateContamination {  
    clusterOptions = {"-l h_vmem=${(task.memory + 4.GB).bytes/task.cpus}"}
  }
  withName:FilterMutect2Calls {
    clusterOptions = {"-l h_vmem=${(task.memory + 4.GB).bytes/task.cpus}"}
  }  
}
