
// Profile config names for nf-core/configs

params {
  // Specific nf-core/configs params
  config_profile_contact = 'James A. Fellows Yates (@jfy133)'
  config_profile_description = 'nf-core/sarek EVA profile provided by nf-core/configs'
}

env {
    _JAVA_OPTIONS = "-XX:ParallelGCThreads=1"
    OPENBLAS_NUM_THREADS = 1
    OMP_NUM_THREADS = 1
}

process {
  withName:GATK4_APPLYBQSR {
    clusterOptions = { "-S /bin/bash -V -l h_vmem=${(task.memory.toGiga() * 3)}G" }
  }
  withName:GATK4_APPLYBQSR_SPARK {
    clusterOptions = { "-S /bin/bash -V -l h_vmem=${(task.memory.toGiga() * 3)}G" }
  }
  withName:GATK4_APPLYVQSR {
    clusterOptions = { "-S /bin/bash -V -l h_vmem=${(task.memory.toGiga() * 3)}G" }
  }
  withName:GATK4_BASERECALIBRATOR {
    clusterOptions = { "-S /bin/bash -V -l h_vmem=${(task.memory.toGiga() * 3)}G" }
  }
  withName:GATK4_BASERECALIBRATOR_SPARK {
    clusterOptions = { "-S /bin/bash -V -l h_vmem=${(task.memory.toGiga() * 3)}G" }
  }
  withName:GATK4_CALCULATECONTAMINATION {  
    clusterOptions = { "-S /bin/bash -V -l h_vmem=${(task.memory.toGiga() * 3)}G" }
  }
  withName:GATK4_CNNSCOREVARIANTS {
    clusterOptions = { "-S /bin/bash -V -l h_vmem=${(task.memory.toGiga() * 3)}G" }
  }
  withName:GATK4_CREATESEQUENCEDICTIONARY {
    clusterOptions = { "-S /bin/bash -V -l h_vmem=${(task.memory.toGiga() * 3)}G" }
  }
  withName:GATK4_ESTIMATELIBRARYCOMPLEXITY {
    clusterOptions = { "-S /bin/bash -V -l h_vmem=${(task.memory.toGiga() * 3)}G" }
  }
  withName:GATK4_FILTERMUTECTCALLS {
    clusterOptions = { "-S /bin/bash -V -l h_vmem=${(task.memory.toGiga() * 3)}G" }
  }
  withName:GATK4_FILTERVARIANTTRANCHES {
    clusterOptions = { "-S /bin/bash -V -l h_vmem=${(task.memory.toGiga() * 3)}G" }
  }
  withName:GATK4_GATHERBQSRREPORTS {
    clusterOptions = { "-S /bin/bash -V -l h_vmem=${(task.memory.toGiga() * 3)}G" }
  }
  withName:GATK4_GATHERPILEUPSUMMARIES {
    clusterOptions = { "-S /bin/bash -V -l h_vmem=${(task.memory.toGiga() * 3)}G" }
  }
  withName:GATK4_GENOMICSDBIMPORT {
    clusterOptions = { "-S /bin/bash -V -l h_vmem=${(task.memory.toGiga() * 3)}G" }
  }
  withName:GATK4_GENOTYPEGVCFS {
    clusterOptions = { "-S /bin/bash -V -l h_vmem=${(task.memory.toGiga() * 3)}G" }
  }
  withName:GATK4_GETPILEUPSUMMARIES {
    clusterOptions = { "-S /bin/bash -V -l h_vmem=${(task.memory.toGiga() * 3)}G" }
  }
  withName:GATK4_HAPLOTYPECALLER {
    clusterOptions = { "-S /bin/bash -V -l h_vmem=${(task.memory.toGiga() * 3)}G" }
  }
  withName:GATK4_INTERVALLISTTOBED {
    clusterOptions = { "-S /bin/bash -V -l h_vmem=${(task.memory.toGiga() * 3)}G" }
  }
  withName:GATK4_LEARNREADORIENTATIONMODEL {
    clusterOptions = { "-S /bin/bash -V -l h_vmem=${(task.memory.toGiga() * 3)}G" }
  }
  withName:GATK4_MARKDUPLICATES {
    clusterOptions = { "-S /bin/bash -V -l h_vmem=${(task.memory.toGiga() * 3)}G" }
  }
  withName:GATK4_MARKDUPLICATES_SPARK {
    clusterOptions = { "-S /bin/bash -V -l h_vmem=${(task.memory.toGiga() * 3)}G" }
  }
  withName:GATK4_MERGEMUTECTSTATS {
    clusterOptions = { "-S /bin/bash -V -l h_vmem=${(task.memory.toGiga() * 3)}G" }
  }
  withName:GATK4_MERGEVCFS {
    clusterOptions = { "-S /bin/bash -V -l h_vmem=${(task.memory.toGiga() * 3)}G" }
  }
  withName:GATK4_MUTECT2 {
    clusterOptions = { "-S /bin/bash -V -l h_vmem=${(task.memory.toGiga() * 3)}G" }
  }
  withName:GATK4_VARIANTRECALIBRATOR {
    clusterOptions = { "-S /bin/bash -V -l h_vmem=${(task.memory.toGiga() * 3)}G" }
  }
}
