/*
    * -------------------------------------------------
    *  Nextflow nf-core config file for ICR davros HPC
    * -------------------------------------------------
    */
process {
    errorStrategy = { task.exitStatus in [104, 134, 137, 139, 141, 143, 255] ? 'retry' : 'finish' }
    maxRetries    = 5
}

params {
    warning_message = {
        System.out.println("WARNING: !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!")
        System.out.println("WARNING:")
        System.out.println("WARNING: THIS CONFIG IS NO LONGER MAINTAINED.")
        System.out.println("WARNING:")
        System.out.println("WARNING: THIS CONFIG WILL BE DEPRECATED BY THE END OF MAY 2026 DUE TO AN UPCOMING NEXTFLOW VERSION THAT WILL NOT BE BACKWARDS COMPATIBLE.")
        System.out.println("WARNING: MODIFICATIONS TO THIS CONFIG AND TESTING BY USERS OF THE INFRASTRUCTURE ARE REQUIRED TO ENSURE THE CONFIG REMAINS FUNCTIONAL.")
        System.out.println("WARNING:")
        System.out.println("WARNING: PLEASE GET IN CONTACT WITH THE NF-CORE COMMUNITY VIA SLACK  (#configs CHANNEL) OR EMAIL (https://nf-co.re/join) ASAP")
        System.out.println("WARNING: TO ALLOW CONTINUED USE OF YOUR CONFIG WITH NF-CORE PIPELINES")
        System.out.println("WARNING:")
        System.out.println("WARNING: !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!")
    }.call()
}
