/*
    * -------------------------------------------------
    *  Nextflow nf-core config file for ICR davros HPC
    * -------------------------------------------------
    */
process {
    errorStrategy = { task.exitStatus in [104, 134, 137, 139, 141, 143, 255] ? 'retry' : 'finish' }
    maxRetries    = 5
}
