// Profile config names for nf-core/configs

params {
    // Specific nf-core/configs params
    config_profile_contact = 'Famke Bäuerle (@famosab)'
    config_profile_description = 'nf-core/sarek M3C profile provided by nf-core/configs'
}

// Specific nf-core/sarek process configuration
process {
    // In nf-core/sarek the time is set to 32.h, that means all jobs are being sent to cpu3-long which is not needed and stalls the pipeline
    // Therefore we set the time to 24.h and only processes with label `process_long` that need more time will be sent to cpu3-long
    withLabel:process_high {
        time   = { 24.h  * task.attempt }
    }
}
