// sarek/munin specific profile config

params {
  // Specific nf-core/configs params
  config_profile_contact = 'Maxime Garcia (@maxulysse)'
  config_profile_description = 'nf-core/sarek MUNIN profile provided by nf-core/configs'
  config_profile_url = 'https://ki.se/forskning/barntumorbanken'

  // Specific nf-core/sarek params
  annotation_cache  = true
  cadd_cache        = true
  cadd_indels       = '/data1/cache/CADD/v1.4/InDels.tsv.gz'
  cadd_indels_tbi   = '/data1/cache/CADD/v1.4/InDels.tsv.gz.tbi'
  cadd_wg_snvs      = '/data1/cache/CADD/v1.4/whole_genome_SNVs.tsv.gz'
  cadd_wg_snvs_tbi  = '/data1/cache/CADD/v1.4/whole_genome_SNVs.tsv.gz.tbi'
  pon               = '/data1/PON/vcfs/BTB.PON.vcf.gz'
  pon_index         = '/data1/PON/vcfs/BTB.PON.vcf.gz.tbi'
  snpeff_cache      = '/data1/cache/snpEff/'
  vep_cache         = '/data1/cache/VEP/'
  vep_cache_version = '95'
}

// Specific nf-core/sarek process configuration
process {
  withLabel:sentieon {
    module    = {params.sentieon ? 'sentieon/202112.02' : null}
    container = {params.sentieon ? null : container}
  }
}
