// sarek/uppmax specific profile config

params {
  config_profile_contact = 'Maxime Garcia (@MaxUlysse)'
  config_profile_description = 'nf-core/sarek uppmax profile provided by nf-core/configs'

  singleCPUmem = 7.GB
// Just useful until iGenomes is updated on UPPMAX
  igenomeIgnore = true
  genomes_base = params.genome == 'GRCh37' ? '/sw/data/uppnex/ToolBox/ReferenceAssemblies/hg38make/bundle/2.8/b37' : '/sw/data/uppnex/ToolBox/hg38bundle'
}

if (hostname ==~ "i.*") {
  params.singleCPUmem = 15.GB
}
