// sarek/uppmax specific profile config

params {
  config_profile_contact = 'Maxime Garcia (@MaxUlysse)'
  config_profile_description = 'nf-core/sarek uppmax profile provided by nf-core/configs'

  single_cpu_mem = 7000.MB
// Just useful until iGenomes is updated on UPPMAX
  igenomes_ignore = true
  genomes_base = params.genome == 'GRCh37' ? '/sw/data/uppnex/ToolBox/ReferenceAssemblies/hg38make/bundle/2.8/b37' : '/sw/data/uppnex/ToolBox/hg38bundle'
}

def hostname = "hostname".execute().text.trim()

if (hostname ==~ "r.*") {
  params.single_cpu_mem = 6400.MB

  process {
    withName:BamQC {
      cpus = {params.max_cpus}
      memory = {params.max_memory}
    }
  }
}

if (hostname ==~ "i.*") {
  params.single_cpu_mem = 15.GB
}

// Miarka-specific config
if (hostname ==~ "m.*") {
  params.single_cpu_mem = 7.GB
}
