//Profile config names for nf-core/configs
params {
  config_profile_description = 'The ABiMS cluster profile'
  config_profile_contact = 'Gildas Le Corguillé (@lecorguille)'
  config_profile_url = 'https://abims.sb-roscoff.fr'
}

singularity {
  enabled = true
  autoMounts = true
  runOptions = '-B /shared:/shared'
  cacheDir = "/shared/software/singularity/images/nf-core/"
}

process {
  executor = 'slurm'
  queue    = { task.memory <= 250.GB ? (task.time <= 24.h ? 'fast' : 'long') : 'bigmem' }
}

params {
  igenomes_ignore = true
  max_memory = 750.GB
  max_cpus = 200
  max_time = 30.d
}
