//Profile config names for nf-core/configs
params {
  config_profile_description = 'The ABiMS cluster profile'
  config_profile_contact = 'Gildas Le Corguillé (@lecorguille)'
  config_profile_url = 'https://abims.sb-roscoff.fr'
}

singularity {
  enabled = true
  autoMounts = false
  runOptions = '-B /scratch:/scratch -B /scratch2:/scratch2 -B /shared:/shared'
}

process {
  executor = 'slurm'
}

params {
  igenomes_ignore = true
  igenomesIgnore = true //deprecated
  max_memory = 750.GB
  max_cpus = 200
  max_time = 24.h
}
