/*
* --------------------------------------------------------------
*   nf-core pipelines config file for AD project using CRA HPC
* --------------------------------------------------------------
*/

params {
  config_profile_name = 'adcra'
  config_profile_description = 'CRA HPC profile provided by nf-core/configs'
  config_profile_contact = 'Kalayanee Chairat (@kalayaneech)'
  config_profile_url = 'https://bioinformatics.kmutt.ac.th/'
  }
  
params {  
  max_cpus = 16
  max_memory = 128.GB
  max_time = 120.h
}

// Specify the job scheduler
executor {  
  name = 'slurm'
  queueSize = 20
  submitRateLimit = '6/1min'
}

singularity {
  enabled = true
  autoMounts = true
}

process {
  scratch = true
  queue = 'unlimit'
  queueStatInterval = '10 min'
  maxRetries = 3
  errorStrategy = { task.attempt <=3 ? 'retry' : 'finish' }
  cache = 'lenient'
  exitStatusReadTimeoutMillis = '2700000'
}
