params {
      config_profile_name = 'ALICE'
      config_profile_description = 'Profile for use on Academic Leiden Interdisciplinary Cluster Environment (ALICE).'
      config_profile_contact = 'Bjorn Peare Bartholdy (@osteobjorn)'
      config_profile_url = 'https://wiki.alice.universiteitleiden.nl/'
      max_cpus = 24
      max_memory = 240.GB
      max_time = 168.h
}

process {
  executor = 'slurm'
  queue = { task.time < 3.h ? 'cpu-short' : task.time < 24.h ? 'cpu-medium' : 'cpu-long' }
}

singularity {
  enabled = true
  autoMounts = true
}

// Preform work directory cleanup after a successful run
cleanup = true

  // Profile to deactivate automatic cleanup of work directory after a successful run. Overwrites cleanup option.
profiles {
  mem {
    params {
      max_cpus = 24
      max_memory = 2.TB
      max_time = 336.h
    }
    process {
      queue = 'mem'
    }
  }
  debug {
    cleanup = false
  }
}
