params {
    config_profile_description  = 'Alliance Canada Rorqual HPC config'
    config_profile_contact      = 'https://docs.alliancecan.ca/wiki/Technical_support'
    config_profile_url          = 'https://docs.alliancecan.ca/wiki/Nextflow' 
}

singularity {
  enabled     = true
  autoMounts  = true
}

apptainer {
  autoMounts = true
}

// Group name for resource allocation must be supplied
params {
    alliance_group_name = null
}

process {
  executor        = 'slurm' 
  clusterOptions  = "--account=${params.alliance_group_name}"
  maxRetries      = 1
  errorStrategy   = { task.exitStatus in [125,139] ? 'retry' : 'finish' }
  memory          = { check_max( 4.GB * task.attempt, 'memory' ) }
  cpu             = 1  
  time            = '3h'
  resourceLimits  = [
    cpus: 40,
    memory: 186.GB,
    time: 168.h
  ]
}

executor {
  pollInterval    = '60 sec'
  submitRateLimit = '60/1min'
  queueSize       = 100 
}

params {
  max_memory  = 186.GB
  max_cpus    = 40
  max_time    = 168.h
}