//Profile config names for nf-core/configs
params {
  config_profile_description = 'A*STAR Aquila cluster profile provided by nf-core/configs.'
  config_profile_contact = 'Andreas Wilm (@andreas-wilm)'
  config_profile_url = 'https://www.a-star.edu.sg/'
}

singularity {
  enabled = true
}

process {
  beforeScript = { 'source /mnt/projects/rpd/rc/init.2017-04; module load miniconda3; set +u; source activate ' + params.container.replaceAll(/[\/:]/, '-').replaceAll(/nfcore/, 'nf-core') + "; set -u;" }  
  executor = 'sge'
  clusterOptions = { "-l mem_free=" + task.memory.toString().replaceAll(/[\sB]/,'') }
  penv = 'OpenMP'
}

params {
  igenomes_base = '/nfsmounts/igenomes'
  max_memory = 128.GB
  max_cpus = 28
  max_time = 48.h
}


