params {
    config_profile_name = 'ARCC'
    config_profile_description = 'Advanced Research Computing Center (ARCC) for the University of Wyoming'
    config_profile_contact = 'Robert A. Petit III (@rpetit3)'
    config_profile_url = 'http://www.uwyo.edu/arcc/'

    // Custom params for ARCC
    singularity_pull_docker_container = true

    slurm_account = 'healthdatasci'
    slurm_opts = ''
    slurm_queue = 'teton,moran'
    slurm_use_scratch = false

    schema_ignore_params = 'singularity_pull_docker_container,slurm_account,slurm_opts,slurm_queue,slurm_use_scratch'
    validationSchemaIgnoreParams = "singularity_pull_docker_container,slurm_account,slurm_opts,slurm_queue,slurm_use_scratch,schema_ignore_params"
}

process {
  executor = 'slurm'
  queue = "${params.slurm_queue}"
  scratch = params.slurm_use_scratch
  clusterOptions = "--account ${params.slurm_account} ${params.slurm_opts}"
}

singularity {
    enabled = true
    autoMounts = true
}
