params {
    // Config Params
    config_profile_name = 'ARCC - Beartooth, Moran, Teton Partitions'
    config_profile_description = 'Advanced Research Computing Center (ARCC) for the University of Wyoming'
    config_profile_contact = 'Robert A. Petit III (@rpetit3)'
    config_profile_url = 'http://www.uwyo.edu/arcc/'

    // Default Resources
    max_memory = 64.GB
    max_cpus = 16
}

process {
    executor = 'slurm'
    scratch = false
    clusterOptions = "--account=${System.getenv('SBATCH_ACCOUNT')}"

    // Default partitions
    queue = 'beartooth,moran,teton'
}

singularity {
    enabled = true
    autoMounts = true
}

profiles {
    beartooth {
        params {
            config_profile_name = 'ARCC - Beartooth Partition'
            config_profile_description = 'Advanced Research Computing Center (ARCC) for the University of Wyoming'
            config_profile_contact = 'Robert A. Petit III (@rpetit3)'
            config_profile_url = 'http://www.uwyo.edu/arcc/'
            max_memory = 256.GB
            max_cpus = 56
        }

        process {
            queue = 'beartooth'
        }
    }

    beartooth_bigmem {
        params {
            config_profile_name = 'ARCC - Beartooth BigMem Partition'
            config_profile_description = 'Advanced Research Computing Center (ARCC) for the University of Wyoming'
            config_profile_contact = 'Robert A. Petit III (@rpetit3)'
            config_profile_url = 'http://www.uwyo.edu/arcc/'
            max_memory = 512.GB
            max_cpus = 56
        }

        process {
            queue = 'beartooth-bigmem'
        }
    }

    beartooth_hugemem {
        params {
            config_profile_name = 'ARCC - Beartooth HugeMem Partition'
            config_profile_description = 'Advanced Research Computing Center (ARCC) for the University of Wyoming'
            config_profile_contact = 'Robert A. Petit III (@rpetit3)'
            config_profile_url = 'http://www.uwyo.edu/arcc/'
            max_memory = 1024.GB
            max_cpus = 56
        }

        process {
            queue = 'beartooth-hugemem'
        }
    }

    moran {
        params {
            config_profile_name = 'ARCC - Moran Partition'
            config_profile_description = 'Advanced Research Computing Center (ARCC) for the University of Wyoming'
            config_profile_contact = 'Robert A. Petit III (@rpetit3)'
            config_profile_url = 'http://www.uwyo.edu/arcc/'
            max_memory = 64.GB
            max_cpus = 16
        }

        process {
            queue = 'moran'
        }
    }

    teton {
        params {
            config_profile_name = 'ARCC - Teton Partition'
            config_profile_description = 'Advanced Research Computing Center (ARCC) for the University of Wyoming'
            config_profile_contact = 'Robert A. Petit III (@rpetit3)'
            config_profile_url = 'http://www.uwyo.edu/arcc/'
            max_memory = 128.GB
            max_cpus = 32
        }

        process {
            queue = 'teton'
        }
    }

    teton_cascade {
        params {
            config_profile_name = 'ARCC - Teton Cascade Partition'
            config_profile_description = 'Advanced Research Computing Center (ARCC) for the University of Wyoming'
            config_profile_contact = 'Robert A. Petit III (@rpetit3)'
            config_profile_url = 'http://www.uwyo.edu/arcc/'
            max_memory = 768.GB
            max_cpus = 40
        }

        process {
            queue = 'teton-cascade'
        }
    }

    teton_hugemem {
        params {
            config_profile_name = 'ARCC - Teton HugeMem Partition'
            config_profile_description = 'Advanced Research Computing Center (ARCC) for the University of Wyoming'
            config_profile_contact = 'Robert A. Petit III (@rpetit3)'
            config_profile_url = 'http://www.uwyo.edu/arcc/'
            max_memory = 1024.GB
            max_cpus = 32
        }

        process {
            queue = 'teton-hugemem'
        }
    }

    teton_knl {
        params {
            config_profile_name = 'ARCC - Teton KNL Partition'
            config_profile_description = 'Advanced Research Computing Center (ARCC) for the University of Wyoming'
            config_profile_contact = 'Robert A. Petit III (@rpetit3)'
            config_profile_url = 'http://www.uwyo.edu/arcc/'
            max_memory = 384.GB
            max_cpus = 72
        }

        process {
            queue = 'teton-knl'
        }
    }
}
