//Nextflow config file for running on AWS batch
params {
    config_profile_description = 'AWS Batch with Tower Profile'
    config_profile_contact = 'Gisela Gabernet (@ggabernet)'
    config_profile_url = 'https://aws.amazon.com/batch/'
}

timeline {
    overwrite = true
}
report {
    overwrite = true
}
trace {
    overwrite = true
}
dag {
    overwrite = true
}

process.executor = 'awsbatch'
