//Nextflow config file for running on AWS batch

params {
  awsqueue = false
  awsregion = 'eu-west-1'
  config_profile_contact = 'Alexander Peltzer (@apeltzer)'
  config_profile_description = 'AWSBATCH Cloud Profile'
  config_profile_name = 'AWSBATCH'
  config_profile_url = 'https://aws.amazon.com/batch/'
  tracedir = './'
}

process.executor = 'awsbatch'
executor.awscli = '/home/ec2-user/miniconda/bin/aws'
