//Nextflow config file for running on AWS batch
params {
  config_profile_description = 'AWSBATCH Cloud Profile'
  config_profile_contact = 'Alexander Peltzer (@apeltzer)'
  config_profile_url = 'https://aws.amazon.com/batch/'

  awsqueue = false
  awsregion = 'eu-west-1'
  awscli = '/home/ec2-user/miniconda/bin/aws'
}

timeline {
  overwrite = true
}
report {
  overwrite = true
}
trace {
  overwrite = true
}
dag {
  overwrite = true
}

process.executor = 'awsbatch'
process.queue = params.awsqueue
aws.region = params.awsregion
aws.batch.cliPath = params.awscli
