//Nextflow config file for running on Azure batch
params {
  config_profile_description = 'Azure BATCH Dev Cloud Profile'
  config_profile_contact = 'Venkat Malladi (@vsmalladi)'; Abhinav Sharma (@abhi18av)'
  config_profile_url = 'https://azure.microsoft.com/services/batch/'

  // Active Directory
  principal_id      = null
  principal_secret  = null
  tenant_id         = null

  // Storage
  storage_name      = null

  // Batch
  az_location       = "westus2"
  batch_name        = null

  vm_type           = "Standard_D8s_v3"
  autopoolmode      = false
  allowpoolcreation = true
  deletejobs        = true
  deletepools       = false

  // ACR
  acr_registry      = null
  acr_username      = null
  acr_password      = null

}

process {
    executor = "azurebatch"
}

azure {
  process {
      queue = 'Standard_D2d_v4'
      withLabel:process_low   {queue = 'Standard_D4d_v4'}
      withLabel:process_medium {queue = 'Standard_D16d_v4'}
      withLabel:process_high {queue = 'Standard_D32d_v4'}
      withLabel:process_high_memory {queue = 'Standard_D48d_v4'}
  }
  activeDirectory {
    servicePrincipalId = params.principal_id
    servicePrincipalSecret = params.principal_secret
    tenantId = params.tenant_id
  }
  storage {
      accountName = params.storage_name
  }
  batch {
      location                = params.az_location
      accountName             = params.batch_name
      tokenDuration           = "24h"
      autoPoolMode            = params.autopoolmode
      allowPoolCreation       = params.allowpoolcreation
      deleteJobsOnCompletion  = params.deletejobs
      deletePoolsOnCompletion = params.deletepools
      pools {
        Standard_D2d_v4 {
            autoScale = true
            vmType = 'Standard_D2d_v4'
            vmCount = 2
            maxVmCount = 20
            scaleFormula = '''
                $TargetLowPriorityNodes = 1;
                $TargetDedicatedNodes   = 0;
                $NodeDeallocationOption = taskcompletion;
            '''
        }
        Standard_D4d_v4 {
            autoScale = true
            vmType = 'Standard_D4d_v4'
            vmCount = 2
            maxVmCount = 20
            scaleFormula = '''
                $TargetLowPriorityNodes = 1;
                $TargetDedicatedNodes   = 0;
                $NodeDeallocationOption = taskcompletion;
            '''
        }
        Standard_D16d_v4 {
            autoScale = true
            vmType = 'Standard_D16d_v4'
            vmCount = 2
            maxVmCount = 20
            scaleFormula = '''
                $TargetLowPriorityNodes = 1;
                $TargetDedicatedNodes   = 0;
                $NodeDeallocationOption = taskcompletion;
            '''
        }
        Standard_D32d_v4 {
            autoScale = true
            vmType = 'Standard_D32d_v4'
            vmCount = 2
            maxVmCount = 20
            scaleFormula = '''
                $TargetLowPriorityNodes = 1;
                $TargetDedicatedNodes   = 0;
                $NodeDeallocationOption = taskcompletion;
            '''
        }
        Standard_D48d_v4 {
            autoScale = true
            vmType = 'Standard_D48d_v4'
            vmCount = 2
            maxVmCount = 10
            scaleFormula = '''
                $TargetLowPriorityNodes = 1;
                $TargetDedicatedNodes   = 0;
                $NodeDeallocationOption = taskcompletion;
            '''
        }
      }
  }
  registry {
      server   = params.acr_registry
      userName = params.acr_username
      password = params.acr_password
  }
}
