//Nextflow config file for running on Azure batch
params {
  config_profile_description = 'Azure BATCH Cloud Profile'
  config_profile_contact = 'Venkat Malladi (@vsmalladi)'
  config_profile_url = 'https://azure.microsoft.com/services/batch/'

  az_location = 'westus2'
  batch_name = false
  batch_key = false
  storage_name = false
  sas_token = false
}

docker {
  enabled = true
}


azure.batch.location = params.az_location
azure.batch.accountName = params.batch_name
azure.batch.accountKey = params.batch_key
azure.batch.autoPoolMode = true
azure.storage.accountName = params.storage_name
azure.storage.sasToken = params.sas_token
process.executor = 'azurebatch'
