//Nextflow config file for running on Azure batch
params {
  config_profile_description = 'Azure BATCH Cloud Profile'
  config_profile_contact = 'Venkat Malladi (@vsmalladi) & Adam Talbot (@adamrtalbot)'
  config_profile_url = 'https://azure.microsoft.com/services/batch/'

  // Storage
  storage_name      = null
  storage_key       = null
  storage_sas       = null

  // Batch
  az_location       = "westus2"
  batch_name        = null
  batch_key         = null

  vm_type           = "Standard_D8s_v3"
  autopoolmode      = true
  allowpoolcreation = true
  deletejobs        = true
  deletepools       = true
  az_worker_pool    = "auto"

  // ACR
  acr_registry      = null
  acr_username      = null
  acr_password      = null

}

process {
    executor = "azurebatch"
}

azure {
  process {
    queue = params.az_worker_pool
  }
  storage {
      accountName = params.storage_name
      accountKey  = params.storage_key
      sasToken    = params.storage_sas
  }
  batch {
      location                = params.az_location
      accountName             = params.batch_name
      accountKey              = params.batch_key
      tokenDuration           = "24h"
      autoPoolMode            = params.autopoolmode
      allowPoolCreation       = params.allowpoolcreation
      deleteJobsOnCompletion  = params.deletejobs
      deletePoolsOnCompletion = params.deletepools
      pools {
          auto {
              vmType    = params.vm_type
              autoScale = true
              vmCount    = 1
              maxVmCount = 12
          }
      }
  }
  registry {
      server   = params.acr_registry
      userName = params.acr_username
      password = params.acr_password
  }
}
