params{
  config_profile_description = 'Boehringer Ingelheim internal profile provided by nf-core/configs.'
  config_profile_contact = 'Alexander Peltzer (@apeltzer)'
  config_profile_url = 'https://www.boehringer-ingelheim.com/'
}
params.globalConfig = determine_global_config()

includeConfig params.globalConfig

def determine_global_config() {
    if( System.getenv('NXF_GLOBAL_CONFIG') == null)
    {
        System.err.println("Environment variable NXF_GLOBAL_CONFIG is missing. Set it to point to global.config file")
        throw new Exception("Environment variable NXF_GLOBAL_CONFIG is missing. Set it to point to global.config file")
    }
    return System.getenv('NXF_GLOBAL_CONFIG')   
}
