params{
  config_profile_description = 'Boehringer Ingelheim internal profile provided by nf-core/configs.'
  config_profile_contact = 'Alexander Peltzer (@apeltzer)'
  config_profile_url = 'https://www.boehringer-ingelheim.com/'
}

params.globalConfig = System.getenv('NXF_GLOBAL_CONFIG')
if(params.globalConfig == null)
{
    def errorMessage = "WARNING: For bi.config requires NXF_GLOBAL_CONFIG env var to be set. Point it to global.config file if you want to use this profile."
    System.err.println(errorMessage)
}else{
    includeConfig params.globalConfig
}
