params {
    config_profile_description = """
                                 NYU School of Medicine BigPurple cluster profile provided by nf-core/configs.
                                 module load both singularity/3.1 and squashfs-tools/4.3 before running the pipeline with this profile!
                                 Also consider running the pipeline on a compute node the first time, as it will be pulling the docker image, which will be converted into a singularity image, which is heavy on the login node. Subsequent runs can be done on the login node, as the docker image will only be pulled and converted once. By default the images will be stored in ./work/singularity
                                 """.stripIndents()
    config_profile_contact = 'Tobias Schraink (@tobsecret)'
    config_profile_url = 'https://genome.med.nyu.edu/hpcf/wiki/Manual:Cluster_User_Guide'
}

singularity {
    enabled = true
    autoMounts = true
}

process {
    beforeScript = """
                        module load singularity/3.1
                        module load squashfs-tools/4.3
                   """
                   .stripIndent()
    executor = 'slurm'
}
