singularityDir = "/gpfs/scratch/${USER}/singularity_images_nextflow"

params {
    config_profile_description = """
                                 NYU School of Medicine BigPurple cluster profile provided by nf-core/configs.
                                 module load both singularity/3.1 and squashfs-tools/4.3 before running the pipeline with this profile!!
                                 Run from your scratch or lab directory - Nextflow makes a lot of files!!
                                 Also consider running the pipeline on a compute node (srun --pty /bin/bash -t=01:00:00) the first time, as it will be pulling the docker image, which will be converted into a singularity image, which is heavy on the login node and will take some time. Subsequent runs can be done on the login node, as the docker image will only be pulled and converted once. By default the images will be stored in $singularityDir
                                 """.stripIndent()
    config_profile_contact = 'Tobias Schraink (@tobsecret)'
    config_profile_url = 'https://github.com/nf-core/configs/blob/master/docs/bigpurple.md'
}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = singularityDir
}

process {
    beforeScript = """
                        module load singularity/3.1
                        module load squashfs-tools/4.3
                   """
                   .stripIndent()
    executor = 'slurm'
}
