params {
	config_profile_name = 'bih'
	config_profile_description = 'Berlin Institute of Health HPC cluster profile provided by nf-core/configs.'
	config_profile_contact = 'BIH-HPC IT Team <hpc-helpdesk@bih-charite.de>'
	config_profile_url = 'https://www.hpc.bihealth.org/'
	max_memory = 340.GB
	max_cpus = 64
	max_time = 7.d
}

process {
	executor = 'slurm'
	maxRetries = 2
	clusterOptions = "--export=ALL"
}

apptainer {
    enabled = true
    autoMounts = true
    cacheDir = "$params.scratch/apptainer_img_$USER"
}

cleanup = true
workDir = "$params.scratch/work_$USER"

profiles {
	debug {
		cleanup = false
	}
}
