profiles {
    binac2 {
        params {
            config_profile_name        = 'binac2'
            config_profile_description = 'BinAC 2 cluster profile provided by nf-core/configs.'
            config_profile_contact     = 'Felix Bartusch (@fbartusch)'
            config_profile_url         = 'https://wiki.bwhpc.de/e/BinAC2'
            igenomes_base              = '/pfs/10/project/db/igenomes'
            max_memory = 2000.GB
            max_cpus = 128
            max_time = 336.h
        }

        apptainer {
            enabled      = true
            autoMounts   = true
            pullTimeout  = '120m'
            cacheDir     = "/pfs/10/project/apptainer_cache/${USER}"
            envWhitelist = 'CUDA_VISIBLE_DEVICES'
        }

        process {
            resourceLimits = [
                memory: 2000.GB,
                cpus: 128,
                time: 336.h
            ]
            executor    = 'slurm'
            queue       = { task.accelerator ? 'gpu' : 'compute' }
            maxRetries  = 2
            scratch     = '$TMPDIR'
        }

        executor {
            queueSize         = 200
            submitRateLimit   = '50/2min'
            pollInterval      = '10sec'
            queueStatInterval = '1min'
        }
    }
}
