//Profile config names for nf-core/configs
params {
  config_profile_description = 'BINAC cluster profile provided by nf-core/configs.'
  config_profile_contact = 'Alexander Peltzer (@apeltzer)'
  config_profile_url = 'https://www.bwhpc-c5.de/wiki/index.php/Category:BwForCluster_BinAC'
}

singularity {
  enabled = true
  envWhitelist = 'TZ'
}

process {
  beforeScript = 'module load devel/singularity/3.4.2'
  executor = 'pbs'
  queue = { task.memory >= 128.GB ? 'smp': task.time <= 20.m ? 'tiny' : task.time > 48.h ? 'long' : 'short'}
}

params {
  igenomes_base = '/nfsmounts/igenomes'
  max_memory = 1000.GB
  max_cpus = 28
  max_time = 168.h
}

weblog{
  enabled = true
  url = 'https://services.qbic.uni-tuebingen.de/flowstore/workflows'
}
