//Profile config names for nf-core/configs
params {
    config_profile_description = 'BioHPC Genomics (biohpc_gen) cluster profile provided by nf-core/configs'
    config_profile_contact     = 'Niklas Schandry (@nschan)'
    config_profile_url         = 'https://collab.dvb.bayern/display/LMUBioHPCGenomics/BioHPC+Genomics'
}

process {
        resourceLimits = [
            memory: 3.TB,
            cpus: 80,
            time: 14.d
        ]
    executor       = 'slurm'
    queue          = { task.memory <= 1536.GB ? (task.time > 2.d || task.memory > 384.GB ? 'biohpc_gen_production' : 'biohpc_gen_normal') : 'biohpc_gen_highmem' }
    clusterOptions = '--clusters=biohpc_gen'
    array = 25
}

executor {
    $slurm {
        queueStatInterval = '10 min'
        pollInterval = '30 sec'
        submitRateLimit = '25sec'
    }
}

apptainer {
    enabled   = true
    autoMounts = true
}
