//Profile config names for nf-core/configs
params {
  config_profile_description = 'BioHPC Genomics (biohpc_gen) cluster profile provided by nf-core/configs'
  config_profile_contact = 'Patrick Hüther (@phue)'
  config_profile_url = 'https://collab.lmu.de/display/BioHPCGenomics/BioHPC+Genomics'
}

env {
  SLURM_CLUSTERS='biohpc_gen'
}

process {
  executor = 'slurm'
  queue    = { task.memory <= 1536.GB ? (task.time > 2.d || task.memory > 384.GB ? 'biohpc_gen_production' : 'biohpc_gen_normal') : 'biohpc_gen_highmem' }
  module   = 'charliecloud/0.30'
}

charliecloud {
  enabled = true
}

params {
  params.max_time   = 14.d
  params.max_cpus   = 80
  params.max_memory = 3.TB
}
