
params {
    config_profile_description = 'Biowulf nf-core config'
    config_profile_contact = 'staff@hpc.nih.gov'
    config_profile_url = 'https://hpc.nih.gov/apps/nextflow.html'
    max_memory = '224 GB'
    max_cpus = 32
    max_time = '72 h'

    igenomes_base = '/fdb/igenomes/'
}

executor {

    $slurm {
        queue = 'norm'
        queueSize = 200
        pollInterval = '2 min'
        queueStatInterval = '5 min'
        submitRateLimit = '6/1min'
        retry.maxAttempts = 1
    }
}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = "/data/$USER/singularity"
    envWhitelist='https_proxy,http_proxy,ftp_proxy,DISPLAY,SLURM_JOBID,SINGULARITY_BINDPATH'
}

env {
    SINGULARITY_CACHEDIR="/data/$USER/singularity"
    PYTHONNOUSERSITE = 1
}


process {
            executor = 'slurm'
            maxRetries = 1

            clusterOptions = ' --gres=lscratch:200 '

            scratch = '/lscratch/$SLURM_JOBID'

            stageInMode = 'symlink'
            stageOutMode = 'rsync'

            // for running pipeline on group sharing data directory, this can avoid inconsistent files timestamps
            cache = 'lenient'
}



