def scratch_dir = "/scratch/${System.getenv("USER")}"

params {
    // Profile config
    config_profile_description = 'BlueBEAR cluster profile'
    config_profile_contact     = 'Alex Lyttle (@alexlyttle)'
    config_profile_url         = 'https://docs.bear.bham.ac.uk/'
}

// Clean up work directory after successful run
cleanup = true

// Ensure TMPDIR is set to the node-specific scratch directory
env.TMPDIR = "${scratch_dir}"

// Enable Singularity (via Apptainer) for all processes
// Singularity engine prefered so pipeline pulls pre-built containers rather than building them
// (see https://nf-co.re/docs/usage/installation#pipeline-software)
singularity {
    enabled    = true
    autoMount  = true
    runOptions = "-B ${scratch_dir}"
}

process {
    resourceLimits = [
        memory: 512.GB,
        cpus: 112,
        time: 10.d
    ]
    executor       = 'slurm'
    clusterOptions = "--account ${System.getenv("SLURM_JOB_ACCOUNT")}"
}

executor {
    queueSize       = 60
    submitRateLimit = '1sec'
}
