params {
    config_profile_description = 'BlueBEAR cluster profile'
    config_profile_contact = 'Alex Lyttle (a.j.lyttle@bham.ac.uk)'
    config_profile_url = 'https://docs.bear.bham.ac.uk/'
    max_memory = 6.TB
    max_cpus = 1344
    max_time = 240.h

    // Cluster-specific params
    project = null
}

process {
    executor = 'slurm'
    clusterOptions = {
        [
            params.project ? "-A ${params.project}".toString() : '',  // set account to project if truthy
            task.time <= 10.m ? '-q bbshort' : '-q bbdefault'        // set QOS to bbshort if 10 min or less
        ].findAll()                                                  // filter out falsy values from list
    }
    beforeScript = 'module purge; module load bluebear'  // only needed if more modules are loaded after
}
