params {
    config_profile_description = 'Brain Image Library cluster profile'
    config_profile_url         = 'https://www.brainimagelibrary.org'
    config_profile_contact     = 'Ivan Cao-Berg (icaoberg@psc.edu)'
}

singularity {
    enabled    = true
    autoMounts = true
    runOptions = '--home $HOME:/bil/users/$USER --bind /scratch --bind /local'
}

executor {
    queueSize         = 100
    submitRateLimit   = '5 sec'
}

profiles {
    compute {
        process {
            resourceLimits = [
                memory: 2.9.TB,
                cpus: 80,
                time: 48.h
            ]
            executor       = 'slurm'
            scratch        = false
            queue          = 'compute'
            queueSize      = 10
            clusterOptions = '--qos=normal'
        }

        params {
            igenomes_ignore = true
            igenomesIgnore  = true
            max_memory      = 3000.GB
            max_cpus        = 80
            max_time        = 48.h
        }
    }
}
