params {
  config_profile_description = 'BUTTER_HPC cluster profile provided by nf-core/configs.'
  config_profile_contact = 'Michal Levin (MichaldotLevin)'
  config_profile_url = 'test'
  max_memory = 1536.GB
  max_cpus = 36
  max_time = 5.d
}
process {
  executor = 'slurm'
  queue    = { task.memory <= 1536.GB ? (task.time > 2.d || task.memory > 384.GB ? 'medium' : 'medium') : 'fat' }
  maxRetries = 2
  beforeScript =
  """
  module load 'singularity/3.10.3'
  """
}
executor {
  queueSize = 8
  submitRateLimit = '10 sec'
}

