params {
  config_profile_description = 'Cambridge HPC cluster profile.'
  config_profile_contact = 'Andries van Tonder (ajv37@cam.ac.uk)'
  config_profile_url = "https://docs.hpc.cam.ac.uk/hpc"
}
singularity {
  enabled = true
  autoMounts = true
}
process {
  executor = 'slurm'
  clusterOptions = '-p cclake'
}
params {
  max_memory = 192.GB
  max_cpus = 56
  max_time = 12.h
}
