params{
    config_profile_description = 'Harvard FAS Cannon Profile for running nextflow pipelines.'
    config_profile_contact = 'Lei Ma (@microlei)'
    config_profile_url = 'https://www.rc.fas.harvard.edu/'
    max_memory = 2000.GB
    max_cpus = 112
    max_time = 14.d
}

singularity {
    enabled = true
    autoMounts = true
}

process {
    executor = 'slurm'
    queueSize = 2000
    submitRateLimit = '10/sec'
    resourceLimits = [
        memory: 2000.GB,
        cpus: 112,
        time: 14.d
    ]
    scratch = true
    queue = {
        switch (true) {
            case { task.memory >= 1000.GB && task.time >= 3.d }:
                return 'bigmem_intermediate'
            case { task.memory >= 1000.GB }:
                return 'bigmem'
            case { task.memory >= 184.GB && task.time >= 3.d }:
                return 'intermediate'
            case { task.memory >= 184.GB }:
                return 'sapphire'
            case { task.time >= 3.d }:
                return 'intermediate'
            default:
                return 'shared'
        }
    }
}
