params{
    config_profile_description = 'Harvard FAS Cannon Profile for running nextflow pipelines.'
    config_profile_contact = 'Lei Ma (@microlei)'
    config_profile_url = 'https://www.rc.fas.harvard.edu/'
    max_memory = 2000.GB
    max_cpus = 112
    max_time = 14.d
}

// disable this if you want to use conda environments instead
// docker is not supported on the Cannon cluster
singularity {
    enabled = true
    autoMounts = true
}

executor {
    name = 'slurm'
    queueSize = 2000
    submitRateLimit = '10/sec'
}

process {
    executor = 'slurm'
    resourceLimits = [
        memory: 2000.GB,
        cpus: 112,
        time: 14.d
    ]
    // default time, cpu, and memory for processes that do not specify these resources
    // These will be overridden by any process that specifies its own
    // see Running Jobs https://docs.rc.fas.harvard.edu/kb/running-jobs/
    time = 10.m // time is required or job won't run
    cpus = 1
    memory = 100.MB

    scratch = true
    queue = {
        // GPU handling
        if (task.ext.gpu == true) {
            if (task.ext.gpu_type == 'h200') {
                return 'gpu_h200'
            } else {
                return 'gpu'
            }
        }

        def mem = task.memory
        def t   = task.time

        if (t > 3.d) {
            // Long jobs
            if (mem > 990.GB) {
                return 'bigmem_intermediate'  // limit 14d, 2000 GB
            } else {
                return 'intermediate'         // limit 14d, 990 GB
            }
        } else {
            // ≤ 3d jobs
            if (mem > 990.GB) {
                return 'bigmem'               // limit 3d, 1988 GB
            } else if (mem > 184.GB) {
                return 'sapphire'             // limit 3d, 990 GB
            } else {
                return 'shared'               // largest pool for small jobs, limit 3d, 184 GB
            }
        }
    }
}
