//Profile config names for nf-core/configs
params {
  config_profile_description = 'CLIP BATCH ENVIRONMENT (CBE) cluster profile provided by nf-core/configs'
  config_profile_contact = 'Patrick Hüther (@phue)'
  config_profile_url = 'http://www.gmi.oeaw.ac.at/'
}

process {
  executor = 'slurm'
  module = 'singularity/3.2.1'
  queue = { task.memory <= 170.GB ? 'c' : 'm' }
  clusterOptions = { task.time <= 8.h ? '--qos short': task.time <= 48.h ? '--qos medium' : '--qos long' }
}

singularity {
  enabled = true
  cacheDir = '/scratch-cbe/shared/containers'
}

params {
  params.max_time = 14.d
  params.max_cpus = 36
  params.max_memory = 4.TB
  igenomes_base = '/resources/references/igenomes'
}
