//Profile config names for nf-core/configs
params {
  config_profile_description = 'CLIP BATCH ENVIRONMENT (CBE) cluster profile provided by nf-core/configs'
  config_profile_contact = 'Patrick Hüther (@phue)'
  config_profile_url = 'https://clip.science'
}

process {
  executor = 'slurm'
  queue = { task.memory <= 120.GB ? 'c' : 'm' }
  module = ['build-env/.f2021', 'build-env/f2021', 'anaconda3/2021.11']
  clusterOptions = { ( task.queue == 'g' ? '--gres gpu:1 ' : '' ) << ( (task.queue == 'c' & task.time <= 1.h) ? '--qos rapid' : ( task.time <= 8.h ? '--qos short': ( task.time <= 48.h ? '--qos medium' : '--qos long' ) ) ) }
}

singularity {
  enabled = true
  cacheDir = '/resources/containers'
}

params {
  params.max_time = 14.d
  params.max_cpus = 36
  params.max_memory = 1800.GB
  igenomes_base = '/resources/references/igenomes'
}
