//Profile config names for nf-core/configs
params {
  config_profile_description = 'CCGA cluster profile provided by nf-core/configs.'
  config_profile_contact = 'Marc Hoeppner (@marchoeppner)'
  config_profile_url = 'https://www.ccga.uni-kiel.de/'
}

/*
 * -------------------------------------------------
 *  Nextflow config file for CCGA cluster in Kiel
 * -------------------------------------------------
 */

singularity {
  enabled = true
  runOptions = "-B /ifs -B /scratch -B /work_beegfs"
}

executor {
  queueSize=100
}

process {

  // Global process config
  executor = 'slurm'
  queue = 'ikmb_a'

  clusterOptions = { "--qos=ikmb_a" }

}

params {
  // illumina iGenomes reference file paths on RZCluster
  igenomes_base = '/ifs/data/nfs_share/ikmb_repository/references/iGenomes/references/'
  saveReference = true
  max_memory = 128.GB
  max_cpus = 16
  max_time = 120.h
}
