//Profile config names for nf-core/configs
params {
    config_profile_description = 'CCGA CAU cluster profile provided by nf-core/configs.'
    config_profile_contact     = 'OlgaBrovkina (@brovolia)'
    config_profile_url         = 'https://www.ccga.uni-kiel.de/'
}

/*
 * -------------------------------------------------
 *  Nextflow config file for CAU cluster in Kiel
 * -------------------------------------------------
 */

singularity {
    enabled    = true
    autoMounts = true
    cacheDir   = "/work_ikmb/ikmb_repository/singularity_cache/"
}

executor {
    queueSize = 100
}

process {
    resourceLimits = [
        memory: 250.GB,
        cpus: 24,
        time: 120.h
    ]

    // Global process config
    executor = 'slurm'
    queue    = 'base'
}

params {
    // illumina iGenomes reference file paths on RZCluster
    igenomes_base = '/work_ikmb/ikmb_repository/references/iGenomes/references/'
    saveReference = true
    max_memory    = 250.GB
    max_cpus      = 24
    max_time      = 120.h
}
