//Profile config names for nf-core/configs
params {
  config_profile_description = 'CCGA DX cluster profile provided by nf-core/configs.'
  config_profile_contact = 'Marc Hoeppner (@marchoeppner)'
  config_profile_url = 'https://www.ccga.uni-kiel.de/'
}

/*
 * -------------------------------------------------
 *  Nextflow config file for CCGA cluster in Kiel
 * -------------------------------------------------
 */

singularity {
  enabled = true
  runOptions = "-B /mnt -B /work_ifs"
}

executor {
  queueSize=100
}

process {

  // Global process config
  executor = 'slurm'
  queue = 'htc'

}

params {
  // illumina iGenomes reference file paths on DX Cluster
  igenomes_base = '/work_ifs/ikmb_repository/references/iGenomes/references/'
  saveReference = true
  max_memory = 250.GB
  max_cpus = 20
  max_time = 240.h
}
