//Profile config names for nf-core/configs
params {
  config_profile_description = 'CCGA Med cluster profile provided by nf-core/configs.'
  config_profile_contact = 'Marc Hoeppner (@marchoeppner)'
  config_profile_url = 'https://www.ccga.uni-kiel.de/'
}

/*
 * -------------------------------------------------
 *  Nextflow config file for CCGA cluster in Kiel
 * -------------------------------------------------
 */

singularity {
  enabled = true
  runOptions = "-B /work_ifs -B /scratch -B /work_beegfs"
  cacheDir = "/work_beegfs/ikmb_repository/singularity_cache/"
}

executor {
  queueSize=100
}

process {

  // Global process config
  executor = 'slurm'
  queue = 'all'

}

params {
  // illumina iGenomes reference file paths on RZCluster
  igenomes_base = '/work_beegfs/ikmb_repository/references/iGenomes/references/'
  saveReference = true
  max_memory = 250.GB
  max_cpus = 24
  max_time = 120.h
}
