//Profile config names for nf-core/configs
params {
  config_profile_description = 'Cedars-Sinai Medical Center HPC Profile'
  config_profile_contact = 'Alex Rajewski (@rajewski)'
  config_profile_url = 'https://www.cedars-sinai.edu/research/cores/informatics-computing/resources.html'
  max_memory = 90.GB
  max_cpus = 10
  max_time = 240.h
}

// Specify the queing system
executor {
  name = "sge"
}

process {
  penv = 'smp'
  beforeScript =
  """
  module load 'singularity/3.6.0'
  """
}

singularity {
  enabled = true
}
