params {
    config_profile_description = 'USDA ARS SCINet Ceres Cluster profile'
    config_profile_contact = 'Thomas A. Christensen II (@MillironX)'
    config_profile_url = 'https://scinet.usda.gov/guide/ceres/'

    max_memory = 640.GB
    max_cpus = 36
    max_time = 60.d
}

singularity {
    enabled = true
    autoMounts = true
}

process {
    resourceLimits = [
        memory: 640.GB,
        cpus: 36,
        time: 60.d
    ]
    executor = 'slurm'
    scratch = true
    queue = {
        if (task.memory >= 216.GB) {
            if (task.time >= 7.d) {
                return 'longmem'
            } else {
                return 'mem'
            }
        } else {
            if (task.time >= 21.d) {
                return 'long60'
            } else if (task.time >= 7.d) {
                return 'long'
            } else if (task.time >= 48.h) {
                return 'medium'
            } else {
                return 'short'
            }
        }
    }
}
