params {
  config_profile_description = 'USDA ARS SCINet Ceres Cluster profile'
  config_profile_contact = 'Thomas A. Christensen II (@MillironX)'
  config_profile_url = 'https://scinet.usda.gov/guide/ceres/'

  max_memory = 640.GB
  max_cpus = 36
  max_time = 60.d
}

singularity {
  enabled = true
  autoMounts = true
}

process {
  executor = 'slurm'
  scratch = true
  queue = {
    switch (task.memory) {
      case { it >= 216.GB }:
        switch (task.time) {
          case { it >= 7.d }:
            return 'longmem'
          default:
            return 'mem'
          }
      default:
        switch (task.time) {
          case { it >= 21.d }:
            return 'long60'
          case { it >= 7.d }:
            return 'long'
          case { it >= 48.h }:
            return 'medium'
          default:
            return 'short'
          }
    }
  }
}
