params {
    config_profile_description = 'USDA ARS SCINet Ceres Cluster profile'
    config_profile_contact = 'SCINet VRSC (scinet_vrsc@usda.gov)'
    config_profile_url = 'https://scinet.usda.gov/guides/resources/ceres'

    max_memory = 640.GB
    max_cpus = 36
    max_time = 21.d
}

singularity {
    enabled = true
    autoMounts = true
}

process {
    resourceLimits = [
        memory: 640.GB,
        cpus: 36,
        time: 21.d
    ]
    executor = 'slurm'
    scratch = true
    queue = 'ceres'
    clusterOptions = " -A ${System.getenv('SLURM_JOB_ACCOUNT')} "
}
