//Profile config names for nf-core/configs
params {
    config_profile_description = 'QBiC Core Facility cluster profile provided by nf-core/configs.'
    config_profile_contact     = 'Sabrina Krakau (@skrakau)'
    config_profile_url         = 'http://qbic.uni-tuebingen.de/'
}

singularity {
    enabled  = true
    cacheDir = '/nfsmounts/container'
}

process {
    resourceLimits = [
        memory: 1992.GB,
        cpus: 128,
        time: 720.h
    ]
    executor = 'slurm'
    queue    = 'qbic'
    scratch  = 'true'
}

params {
    igenomes_base = '/nfsmounts/igenomes'
    max_memory    = 1992.GB
    max_cpus      = 128
    max_time      = 720.h
}

/*
 * By default the nf-co2footprint plugin is not activated. To activate it, please add
 * ````
 * plugins {
 *  id 'nf-co2footprint@<VERSION>'
 * }
 * ```
 * in your config, or use the
 * `-plugins nf-co2footprint@<VERSION>` parameter in your nextflow call.
 */
co2footprint {
    // Defines the timestamp model that is used as a suffix of the file
    String co2_timestamp = params.get('trace_report_suffix') ?: this.hasProperty('trace_timestamp') ? this.getProperty('trace_timestamp') : null
    if (co2_timestamp != null) {
        timestamp = co2_timestamp
    }

    // File parameters
    if (params.containsKey('outdir')) {
        traceFile   = "${params.outdir}/pipeline_info/co2footprint_trace_${timestamp}.txt"
        reportFile  = "${params.outdir}/pipeline_info/co2footprint_report_${timestamp}.html"
        summaryFile  = "${params.outdir}/pipeline_info/co2footprint_summary_${timestamp}.txt"
    }

    // Standard parameters
    location          = 'DE'
    pue               = 1.3
}
