//Profile config names for nf-core/configs
params {
    config_profile_description = 'QBiC Core Facility cluster profile provided by nf-core/configs.'
    config_profile_contact     = 'Sabrina Krakau (@skrakau)'
    config_profile_url         = 'https://www.info.qbic.uni-tuebingen.de/'
}

singularity {
    enabled  = true
    cacheDir = '/nfsmounts/container'
}

process {
    resourceLimits = [
        memory: 1992.GB,
        cpus: 128,
        time: 720.h
    ]
    executor = 'slurm'
    queue    = 'qbic'
    scratch  = 'true'
}

params {
    igenomes_base = '/nfsmounts/igenomes'
    max_memory    = 1992.GB
    max_cpus      = 128
    max_time      = 720.h
}

/*
 * By default the nf-co2footprint plugin is not activated. To activate it, please add
 * ````
 * plugins {
 *  id 'nf-co2footprint@<VERSION>'
 * }
 * ```
 * in your config, or use the
 * `-plugins nf-co2footprint@<VERSION>` parameter in your nextflow call.
 */
params {
    // Uses nf-core's `trace_report_suffix`
    trace_report_suffix = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')
}

co2footprint {
    trace {
        file = "${params.outdir}/pipeline_info/co2footprint_trace_${params.trace_report_suffix}.txt"
    }
    summary {
        file = "${params.outdir}/pipeline_info/co2footprint_summary_${params.trace_report_suffix}.txt"
    }
    report {
        file = "${params.outdir}/pipeline_info/co2footprint_report_${params.trace_report_suffix}.html"
    }

    // Standard parameters
    location = 'DE'
    pue = 1.3
}

