//Profile config names for nf-core/configs
params {
  config_profile_description = 'QBiC Core Facility cluster dev profile without container cache provided by nf-core/configs.'
  config_profile_contact = 'Friederike Hanssen (@FriederikeHanssen)'
  config_profile_url = 'http://qbic.uni-tuebingen.de/'
}

singularity {
  enabled = true
}

process {
  executor = 'slurm'
  queue = 'qbic'
  scratch = 'true'
}

weblog{
  enabled = true
  url = 'https://services.qbic.uni-tuebingen.de/flowstore/workflows'
}

params {
  igenomes_base = '/nfsmounts/igenomes'
  max_memory = 1992.GB
  max_cpus = 128
  max_time = 168.h
}
