//Profile config names for nf-core/configs
params {
    config_profile_description = 'QBiC Core Facility cluster dev profile without container cache provided by nf-core/configs.'
    config_profile_contact     = 'Sabrina Krakau (@skrakau)'
    config_profile_url         = 'http://qbic.uni-tuebingen.de/'
}

singularity {
    enabled = true
}

process {
    resourceLimits = [
        memory: 1992.GB,
        cpus: 128,
        time: 168.h
    ]
    executor = 'slurm'
    queue    = 'qbic'
    scratch  = 'true'
}

params {
    igenomes_base = '/nfsmounts/igenomes'
    max_memory    = 1992.GB
    max_cpus      = 128
    max_time      = 168.h
    outdir        = './'
}

// nf-co2-footprint plugin configurations:
// (will be applied if you specify the plugin via the '-plugins' flag in the run command)

def co2_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')

co2footprint {
    traceFile = "${params.outdir}/pipeline_info/co2footprint_trace_${co2_timestamp}.txt"
    summaryFile = "${params.outdir}/pipeline_info/co2footprint_summary_${co2_timestamp}.txt"
    reportFile = "${params.outdir}/pipeline_info/co2footprint_report_${co2_timestamp}.html"
    location = 'DE'
    pue = 1.3
    emApiKey = secrets.EM_API_KEY
}

