//Profile config names for nf-core/configs
params {
  config_profile_description = 'Computerome 2.0 cluster profile provided by nf-core/configs.'
  config_profile_contact = 'Marc Trunjer Kusk Nielsen (@marcmtk)'
  config_profile_url = 'https://www.computerome.dk/'
  project = null
  cache_dir = "/home/projects/$params.project/scratch"
  schema_ignore_params = "project,cache_dir,genomes,modules"
  
  //Thin nodes with 192GB and Fat nodes with ~1500GB. Torque should be allowed to handle this
  max_memory = 1500.GB 
  max_cpus = 40
  
  //There is no max walltime on the cluster, but a week seems sensible if not directly specified
  max_time = 168.h 
}

singularity {
  enabled = true
  autoMounts = true
  cacheDir = params.cache_dir
}

process {
  beforeScript = "module load tools singularity/3.8.0; export _JAVA_OPTIONS=-Djava.io.tmpdir=$params.cache_dir"
  executor = 'pbs'
  queueSize = 2000
  clusterOptions = "-A $params.project -W group_list=$params.project"
} 
