params {
    config_profile_description = "e-Research King's College London CREATE HPC"
    config_profile_contact = "e-Research (support@er.kcl.ac.uk)"
    config_profile_url = "https://docs.er.kcl.ac.uk/"
    max_memory = 1024.GB
    max_cpus = 128
    max_time = 48.h
}

singularity {
    enabled = true
    autoMounts = true
}

process {
    executor = 'slurm'
}
