//Profile config names for nf-core/configs
params {
    config_profile_description = 'Centre for Genomic Regulation (CRG) cluster profile provided by nf-core/configs'
    config_profile_contact = 'Jose Espinosa-Carrasco (@joseespinosa)'
    config_profile_url = 'http://www.linux.crg.es/index.php/Main_Page'
}

def host = System.getenv("HOSTNAME")

if (host ==~ /^genoa64.*/) {
    process {
        executor = 'slurm'
        queue    = 'genoa64'
        clusterOptions = {
            task.time <= 1.h    ? '--qos=vshort' :
            (task.time <= 3.h   ? '--qos=shorter' :
            (task.time <= 6.h   ? '--qos=short' :
            (task.time <= 12.h  ? '--qos=normal' :
            (task.time <= 24.h  ? '--qos=long' :
            (task.time <= 48.h  ? '--qos=vlong' :
            (task.time <= 168.h ? '--qos=marathon' :'--qos=ethernal' )))))) }
    }
} else {
    process {
        executor = 'crg'
        beforeScript = 'module load Singularity/4.0.2'
        queue    = 'short-centos79,long-centos79'
    }
}

singularity {
    enabled = true
    autoMounts = true
}
