//Profile config names for nf-core/configs
params {
    config_profile_description = 'Centre for Genomic Regulation (CRG) cluster profile provided by nf-core/configs'
    config_profile_contact = 'Jose Espinosa-Carrasco (@joseespinosa)'
    config_profile_url = 'http://www.linux.crg.es/index.php/Main_Page'
}

process {
    executor = 'slurm'
    queue    = 'genoa64'

    clusterOptions = {
        switch (task.time) {
            case { it > 168.h } :
                return '--qos=ethernal'
            case (48<..168).h:
                return '--qos=marathon'
            case (24<..48).h:
                return '--qos=vlong'
            case (12<..24).h:
                return '--qos=long'
            case (6<..12).h:
                return '--qos=normal'
            case (3<..6).h:
                return '--qos=short'
            case (1<..3).h:
                return '--qos=shorter'
            default:
                return '--qos=vshort'
        }
    }

}

singularity {
    enabled = true
    envWhitelist = "CUDA_VISIBLE_DEVICES,NVIDIA_VISIBLE_DEVICES"
    if (params.use_gpu) { singularity.runOptions = '--nv' }
    pullTimeout = "60m"
}
