//Profile config names for nf-core/configs
params {
  config_profile_description = 'Centre for Genomic Regulation (CRG) cluster profile provided by nf-core/configs'
  config_profile_contact = 'Athanasios Baltzis (@athbaltzis)'
  config_profile_url = 'http://www.linux.crg.es/index.php/Main_Page'
}

process {
  executor = 'crg'
}

singularity {
  enabled = true
}
