//Profile config names for nf-core/configs
params {
    config_profile_description = 'The Francis Crick Institute NEMO HPC cluster profile provided by nf-core/configs.'
    config_profile_contact = 'Chris Cheshire (@chris-cheshire)'
    config_profile_url = 'https://www.crick.ac.uk/research/platforms-and-facilities/scientific-computing/technologies'
}

singularity {
    enabled = true
    autoMounts = true
    runOptions = '--bind /nemo --bind /flask'
}

process {
    executor = 'slurm'
}

params {
    max_memory = 2.TB
    max_cpus = 256
    max_time = '168.h'

    igenomes_base = '/flask/reference/Genomics/aws-igenomes'
}
