//Profile config names for nf-core/configs
params {
  config_profile_description = 'The Francis Crick Institute CAMP HPC cluster profile provided by nf-core/configs.'
  config_profile_contact = 'Chris Cheshire (@chris-cheshire)'
  config_profile_url = 'https://www.crick.ac.uk/research/platforms-and-facilities/scientific-computing/technologies'
}

singularity {
  enabled = true
  autoMounts = true
}

process {
  executor = 'slurm'
}

params {
  max_memory = 224.GB
  max_cpus = 32
  max_time = '72.h'

  igenomes_base = '/camp/svc/reference/Genomics/aws-igenomes'
}
