params {
    config_profile_description = 'Crop Diversity HPC cluster profile'
    config_profile_contact = 'Thomas Adams (@TMAdams)'
    config_profile_url = 'https://help.cropdiversity.ac.uk/'
}

executor {
    name = 'slurm'
}

process {
    executor = 'slurm'
    queue = { task.memory <= 32.GB ? (task.time < 6.h ? task.memory <=2.GB ? 'hicpu': 'short' : task.time < 24.h ? 'medium' : 'long') : 'himem' }
}

singularity {
    enabled = true
    pullTimeout = '2 h'
    autoMounts = true
}

report {
    overwrite = true
}
