//Profile config names for nf-core/configs
params {
  config_profile_description = 'Cancer Research UK Manchester Institute HPC cluster profile provided by nf-core/configs'
  config_profile_contact = 'Stephen Kitcatt, Simon Pearce (@skitcattCRUKMI, @sppearce)'
  config_profile_url = 'http://scicom.picr.man.ac.uk/projects/user-support/wiki'
}

env {
    SINGULARITY_CACHEDIR = '/lmod/nextflow_software'
}

singularity {
  enabled = true
  autoMounts = true
}

process {
  beforeScript = 'module load apps/singularity/3.8.0'
  executor = 'pbs'

  withLabel:process_low {
    cpus = { check_max( 1 * task.attempt, 'cpus' ) }
    memory = { check_max( 5.GB * task.attempt, 'memory' ) }
  }

  withLabel:process_medium {
    cpus = { check_max( 4 * task.attempt, 'cpus' ) }
    memory = { check_max( 20.GB * task.attempt, 'memory' ) }
  }

  withLabel:process_high {
    cpus = { check_max( 16 * task.attempt, 'cpus' ) }
    memory = { check_max( 80.GB * task.attempt, 'memory' ) }
  }

  withName: 'SAMTOOLS_MPILEUP' {
    cpus   = 1
    memory = { 8.GB * task.attempt }
  }


}

params {
  max_memory = 2000.GB
  max_cpus = 32
  max_time = 72.h
}
