// CSIRO Petrichor nf-core configuration profile
params {
    config_profile_description = 'CSIRO Petrichor HPC profile provided by nf-core/configs'
    config_profile_contact = 'Mitchell OBrien (@mitchob)'
    config_profile_url = 'https://confluence.csiro.au/display/SC/CSIRO+SC+Shared+Cluster+-+Petrichor'
}

// Enable use of Singularity to run containers
singularity {
    enabled = true
    autoMounts = true
    autoCleanUp = true
}

// Submit up to XX concurrent jobs
//executor {
//  queueSize = XX
//}

// Define process resource limits
process {
    executor = 'slurm'
    clusterOptions = "--account=${System.getenv('SBATCH_ACCOUNT')}"
    module = 'singularity/3.8.7'
    cache = 'lenient'
    stageInMode = 'symlink'
    queue = 'defq'
}
