/*
 * -------------------------------------------------
 *  Nextflow config file for Chan Zuckerberg Biohub
 * -------------------------------------------------
 * Defines reference genomes, using iGenome paths
 * Imported under the default 'standard' Nextflow
 * profile in nextflow.config
 */

process {
  queue = 'highpriority-971039e0-830c-11e9-9e0b-02c5b84a8036'
}
