/*
 * -------------------------------------------------
 *  Nextflow config file for Chan Zuckerberg Biohub
 * -------------------------------------------------
 * Defines reference genomes, using iGenome paths
 * Imported under the default 'standard' Nextflow
 * profile in nextflow.config
 */

 //Profile config names for nf-core/configs
 params {
   config_profile_description = 'Chan Zuckerberg Biohub AWS Batch profile provided by nf-core/configs.'
   config_profile_contact = 'Olga Botvinnik (@olgabot)'
   config_profile_url = 'https://www.czbiohub.org/'
 }

docker {
  enabled = true
}

process {
  executor = 'awsbatch'
  queue = 'default-971039e0-830c-11e9-9e0b-02c5b84a8036'
  errorStrategy = 'ignore'
}

workDir = "s3://czb-nextflow/intermediates/"

aws.region = 'us-west-2'
aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
params.tracedir = './'

params {
  saveReference = true

  // Largest SPOT instances available on AWS: https://ec2instances.info/
  max_memory = 1952.GB
  max_cpus = 96
  max_time = 240.h

  // Compatible with multiple versions of rnaseq pipeline
  seq_center = "czbiohub"
  seqCenter = "czbiohub"

  // illumina iGenomes reference file paths on CZ Biohub reference s3 bucket
  // No final slash because it's added later
  igenomes_base = "s3://czbiohub-reference/igenomes"

  // GENCODE (human + mouse) reference file paths on CZ Biohub reference s3 bucket
  // No final slash because it's added later
  gencode_base = "s3://czbiohub-reference/gencode"
  transgenes_base = "s3://czbiohub-reference/transgenes"
  refseq_base = "s3://czbiohub-reference/ncbi/genomes/refseq/"

  // AWS configurations
  awsregion = "us-west-2"
  awsqueue = 'default-971039e0-830c-11e9-9e0b-02c5b84a8036'

  igenomes_ignore = true
  igenomesIgnore = true //deprecated

  fc_extra_attributes = 'gene_name'
  fc_group_features = 'gene_id'
  fc_group_features_type = 'gene_type'

  trim_pattern = '_+S\\d+'

  // GENCODE GTF and fasta files
  genomes {
    'GRCh38' {
      fasta             = "${params.gencode_base}/human/v30/GRCh38.p12.genome.ERCC92.fa"
      gtf               = "${params.gencode_base}/human/v30/gencode.v30.annotation.ERCC92.gtf"
      transcript_fasta  = "${params.gencode_base}/human/v30/gencode.v30.transcripts.ERCC92.fa"
      star              = "${params.gencode_base}/human/v30/STARIndex/"
      salmon_index      = "${params.gencode_base}/human/v30/salmon_index/"
    }
    'GRCm38' {
      fasta             = "${params.gencode_base}/mouse/vM21/GRCm38.p6.genome.ERCC92.fa"
      gtf               = "${params.gencode_base}/mouse/vM21/gencode.vM21.annotation.ERCC92.gtf"
      transcript_fasta  = "${params.gencode_base}/mouse/vM21/gencode.vM21.transcripts.ERCC92.fa"
      star             = "${params.gencode_base}/mouse/vM21/STARIndex/"
    }
    'AaegL5.0' {
      fasta            = "${params.refseq_base}/invertebrate/Aedes_aegypti/GCF_002204515.2_AaegL5.0/nf-core--rnaseq/reference_genome/GCF_002204515.2_AaegL5.0_genomic.fna"
      gtf              = "${params.refseq_base}/invertebrate/Aedes_aegypti/GCF_002204515.2_AaegL5.0/nf-core--rnaseq/reference_genome/GCF_002204515.2_AaegL5.0_genomic.gtf"
      bed              = "${params.refseq_base}/invertebrate/Aedes_aegypti/GCF_002204515.2_AaegL5.0/nf-core--rnaseq/reference_genome/GCF_002204515.2_AaegL5.0_genomic.bed"
      star             = "${params.refseq_base}/invertebrate/Aedes_aegypti/GCF_002204515.2_AaegL5.0/nf-core--rnaseq/reference_genome/star/"
    }
  }

  transgenes {
    'ChR2' {
      fasta   = "${params.transgenes_base}/ChR2/ChR2.fa"
      gtf     = "${params.transgenes_base}/ChR2/ChR2.gtf"
    }
    'Cre' {
      fasta   = "${params.transgenes_base}/Cre/Cre.fa"
      gtf     = "${params.transgenes_base}/Cre/Cre.gtf"
    }
    'ERCC' {
      fasta   = "${params.transgenes_base}/ERCC92/ERCC92.fa"
      gtf     = "${params.transgenes_base}/ERCC92/ERCC92.gtf"
    }
    'GCaMP6m' {
      fasta   = "${params.transgenes_base}/GCaMP6m/GCaMP6m.fa"
      gtf     = "${params.transgenes_base}/GCaMP6m/GCaMP6m.gtf"
    }
    'GFP' {
      fasta   = "${params.transgenes_base}/Gfp/Gfp.fa"
      gtf     = "${params.transgenes_base}/Gfp/Gfp.gtf"
    }
    'NpHR' {
      fasta   = "${params.transgenes_base}/NpHR/NpHR.fa"
      gtf     = "${params.transgenes_base}/NpHR/NpHR.gtf"
    }
    'RCaMP' {
      fasta   = "${params.transgenes_base}/RCaMP/RCaMP.fa"
      gtf     = "${params.transgenes_base}/RCaMP/RCaMP.gtf"
    }
    'RGECO' {
      fasta   = "${params.transgenes_base}/RGECO/RGECO.fa"
      gtf     = "${params.transgenes_base}/RGECO/RGECO.gtf"
    }
    'Tdtom' {
      fasta   = "${params.transgenes_base}/Tdtom/Tdtom.fa"
      gtf     = "${params.transgenes_base}/Tdtom/Tdtom.gtf"
    }
    'Car-T' {
      fasta   = "${params.transgenes_base}/car-t/car-t.fa"
      gtf     = "${params.transgenes_base}/car-t/car-t.gtf"
    }
    'zsGreen' {
      fasta   = "${params.transgenes_base}/zsGreen/zsGreen.fa"
      gtf     = "${params.transgenes_base}/zsGreen/zsGreen.gtf"
    }
  }
}


profiles {
  highpriority {
    process {
      queue = 'highpriority-971039e0-830c-11e9-9e0b-02c5b84a8036'
    }
  }
}
