/*
 * -------------------------------------------------
 *  Nextflow config file for UPPMAX (milou / irma)
 * -------------------------------------------------
 * Defines reference genomes, using iGenome paths
 * Imported under the default 'standard' Nextflow
 * profile in nextflow.config
 */

docker {
  enabled = true
}

process {
  executor = 'awsbatch'
}

params {
  saveReference = true

  // Largest SPOT instances available on AWS: https://ec2instances.info/
  max_memory = 1952.GB
  max_cpus = 96
  max_time = 240.h

  // illumina iGenomes reference file paths on CZ Biohub reference s3 bucket
  // No final slash because it's added later
  igenomes_base = "s3://czbiohub-reference/igenomes"

  // GENCODE (human + mouse) reference file paths on CZ Biohub reference s3 bucket
  // No final slash because it's added later
  gencode_base = "s3://czbiohub-reference/gencode"
  transgenes_base = "s3://czbiohub-reference/transgenes"

  // AWS configurations
  awsregion = "us-west-2"
  awsqueue = "nextflow"
  workDir = "s3://czb-nextflow/rnaseq/"

  // GENCODE GTF and fasta files
  genomes {
    'GRCh38' {
      fasta   = "${params.gencode_base}/human/v29/GRCh38.p12.genome.fa.gz"
      gtf     = "${params.gencode_base}/human/v29/gencode.vM19.annotation.gtf.gz"
    }
    'GRCm38' {
      fasta   = "${params.gencode_base}/mouse/vM19/GRCm38.p6.genome.fa.gz"
      gtf     = "${params.gencode_base}/mouse/vM19/gencode.vM19.annotation.gtf.gz"
    }
  }

  transgenes {
    'ChR2' {
      fasta   = "${params.transgenes_base}/ChR2/ChR2.fa.gz"
      gtf     = "${params.transgenes_base}/ChR2/ChR2.gtf.gz"
    }
    'Cre' {
      fasta   = "${params.transgenes_base}/Cre/Cre.fa.gz"
      gtf     = "${params.transgenes_base}/Cre/Cre.gtf.gz"
    }
    'ERCC' {
      fasta   = "${params.transgenes_base}/ERCC92/ERCC92.fa.gz"
      gtf     = "${params.transgenes_base}/ERCC92/ERCC92.gtf.gz"
    }
    'GCaMP6m' {
      fasta   = "${params.transgenes_base}/GCaMP6m/GCaMP6m.fa.gz"
      gtf     = "${params.transgenes_base}/GCaMP6m/GCaMP6m.gtf.gz"
    }
    'GFP' {
      fasta   = "${params.transgenes_base}/Gfp/Gfp.fa.gz"
      gtf     = "${params.transgenes_base}/Gfp/Gfp.gtf.gz"
    }
    'NpHR' {
      fasta   = "${params.transgenes_base}/NpHR/NpHR.fa.gz"
      gtf     = "${params.transgenes_base}/NpHR/NpHR.gtf.gz"
    }
    'RCaMP' {
      fasta   = "${params.transgenes_base}/RCaMP/RCaMP.fa.gz"
      gtf     = "${params.transgenes_base}/RCaMP/RCaMP.gtf.gz"
    }
    'RGECO' {
      fasta   = "${params.transgenes_base}/RGECO/RGECO.fa.gz"
      gtf     = "${params.transgenes_base}/RGECO/RGECO.gtf.gz"
    }
    'Tdtom' {
      fasta   = "${params.transgenes_base}/Tdtom/Tdtom.fa.gz"
      gtf     = "${params.transgenes_base}/Tdtom/Tdtom.gtf.gz"
    }
    'Car-T' {
      fasta   = "${params.transgenes_base}/car-t/car-t.fa.gz"
      gtf     = "${params.transgenes_base}/car-t/car-t.gtf.gz"
    }
    'zsGreen' {
      fasta   = "${params.transgenes_base}/zsGreen/zsGreen.fa.gz"
      gtf     = "${params.transgenes_base}/zsGreen/zsGreen.gtf.gz"
    }
  }
}
