params {
    config_profile_description = 'DaiSyBio cluster profile provided by nf-core/configs.'
    config_profile_contact = 'Johannes Kersting (Johannes Kersting)'
    config_profile_url = 'https://biomedical-big-data.de/'
    max_memory = 1.TB
    max_cpus = 120
    max_time = 96.h
    igenomes_base = '/nfs/data/references/igenomes'
}

process {
    executor = 'slurm'
    queue = 'shared-cpu'
    maxRetries = 2
}

executor {
    queueSize = 30
    submitRateLimit = '10 sec'
}

singularity {
    cacheDir = '/nfs/scratch/singularity_cache'
}

apptainer {
    cacheDir = '/nfs/scratch/apptainer_cache'
}



