//Profile config names for nf-core/configs
params {
  config_profile_description = 'de.NBI cluster profile provided by nf-core/configs.'
  config_profile_contact = 'Alexander Peltzer (@apeltzer)'
  config_profile_url = 'https://cloud.denbi.de/'
}

singularity {
  enabled = true
}

process {
  executor = 'pbs'
  queue = { task.memory > 64.GB ? 'highmem': 'batch'}
}

params {
  max_memory = 512.GB
  max_cpus = 28
  max_time = 960.h
}

weblog{
  enabled = true
  url = 'https://services.qbic.uni-tuebingen.de/flowstore/workflows'
}
