
params {
    config_profile_description = 'Deutsches Krebsforschungszentrum (DKFZ) HPC cluster profile provided by nf-core/configs'
    config_profile_contact     = 'Kübra Narcı kuebra.narci@dkfz-heidelberg.de'
    config_profile_name        = 'DKFZ cluster'


    max_cpus   = 30
    max_memory = '250.GB'
    max_time   = '48.h'
}


singularity {
  enabled = true
  autoMounts = true
}

process {
  executor = 'lsf'
  scratch = '$SCRATCHDIR/$LSB_JOBID'

}
executor {
  name = 'lsf'
  perTaskReserve = false
  perJobMemLimit = true
  queueSize = 10
  submitRateLimit = '3 sec'
}
