    //Profile config names for nf-core/configs
    params {
      config_profile_description = 'Generic Estonian Biocentre profile provided by nf-core/configs.'
      config_profile_contact = 'Marcel Keller (@marcel-keller)'
      config_profile_url = 'https://genomics.ut.ee/en/about-us/estonian-biocentre'
    }

    cleanup = true

    conda {
        cacheDir = '/gpfs/space/GI/ebc_data/software/nf-core/conda'
    }
    process {
        executor = 'slurm'
        conda = "$baseDir/environment.yml" 
        beforeScript = 'module load nextflow'
    }
    executor {
        queueSize = 64
    }
    params {
      max_memory = 12.GB
      max_cpus = 20
      max_time = 120.h
    }
