//Profile config names for nf-core/configs
params {
  config_profile_description = 'University of Edinburgh (eddie) cluster profile provided by nf-core/configs.'
  config_profile_contact = 'Alison Meynert (@ameynert)'
  config_profile_url = 'https://www.ed.ac.uk/information-services/research-support/research-computing/ecdf/high-performance-computing'
}

executor {
  name = "sge"
  queueSize = "100"
}

process {
  clusterOptions = { task.memory ? "-l h_vmem=${task.memory.bytes/task.cpus}" : null }
  stageInMode = 'symlink'
  scratch = 'false'
  penv = { task.cpus > 1 ? "sharedmem" : null }

  // common SGE error statuses
  errorStrategy = {task.exitStatus in [143,137,104,134,139,140] ? 'retry' : 'finish'}
  maxErrors = '-1'
  maxRetries = 3

  beforeScript =
  """
  . /etc/profile.d/modules.sh
  module load 'roslin/singularity/3.5.3'
  export SINGULARITY_TMPDIR="\$TMPDIR"
  """
}

params {
  // iGenomes reference base
  igenomes_base = '/exports/igmm/eddie/BioinformaticsResources/igenomes'
  max_memory = 384.GB
  max_cpus = 32
  max_time = 240.h
}

env {
  MALLOC_ARENA_MAX=1
}

singularity {
  envWhitelist = "SINGULARITY_TMPDIR,TMPDIR"
  runOptions = '-p -B "$TMPDIR"'
  enabled = true
  autoMounts = true
  cacheDir = "/exports/igmm/eddie/BioinformaticsResources/nfcore/singularity-images"
}
