//Profile config names for nf-core/configs
params {
  config_profile_description = 'University of Edinburgh (eddie) cluster profile provided by nf-core/configs.'
  config_profile_contact = 'Alison Meynert (@ameynert)'
  config_profile_url = 'https://www.ed.ac.uk/information-services/research-support/research-computing/ecdf/high-performance-computing'
}

conda.createTimeout = '2h'

process {
  executor = 'sge'

  # memory environment & options
  clusterOptions = {"-l h_vmem=${task.memory.bytes/task.cpus}"}
  penv = 'sharedmem'

  # common SGE error statuses
  errorStrategy = {task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish'}
  maxErrors = '-1'
  maxRetries = 3

  # load module script for Anaconda
  beforeScript = { '. /etc/profile.d/modules.sh; sleep 2; ' }
  module = 'anaconda/5.3.1'
}
params {
  saveReference = true
  // illumina iGenomes reference file paths on GIS Aquila
  igenomes_base = '/exports/igmm/eddie/NextGenResources/igenomes/'
}
