/*
* ------------------------------------------------------------------
*   Config file for nextflow pipelines for Novo Nordisk's Einstein cluster
* ------------------------------------------------------------------
*/

params {
    config_profile_description = "Novo Nordisk's Einstein cluster profile"
    config_profile_contact = 'Ashot Margaryan (aoqn@novonordisk.com)'
    max_memory = "750.GB"
    max_cpus = 64
    max_time = "240.h"
}

process {
    executor = 'slurm'
    beforeScript = 'module purge; module load singularity/3.8.1'
    scratch = true
    maxRetries = 3
    scratch = "/scratch/users/${USER}"
}

executor {
    queueSize = 50
    submitRateLimit = "10/1sec"
}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = "/scratch/users/${USER}"
}
