params {
    config_profile_contact     = "gitlab-data-science-sci-workflows-nextflow-config-6076-issue-@embl.de"
    config_profile_description = "The EMBL Heidelberg HPC cluster profile"
    config_profile_name        = 'EMBL_HD'
    config_profile_url         = 'https://git.embl.de/data-science/sci-workflows/nextflow-config'
}

conda {
    channels = ['http://hof.cluster.embl.de/conda-forge', 'http://hof.cluster.embl.de/bioconda']
}

docker {
    enabled = false
}

apptainer {
    autoMounts = true
    pullTimeout = "3 hours"                // the default is 20 minutes and fails with large images
    envWhitelist = 'CUDA_VISIBLE_DEVICES'  // allow the bounding of GPU visible device variable into the containers
    libraryDir = '/cvmfs/singularity.galaxyproject.org/all/'
}

singularity {
    autoMounts = true
    pullTimeout = "3 hours"
    envWhitelist = 'CUDA_VISIBLE_DEVICES'
}

process {
    maxRetries = 3
    errorStrategy = { task.attempt<3 ? 'retry' : 'ignore' }
    cache = 'lenient'
    afterScript = 'sleep 10'
    queue = { (task.time <= 14.d && task.memory < 256.GB && (task.memory.div(task.cpus)) <= 4.GB) ? "htc-el8" : "bigmem" }

    withLabel:gpu {
        queue = 'gpu-el8'
        containerOptions = '--nv' //enable Nvidia support
    }

    withLabel:bigmem {
        queue = 'bigmem'
    }

    withLabel:low_qos {
        clusterOptions = '--qos=low'
    }
}

executor {
    name = 'slurm'
    queueSize = 200
    submitRateLimit = "10/1sec"
    pollInterval = '10sec'
    exitReadTimeout = "5 min"
    retry.reason = "*"
}
