// Nextflow config for running on the MIT Engaging HPC cluster
params {
    config_profile_description = 'MIT Engaging HPC cluster profile.'
    config_profile_contact     = 'Charlie Whittaker (@bumproo)'
    config_profile_url         = "https://engaging-web.mit.edu/eofe-wiki/"
}

singularity {
    enabled    = true
    autoMounts = true
}

process {
    resourceLimits = [
        memory: 128.GB,
        cpus: 16,
        time: 10.h
    ]
    executor       = 'slurm'
    clusterOptions = '-p mit_normal'
}

executor {
    queueSize = 8
}

params {
    max_memory = 128.GB
    max_cpus   = 16
    max_time   = 10.h
}
