// Nextflow config for running on the MIT Engaging HPC cluster
params {
    config_profile_description = 'MIT Engaging HPC cluster profile.'
    config_profile_contact = 'Phil Palmer (@PhilPalmer)'
    config_profile_url = "https://engaging-web.mit.edu/eofe-wiki/"
}

singularity {
    enabled = true
    autoMounts = true
}

process {
    executor = 'slurm'
    clusterOptions = '-p sched_mit_hill'
}

params {
    max_memory = 64.GB
    max_cpus = 16
    max_time = 12.h
}