/*
* ------------------------------------------------------------------
*   nf-core pipelines config file for the ETH Zurich Euler cluster
* ------------------------------------------------------------------
*/

params {
        config_profile_name        = 'ethz_euler'
        config_profile_description = 'ETH Zurich Euler cluster profile -- provided by nf-core/configs'
        config_profile_contact     = 'Joao Agostinho de Sousa (github: @jpadesousa; email: joao.agostinhodesousa@hest.ethz.ch)'
        config_profile_url         = 'https://scicomp.ethz.ch/wiki/Euler'

        max_memory = 4.TB
        max_cpus   = 128
        max_time   = 120.h

    igenomes_base   = '/cluster/project/igenomes'
        igenomes_ignore = false
}

executor {
        name                = 'slurm'
        perCpuMemAllocation = true
}

process {
        scratch             = 'true'
        errorStrategy       = 'retry'
        maxRetries          = 3
        beforeScript        = 'module load eth_proxy'
}

singularity {
        enabled    = true
        autoMounts = true
}

trace {
        trace.overwrite = true
        enabled         = true
}

// On a successful completion of a Nextflow run, automatically delete all intermediate files stored in the work/ directory
cleanup = true

// Allows to override the default cleanup = true behaviour for debugging
debug {
    cleanup = false
}
