//Profile config names for nf-core/configs
params {
  config_profile_description = 'Generic MPI-EVA cluster(s) profile provided by nf-core/configs.'
  config_profile_contact = 'James Fellows Yates (@jfy133)'
  config_profile_url = 'https://eva.mpg.de'
}

// Preform work directory cleanup after a successful run
cleanup = true

singularity {
    enabled = true
    autoMounts = true
}

process {
    executor = 'sge'
    penv = 'smp'
    queue = 'all.q'
}

executor {
    queueSize = 8
}

profiles {
    archgen {
      params {
        igenomes_base = "/projects1/public_data/igenomes/"
        config_profile_description = 'MPI-EVA archgen profile, provided by nf-core/configs.'
        max_memory = 256.GB
        max_cpus = 32
        max_time = 720.h
        //Illumina iGenomes reference file path
      }

      process {
        queue = 'archgen.q'
      }

      singularity {
        cacheDir = "/mnt/archgen/users/singularity_scratch"

      }

    }
     // Profile to deactivate automatic cleanup of work directory after a successful run. Overwrites cleanup option.
    debug {
      cleanup = false
    }
}
