//Profile config names for nf-core/configs
params {
    config_profile_description = 'Generic MPI-EVA cluster(s) profile provided by nf-core/configs.'
    config_profile_contact     = 'James Fellows Yates (@jfy133)'
    config_profile_url         = 'https://eva.mpg.de'
}

// Preform work directory cleanup after a successful run
cleanup = true

singularity {
    enabled    = true
    autoMounts = true
    cacheDir = "/mnt/archgen/tools/singularity/containers/"
}

params {
    igenomes_base              = "/mnt/archgen/public_data/igenomes"
    config_profile_description = 'MPI-EVA archgen profile, provided by nf-core/configs.'
    max_memory                 = 370.GB
    max_cpus                   = 32
    max_time                   = 365.d
}

process {
    resourceLimits = [
        memory: 2.TB,
        cpus: 32,
        time: 365.d
    ]
}

profiles {
    archgen {
        process {
            executor       = 'sge'
            penv           = 'smp'
            queue          = { task.memory > 700.GB ? 'bigmem.q' : 'archgen.q' }
            clusterOptions = { "-S /bin/bash -V -j y -o output.sge -l h_vmem=${task.memory.toGiga()}G" }
        }
    }

    grace {
        process {
            executor      = 'slurm'
            queue         = { task.time > 4.h ? 'standard' : 'short' }
        }

    }
    // Profile to deactivate automatic cleanup of work directory after a successful run. Overwrites cleanup option.
    debug {
        cleanup = false
    }


}
