//Profile config names for nf-core/configs
params {
  config_profile_description = 'Generic MPI-EVA cluster(s) profile provided by nf-core/configs.'
  config_profile_contact = 'James Fellows Yates (@jfy133)'
  config_profile_url = 'https://eva.mpg.de'
}

// Preform work directory cleanup after a successful run
cleanup = true

singularity {
    enabled = true
    autoMounts = true
}

process {
    executor = 'sge'
    penv = 'smp'
    queue = 'all.q'
    clusterOptions = { "-S /bin/bash -V -j y -o output.sge -l h_vmem=${task.memory.toGiga()}G" }
}

profiles {
    archgen {
      params {
        igenomes_base = "/projects1/public_data/igenomes/"
        config_profile_description = 'MPI-EVA archgen profile, provided by nf-core/configs.'
        max_memory = 256.GB
        max_cpus = 32
        max_time = 365.d
        //Illumina iGenomes reference file path
      }

      process {
        queue = { task.memory > 700.GB ? 'bigmem.q' : 'archgen.q' }
        clusterOptions = { "-S /bin/bash -V -j y -o output.sge -l h_vmem=${task.memory.toGiga()}G" }
      }

      singularity {
        cacheDir = "/mnt/archgen/tools/singularity/containers/"
      }

    }
     // Profile to deactivate automatic cleanup of work directory after a successful run. Overwrites cleanup option.
    debug {
      cleanup = false
    }
}
