//Profile config names for nf-core/configs
params {
    config_profile_description = 'MPI-EVA GRACE cluster profile provided by nf-core/configs.'
    config_profile_contact     = 'James Fellows Yates (@jfy133)'
    config_profile_url         = 'https://eva.mpg.de'
    // TODO have IT make a generic one, this is for stress testing
    igenomes_base              = "/mnt/archgen/public_data/igenomes"
    max_memory                 = 1000.GB
    max_cpus                   = 144
    max_time                   = 30.d
}

// Preform work directory cleanup after a successful run (use --debug to not run)
cleanup = true

singularity {
    enabled    = true
    autoMounts = true
    // TODO have IT make a generic one, this is for stress testing
    cacheDir = "/mnt/archgen/tools/singularity/containers/"
}

process {
    executor       = 'slurm'
    queue          = { task.time < '24.h' ? 'short' : 'standard' }
    resourceLimits = [
        memory: 1000.GB,
        cpus: 144,
        time: 30.d
    ]
}