params {
	config_profile_description = "FGCZ ETH/UZH"
	config_profile_contact = "natalia.zajac@fgcz.ethz.ch"
	max_memory = 500.GB
	max_cpus = 64
	max_time = 240.h
}

process {
	executor = "slurm"
	maxRetries = 2
}

executor {
	queueSize = 30
}



singularity {
	enabled = true
	autoMounts = true
	cacheDir = "/srv/GT/nextflow/singularity/"
}
