params {
    config_profile_description = "FGCZ ETH/UZH"
    config_profile_contact     = "falnoe@ethz.ch"
}

process {
    resourceLimits = [
        memory: 500.GB,
        cpus: 64,
        time: 240.h
    ]
    executor   = "slurm"
    maxRetries = 2
}

executor {
    queueSize = 30
}

apptainer {
    enabled    = true
    autoMounts = true
    cacheDir   = "/srv/GT/software/apptainer/cache"
}
