params {
    config_profile_description = 'Fred Hutch Cancer Center HPC profile'
    config_profile_contact     = ''
    config_profile_url         = 'https://sciwiki.fredhutch.org/'
}

process {
    executor = 'slurm'
    resourceLimits = [
        memory = 700000
        cpus = 36
        time = 30-00:00:0
    ]
    // Same as resourceLimits, but for older pipelines
    max_memory = 700000
    max_cpus = 36
    max_time = 30-00:00:0
}

executor {
    queue = { task.time <= 12.h ? 'short' : 'campus-new' }
    maxRetries = 2
    clusterOptions = {}
    beforeScript = 'module load Apptainer'
    // How many jobs can be submitted at once
    queueSize = 16
    // Maximum jobs per second
    submitRateLimit = '16 sec'
}

apptainer {
    enabled = true
    // Might be nice to have a public cache to avoid redundant downloads
    // cacheDir = ''
}