//Profile config names for nf-core/configs
params {
    config_profile_description = 'Draco cluster profile of Friedrich Schiller University Jena provided by nf-core/configs.'
    config_profile_contact     = 'Jasmin Frangenberg (@jasmezz)'
    config_profile_url         = 'https://www.uni-jena.de/'
    max_memory = 4000.GB
    max_cpus   = 144
    max_time   = 14.d
}

singularity {
    enabled = true
    autoMounts = true
}

process {
    resourceLimits = [
        memory: 4000.GB,
        cpus: 144,
        time: 14.d
    ]
    executor = 'slurm'
    queue = {
        task.cpus > 48 ? 'fat' :
        task.memory > 256.GB ? 'fat' :
        task.time > 3.d ? 'long' :
        task.time > 3.h ? 'standard' : 'short'
    }
}

// Perform work directory cleanup after a successful run
cleanup = true

// Optional debug profile to prevent work directory cleanup
profiles {
    debug {
        cleanup = false
    }
}
