// Config profile metadata
params {
    config_profile_name = 'FUB Curta'
    config_profile_description = 'Freie Universität Berlin HPC cluster (Curta) profile'
    config_profile_contact = 'hpc@zedat.fu-berlin.de'
    config_profile_url = 'https://www.fu-berlin.de/en/sites/high-performance-computing/index.html'
    max_memory = 93.GB
    max_time = 14.d
    max_cpus = 32
}

// Slurm configuration parameters
process {
    executor = 'slurm'
    maxRetries = 3
    clusterOptions = { task.time <= 3.h ? '--qos=hiprio' : ( task.time <= 72.h ? '--qos=prio' : '--qos=standard' )}
    // standard qos has 14.d time limit
    scratch = true
}

// Singularity parameters
singularity {
    enabled = true
    autoMounts = true
}

cleanup = true
