// Config profile metadata
params {
    config_profile_contact = 'Wassim Salam (@wassimsalam01)'
    config_profile_contact_github = '@wassimsalam01'
    config_profile_contact_email = 'TODO'
    config_profile_name = 'FUB Curta'
    config_profile_description = 'Freie Universität Berlin HPC (Curta) profile'
    config_profile_url = 'https://www.fu-berlin.de/en/sites/high-performance-computing/index.html'

    max_cpus = 32
    max_memory = 772.GB
    max_time = 14.d
}

def membership = ['/bin/bash', '-c', 'groups'].execute().text.trim()

// Slurm configuration parameters
process {
    executor = 'slurm'
    maxRetries = 3
    clusterOptions = { (membership.startsWith("b") ? '--partition=begendiv,main ' : '--partition=main ') << ( task.time <= 3.h ? '--qos=hiprio' : ( task.time <= 3.d ? '--qos=prio' : '--qos=standard' ) ) }
}

// Singularity parameters
singularity {
    enabled = true
    autoMounts = true
}

cleanup = true
