//Profile config names for nf-core/configs
params {
  config_profile_description = 'The GenOuest cluster profile'
  config_profile_contact = 'Anthony Bretaudeau (@abretaud)'
  config_profile_url = 'https://www.genouest.org'
}

singularity {
  enabled = true
  autoMounts = true
  runOptions = '-B /scratch:/scratch -B /local:/local -B /db:/db'
}

process {
  executor = 'slurm'
}

params {
  igenomes_ignore = true
  igenomesIgnore = true //deprecated
  max_memory = 750.GB
  max_cpus = 80
  max_time = 336.h
}
