//Profile config names for nf-core/configs
params {
  config_profile_description = 'The Genotoul cluster profile'
  config_profile_contact = 'support.bioinfo.genotoul@inra.fr'
  config_profile_url = 'http://bioinfo.genotoul.fr/'
}

singularity {
  // need one image per execution
  enabled = true
  runOptions = '-B /bank -B /work -B /save -B /home'
  
}

process {
  executor = 'slurm'
}

params {
  save_reference = true
  igenomes_ignore = true
  igenomesIgnore = true //deprecated
  // Max resources requested by a normal node on genotoul.
  max_memory = 120.GB
  max_cpus = 48
  max_time = 96.h
}
