// Nextflow config file for running on Google Cloud Life Sciences
params {
  config_profile_description = 'Google Cloud Life Sciences Profile'
  config_profile_contact = 'Evan Floden, Seqera Labs (@evanfloden)'
  config_profile_url = 'https://cloud.google.com/life-sciences'

  google_zone = 'europe-west2-c'
  google_bucket = false
  google_debug = false
  google_preemptible = true
}

process.executor = 'google-lifesciences'
google.zone = params.google_zone
google.lifeSciences.debug = params.google_debug
workDir = params.google_bucket
google.lifeSciences.preemptible = params.google_preemptible

if (google.lifeSciences.preemptible) {
  process.errorStrategy = { task.exitStatus in [8,10,14] ? 'retry' : 'terminate' }
  process.maxRetries = 5
}

process.machineType = { task.memory > task.cpus * 6.GB ? ['custom', task.cpus, task.cpus * 6656].join('-') : null }
