params{
    config_profile_description = 'Google Cloud Life Sciences API Profile'
    config_profile_contact = 'Hatem Nawar @hnawar'
    config_profile_url = 'https://cloud.google.com/life-sciences/'

    //project
    project_id                          = null
    location                            = 'us-central1'
    workdir_bucket                      = null

    //compute
    use_spot                            = true
    boot_disk                           = '200 GB'
    workers_service_account             = null
    compute_zone                        = 'us-central1-a'


    //networking
    use_private_ip                      = true
    custom_vpc                          = null
    custom_subnet                       = null

}

workDir                                 = params.workdir_bucket

process{
    executor                            = 'google-lifesciences'
}
google {
    location                            = params.location
    zone                                = params.compute_zone
    project                             = params.project_id
    lifeSciences.network                = params.custom_vpc
    lifeSciences.subnetwork             = params.custom_subnet
    lifeSciences.usePrivateAddress      = params.use_spot
    lifeSciences.preemptible            = params.use_private_ip
    lifeSciences.serviceAccountEmail    = params.workers_service_account
    lifeSciences.bootDiskSize           = '20 GB'
  }


