// Profile config names for nf-core/configs
params {
  config_profile_description = 'Hasta, a local cluster setup at Clinical Genomics, Stockholm.'
  config_profile_contact = 'Clinical Genomics, Stockholm'
  config_profile_url = 'https://github.com/Clinical-Genomics'
  priority = null
  clusterOptions = null
  schema_ignore_params = "priority,clusterOptions"
}

singularity {
  enabled = true
  envWhitelist = ['_JAVA_OPTIONS']
}

params {
    max_memory = 180.GB
    max_cpus   = 36
    max_time   = 336.h
}

process {
    executor = 'slurm'
    clusterOptions = { "-A $params.priority ${params.clusterOptions ?: ''}" }
}

profiles {
    stub_prio {
        params {
           priority = 'development'
           clusterOptions = "--qos=low"
           max_memory = 6.GB
           max_cpus   = 1
           max_time   = 1.h
        }
    }

    dev_prio {
        params {
            priority = 'development'
            clusterOptions = "--qos=low"
        }
    }

    prod_prio {
        params {
            priority = 'production'
            clusterOptions = "--qos=low"
        }
    }
}
