params {
  config_profile_description = 'HKI clusters profile provided by nf-core/configs.'
  config_profile_contact = 'James Fellows Yates (@jfy133)'
  config_profile_url = 'https://leibniz-hki.de'
}

profiles {
    apate {
        params {
            config_profile_description = 'apate HKI cluster profile provided by nf-core/configs'
            config_profile_contact = 'James Fellows Yates (@jfy133)'
            config_profile_url = 'https://leibniz-hki.de'
            max_memory = 128.GB
            max_cpus = 32
            max_time = 1440.h
        }
        process {
            executor = 'local'
            maxRetries = 2
        }

        executor {
            queueSize = 8
        }

        singularity {
            enabled = true
            autoMounts = true
            cacheDir = '/Net/Groups/ccdata/apps/singularity'
        }

        conda {
            cacheDir = '/Net/Groups/ccdata/apps/conda_envs'
        }

        cleanup = true
    }

    aither {
        params {
            config_profile_description = 'aither HKI cluster profile provided by nf-core/configs'
            config_profile_contact = 'James Fellows Yates (@jfy133)'
            config_profile_url = 'https://leibniz-hki.de'
            max_memory = 128.GB
            max_cpus = 32
            max_time = 1440.h
        }
        process {
            executor = 'local'
            maxRetries = 2
        }

        executor {
            queueSize = 8
        }

        singularity {
            enabled = true
            autoMounts = true
            cacheDir = '/Net/Groups/ccdata/apps/singularity'
        }

        conda {
            cacheDir = '/Net/Groups/ccdata/apps/conda_envs'
        }

        cleanup = true
    }

    arges {
        params {
            config_profile_description = 'arges HKI cluster profile provided by nf-core/configs'
            config_profile_contact = 'James Fellows Yates (@jfy133)'
            config_profile_url = 'https://leibniz-hki.de'
            max_memory = 64.GB
            max_cpus = 12
            max_time = 1440.h
        }
        process {
            executor = 'local'
            maxRetries = 2
        }

        executor {
            queueSize = 8
        }

        singularity {
            enabled = true
            autoMounts = true
            cacheDir = '/Net/Groups/ccdata/apps/singularity'
        }

        conda {
            cacheDir = '/Net/Groups/ccdata/apps/conda_envs'
        }

        cleanup = true
    }

    debug {
        cleanup = false
    }
}
