params {
    config_profile_description = 'HKI genie HPC profile unofficially provided by nf-core/configs.'
    config_profile_contact     = 'James Fellows Yates (@jfy133)'
    config_profile_url         = 'https://leibniz-hki.de'
}

process {
    resourceLimits = [
        cpus: 128,
        memory: '1280GB',
    ]
    executor       = 'slurm'
    queue          = { task.label && task.label.toString().contains('gpu') ? 'gpu' : 'cpu' }
    maxRetries     = 2
}

executor {
    queueSize = 100
}

singularity {
    enabled    = true
    autoMounts = true
}

cleanup = true
