// Institutional profile for Human Technopole

params {
    config_profile_description = 'Human Technopole cluster profile provided by nf-core/configs.'
    config_profile_contact = 'Edoardo Giacopuzzi (@edg1983)'
    config_profile_url = 'https://humantechnopole.it/en/'
    ht_igenomes_version = env('HT_IGENOME_VERSION') ? env('HT_IGENOME_VERSION') : '2025.1'
    igenomes_base = "/processing_data/reference_datasets/iGenomes/${params.ht_igenomes_version}"
}

params {
    max_memory = 550.GB
    max_time = 30.d
    max_cpus = 32
}

process {
    resourceLimits = [
        cpus: 32,
        memory: 550.GB,
        time: 30.d,
    ]
    executor = 'slurm'
    queue = 'cpuq'
    beforeScript = 'module load singularity'
    maxRetries = 5

    withLabel: gpu {
        resourceLimits = [
            cpus: 36,
            memory: 550.GB,
            time: 30.d,
        ]
        queue = 'gpuq'
        containerOptions = '--nv'
        clusterOptions = { task.accelerator ? "--gres=gpu:${task.accelerator.request}" : '--gres=gpu:1' }
    }
}

mail {
    smtp.host = "it1-ht-srvs01.htechnopole.local"
    from = "no-reply@fht.org"
}

executor {
    queueSize = 500
    pollInterval = '5 sec'
    submitRateLimit = '20 sec'
}

singularity {
    autoMounts = true
    runOptions = '--cleanenv --bind /localscratch'
}
