//Profile config names for Hypatia cluster in Universidad de los Andes
params {
    config_profile_description = 'Universidad de los Andes cluster profile provided by nf-core/configs.'
    config_profile_contact = 'Luisa Sacristan (@lusacristan)'
    config_profile_url = 'https://exacore.uniandes.edu.co/es/'
}

singularity {
    enabled = true
    autoMounts = true
}

process {
    executor = 'slurm'
    queue = 'medium'
    scratch = 'true'
}


params {
    max_memory = 550.GB
    max_cpus = 40
    max_time = 168.h
}
