
params {
  config_profile_description = "Nextflow nf-core profile for ICR davros HPC"
  config_profile_contact = "Adrian Larkeryd"
}

singularity {
  enabled = true
  runOptions = "--bind /mnt:/mnt --bind /data:/data"
}

executor {

  submitRateLimit = "2 sec"
}

process {
  executor = "LSF"
}

params {

  cpus = 10
  max_cpus = 20
  max_memory = 12.GB
  max_time = 168.h
  igenomes_base = "/mnt/scratch/DDS/SDDS/BIOINFCO/SHARED/genomes/igenomes"
}