/*
 * -------------------------------------------------
 *  Nextflow nf-core config file for ICR davros HPC
 * -------------------------------------------------
 * Defines LSF process executor and singularity
 * settings.
 * 
 */
params {
  config_profile_description = "Nextflow nf-core profile for ICR davros HPC"
  config_profile_contact = "Adrian Larkeryd (@adrlar)"
}

singularity {
  enabled = true
  runOptions = "--bind /mnt:/mnt --bind /data:/data"
  // autoMounts = true // autoMounts sometimes causes a rare bug with the installed version of singularity
}

executor {
  // This is set because of an issue with too many
  // singularity containers launching at once, they
  // cause an singularity error with exit code 255.
  submitRateLimit = "2 sec"
}

process {
  executor = "LSF"
}

params {
  // LSF cluster set up with memory tied to cores,
  // it can't be requested. Locked at 12G per core. 
  cpus = 10
  max_cpus = 20
  max_memory = 12.GB
  max_time = 168.h
  igenomes_base = "/mnt/scratch/readonly/igenomes"
}
