//Profile config names for nf-core/configs
params {
  config_profile_description = 'The IFB core cluster profile'
  config_profile_contact = 'https://community.france-bioinformatique.fr'
  config_profile_url = 'https://ifb-elixirfr.gitlab.io/cluster/doc/cluster-desc/'
}

singularity {
  enabled = true
  runOptions = '-B /shared'
}

process {
  executor = 'slurm'
  queue = { task.time <= 24.h ? 'fast' : 'long' }
}

params {
  igenomes_ignore = true
  max_memory = 252.GB
  max_cpus = 56
  max_time = 720.h
}
