//Profile config names for nf-core/configs
params {
  config_profile_description = 'The IFB core cluster profile'
  config_profile_contact = 'https://community.france-bioinformatique.fr'
  config_profile_url = 'https://www.france-bioinformatique.fr/'
}

singularity {
  // need one image per execution
  enabled = true
  runOptions = '-B /shared'
}

process {
  executor = 'slurm'
}

params {
  igenomes_ignore = true
  // Max resources requested by a normal node on genotoul.
  max_memory = 240.GB
  max_cpus = 28
  max_time = 96.h
}
