params {
    config_profile_description = """
    Ilifu (https://ilifu.ac.za) slurm cluster profile provided by nf-core/configs.
    """.stripIndent()
    config_profile_contact = 'Peter van Heusden (@pvanheus)'
    config_profile_url = 'https://github.com/nf-core/configs/blob/master/docs/ilifu.md'
    max_memory = 1500.GB
    max_cpus = 96
    max_time = 336.h
}

singularity {
    enabled = true
    autoMounts = true
}

process {
    beforeScript = """
    module load singularity
    """.stripIndent()

    executor = 'slurm'
    queue = { task.accelerator != null && task.accelerator.contains('nvidia') ? 'GPU' : (task.memory >= 250.GB ? 'HighMem' : 'Main' ) }
}

