
params {
    config_profile_description    = 'Institute of Molecular Biology (IMB) HPC cluster profile provided by nf-core/configs'
    config_profile_contact        = 'Patrick Hüther (@phue)'
    config_profile_url            = 'https://imb-mainz.de/'
    config_profile_name           = 'IMB HPC cluster'

    max_cpus   = 32
    max_memory = 1.TB
    max_time   = 7.d
}

singularity {
    enabled    = true
    autoMounts = true
}

executor {
    name      = 'slurm'
    jobName   = { "${task.process.split(':').last()}" }
    queueSize = 20
}

process {
    scratch = '/jobdir/$SLURM_JOB_ID'
    cache   = 'lenient'
    queue   = "groups".execute().text.contains('imb-bioinfocf')
            ? { task.time <= 5.h ? 'bcfshort' : 'bcflong' }
            : { task.time <= 5.h ? 'short' : 'long' }
}
