//Profile config names for nf-core/configs

params {
  // Config Params
  config_profile_description = 'Imperial College London - MEDBIO QUEUE - HPC Profile -- provided by nf-core/configs.'
  config_profile_contact = 'Combiz Khozoie (c.khozoie@imperial.ac.uk)'
  config_profile_url = 'https://www.imperial.ac.uk/bioinformatics-data-science-group/resources/uk-med-bio/'

  // Resources
  max_memory = 640.GB
  max_cpus = 32
  max_time = 168.h
}

executor {
  $pbspro {
    queueSize = 50
  }

  $local {
    cpus = 2
    queueSize = 1
    memory = '32 GB'
  }
}

singularity {
  enabled = true
  autoMounts = true
  runOptions = "-B /rds/,/rdsgpfs/,/rds/general/user/$USER/ephemeral/tmp/:/tmp,/rds/general/user/$USER/ephemeral/tmp/:/var/tmp"
}

process {

  executor = 'pbspro'
  queue = 'pqmedbio-tput'

  //queue = 'med-bio' //!! this is an alias and shouldn't be used

  withLabel:process_large {
    queue = 'pqmedbio-large'
  }

}
