//Profile config names for nf-core/configs

params {
    // Config Params
    config_profile_description = 'Imperial College London - HPC Profile -- provided by nf-core/configs.'
    config_profile_contact = 'Combiz Khozoie (c.khozoie@imperial.ac.uk)'
    config_profile_url = 'https://www.imperial.ac.uk/admin-services/ict/self-service/research-support/rcs/'

    // Resources
    max_memory = 480.GB
    max_cpus = 40
    max_time = 1000.h
}

profiles {
    imperial {
        process {
            executor = 'pbspro'
            
            // Update amount of max retries and set "retry" as the error strategy for all error codes
            errorStrategy = 'retry'
            maxRetries = 10
            maxErrors = '-1'

            // General resource requirements
            queue  = 'v1_short8'
            cpus   = { 1    * task.attempt }
            memory = { 6.GB * task.attempt }
            time   = { 4.h  * task.attempt }

            // Process-specific resource requirements
            withLabel:process_single {
                // TARGET QUEUE: short
                queue  = 'v1_short8'
                cpus   = 1
                memory = { 6.GB * task.attempt }
                time   = { 4.h  * task.attempt }
            }

            withLabel:process_low {
                // TARGET QUEUE: throughput
                queue  = 'v1_throughput72'
                cpus   = { 2     * task.attempt }
                memory = { 12.GB * task.attempt }
                time   = { 9.h   * task.attempt }
            }
            withLabel:process_medium {
                // TARGET QUEUE: throughput
                queue  = 'v1_throughput72'
                cpus   = 8
                memory = { 32.GB * task.attempt }
                time   = { 9.h   * task.attempt }
            }
            withLabel:process_high {
                // TARGET QUEUE: general
                queue  = 'v1_general72'
                cpus   = 32
                memory = { 62.GB * task.attempt }
                time   = { 4.h  * task.attempt }
            }
            withLabel:process_long {
                // TARGET QUEUE: medium
                queue  = 'v1_medium72'
                cpus   = 9
                memory = 96.GB
                time   = { 12.h  * task.attempt }
            }
            withLabel:process_high_memory {
                // TARGET QUEUE: large memory
                queue  = 'v1_largemem72'
                cpus   = { 10     * task.attempt }
                memory = { 120.GB * task.attempt }
                time   = { 12.h   * task.attempt }
            }
        }
    }
    medbio {
        process {
            executor = 'pbspro'

            queue = 'pqmedbio-tput'

            //queue = 'med-bio' //!! this is an alias and shouldn't be used
        }
    }
}

executor {
    $pbspro {
        queueSize = 50
    }

    $local {
        cpus = 2
        queueSize = 1
        memory = '6 GB'
    }
}

singularity {
    enabled = true
    autoMounts = true
    runOptions = "-B /rds/,/rds/general/user/$USER/ephemeral/tmp/:/tmp,/rds/general/user/$USER/ephemeral/tmp/:/var/tmp"
}
