// Profile details
params {
    config_profile_description = 'INCLIVA Health Research Institute profile for nf-core.'
    config_profile_contact = 'Sheila Zúñiga Trejos - bioinfo@incliva.es'
    config_profile_url = 'https://www.incliva.es/en/services/platforms/bioinformatics-unit/'
    hostname = 'hostname'.execute().text.trim() ?: 'unknown'
    max_memory = params.hostname == 'vlinuxcervantes3srv' ? 60.GB
        : params.hostname == 'vlinuxcervantes4srv' ? 120.GB
        : System.err.println("\nERROR: unknown machine. Update incliva.config on nf-core/configs if you are working on another host.\n")
    max_cpus = params.hostname == 'vlinuxcervantes3srv' ? 15
        : params.hostname == 'vlinuxcervantes4srv' ? 19
        : System.err.println("\nERROR: unknown machine. Update incliva.config on nf-core/configs if you are working on another host.\n")

    warning_message = {
        System.out.println("WARNING: !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!")
        System.out.println("WARNING:")
        System.out.println("WARNING: THIS CONFIG IS NO LONGER MAINTAINED.")
        System.out.println("WARNING:")
        System.out.println("WARNING: THIS CONFIG WILL BE DEPRECATED BY THE END OF MAY 2026 DUE TO AN UPCOMING NEXTFLOW VERSION THAT WILL NOT BE BACKWARDS COMPATIBLE.")
        System.out.println("WARNING: MODIFICATIONS TO THIS CONFIG AND TESTING BY USERS OF THE INFRASTRUCTURE ARE REQUIRED TO ENSURE THE CONFIG REMAINS FUNCTIONAL.")
        System.out.println("WARNING:")
        System.out.println("WARNING: PLEASE GET IN CONTACT WITH THE NF-CORE COMMUNITY VIA SLACK  (#configs CHANNEL) OR EMAIL (https://nf-co.re/join) ASAP")
        System.out.println("WARNING: TO ALLOW CONTINUED USE OF YOUR CONFIG WITH NF-CORE PIPELINES")
        System.out.println("WARNING:")
        System.out.println("WARNING: !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!")
    }.call()
}

// Singularity details
singularity {
    cacheDir = "/nfs/home/software/singularity/nf_cacheDir"
    enabled = true
    autoMounts = true
}

// Process details
process {
    executor = 'local'
    maxRetries = 2
    resourceLimits = params.max_memory && params.max_cpus ? [
        memory: params.max_memory,
        cpus: params.max_cpus
    ] : System.err.println("\nERROR: unknown machine. Update incliva.config on nf-core/configs if you are working on another host.\n")
}
