// Profile details
params {
    config_profile_description = 'INCLIVA Health Research Institute profile for nf-core.'
    config_profile_contact = 'Sheila Zúñiga Trejos - bioinfo@incliva.es'
    config_profile_url = 'https://www.incliva.es/en/services/platforms/bioinformatics-unit/'
}

// Function to get hostname
def getHostname() {
    def process = 'hostname'.execute()
    process.waitFor()
    return process.text.trim()
}

// Function to set singularity path according to which host nextflow is running on

def hostname = { getHostname() }

if (hostname == 'vlinuxcervantes3srv') {
    System.out.println("\nINFO: working on ${hostname}\n")

    // Resources details
    params.max_memory = 60.GB
    params.max_cpus = 15
    singularity.cacheDir =  "/nfs/home/software/singularity/nf_cacheDir"

} else if (hostname == 'vlinuxcervantes4srv') {
    System.out.println("\nINFO: working on ${hostname}.\n")

    // Resources details
    params.max_memory = 120.GB
    params.max_cpus = 19
    singularity.cacheDir = "/nfs/home/software/singularity/nf_cacheDir"

} else {
    System.err.println("\nERROR: unknown machine. Update incliva.config on nf-core/configs if you are working on another host.\n")
}

// Singularity details
singularity {
    enabled = true
    autoMounts = true
}

// Process details
process {
    executor = 'local'
    maxRetries = 2
}
