// Profile details (prepared for HPC, nodoges1)
params {
    config_profile_description = 'INCLIVA Health Research Institute HPC cluster profile provided by nf-core/configs.'
    config_profile_contact     = 'Francisco Martínez Picó (fmartinez@incliva.es)'
    config_profile_url         = 'https://www.incliva.es/en/'
}

singularity {
    enabled    = true
    autoMounts = true
    cacheDir   = "/mnt/zonahpc/home/onco/comun/software/singularity/nfcore_cache"
}

process {
    executor       = 'slurm'
    queue          = 'cpu'
    resourceLimits = [
        memory: 400.GB,
        cpus: 25,
    ]
}
