params {
    config_profile_contact     = 'Konrad Rokicki (rokickik@janelia.hhmi.org)'
    config_profile_name        = 'Janelia Compute Cluster'
    config_profile_description = 'IBM Platform LSF Cluster at Janelia Research Campus'
    config_profile_url         = 'https://www.janelia.org'

    max_cpus   = 48
    max_memory = '768.GB'
    max_time   = '48.h'

    lsf_opts = ''
    schema_ignore_params = 'genomes,lsf_opts'
}

singularity {
  enabled = true
  autoMounts = true
}

process {
  executor = 'lsf'
  scratch = '/scratch/$USER'
  clusterOptions = params.lsf_opts
}

executor {
  perTaskReserve = false
  perJobMemLimit = true
}

