params {
    config_profile_contact       = 'Konrad Rokicki (rokickik@janelia.hhmi.org)'
    config_profile_name          = 'Janelia Compute Cluster'
    config_profile_description   = 'IBM Platform LSF Cluster at Janelia Research Campus'
    config_profile_url           = 'https://www.janelia.org'

    // Old way of specifying resource limits (pre-v3.0.0)
    max_cpus                     = 96
    max_memory                   = '3840.GB'
    max_time                     = '720.h'

    lsf_opts                     = ''
    lsf_queue_size               = 500
    schema_ignore_params         = 'genomes,lsf_opts,lsf_queue_size'
    validationSchemaIgnoreParams = "genomes,lsf_opts,lsf_queue_size,schema_ignore_params"
}

singularity {
    enabled    = true
    autoMounts = true
}

process {
    resourceLimits = [
        cpus: 96,
        memory: 3840.GB,
        time: 720.h
    ]
    executor       = 'lsf'
    scratch        = '/scratch/$USER'
    clusterOptions = params.lsf_opts
}

executor {
    perTaskReserve = false
    perJobMemLimit = true
    queueSize      = params.lsf_queue_size
}
