params {
      config_profile_description = 'The Jackson Laboratory Sumner HPC profile provided by nf-core/configs.'
      config_profile_contact = 'Asaf Peer (@peera)'
      config_profile_url = 'https://jacksonlaboratory.sharepoint.com/sites/ResearchIT/SitePages/Welcome-to-Sumner.aspx'
    }

executor.$slurm.queueSize = 250
process {
    executor = "slurm"
    queue = "compute"
    clusterOptions = {task.time < 72.h ? '-q batch' : '-q long'}
    module = "slurm"
    beforeScript = 'module load singularity'
}
singularity.enabled = true
singularity.autoMounts = true
params {
      max_memory = 768.GB
      max_cpus = 70
      max_time = 336.h
    }
