params {
      config_profile_description = 'The Jackson Laboratory Sumner HPC profile provided by nf-core/configs.'
      config_profile_contact = 'Bill Flynn (@flynnb)'
      config_profile_url = 'https://jacksonlaboratory.sharepoint.com/sites/ResearchIT/SitePages/Welcome-to-Sumner.aspx'
      singularity_cache_dir = '/fastscratch/singularity_cache_nfcore'
    }

executor.$slurm.queueSize = 250
process {
    executor = "slurm"
    queue = "compute"
    clusterOptions = {task.time < 72.h ? '-q batch' : '-q long'}
    module = "slurm"
    beforeScript = 'module load singularity'
}
singularity{
    enabled = true
    autoMounts = true
    cacheDir = params.singularity_cache_dir
}
params {
      max_memory = 320.GB
      max_cpus = 32
      max_time = 336.h
    }
