params {
    config_profile_name = 'Jex'
    config_profile_description = 'Nextflow config file for the MRC LMS Jex cluster'
    config_profile_contact = 'George Young (@A-N-Other)'
    config_profile_url = 'https://lms.mrc.ac.uk/research-facility/bioinformatics-facility/'
}

process {
    executor = 'slurm'
    queue = {
        if ( task.time <= 6.h && task.cpus <= 8 && task.memory <= 64.GB ) {
            'nice'
        } else if ( task.memory > 256.GB ) {
            'hmem'
        } else {
            'cpu'
        }
    }
    clusterOptions = '--qos qos_batch'
}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = '/opt/resources/apps/singularity/cache'
}

params {
    max_memory = 4000.GB
    max_cpus = 16
    max_time = 3.d
}
