// KAUST Config Profile
params {
    config_profile_name = 'KAUST'
    config_profile_description = 'Profile for use on King Abdullah Univesity of Science and Technology (KAUST) Ibex Cluster.'
    config_profile_contact = 'Husen Umer (@kaust.edu.sa)'
    config_profile_url = 'https://docs.hpc.kaust.edu.sa/quickstart/ibex.html'
    save_reference = false
    igenomes_ignore = true
}

// Load genome resources and assets hosted by the Bioinformatics team on IBEX cluster
includeConfig '/biocorelab/BIX/resources/configs/genomes.yaml'

singularity {
    enabled = true
    autoMounts = true
    pullTimeout = '60 min'
    // Use existing images from the centralized library, if available
    libraryDir = "/biocorelab/BIX/resources/singularity/images/"
    // Download images that are missing from the library to user space
    cacheDir = "/home/$USER/.singularity/nf_images/"
}

process {
    executor = 'slurm'
    clusterOptions = "-p batch"
    maxRetries = 5
    errorStrategy = { task.exitStatus in [143,137,104,134,139,151,140,247,12] ? 'retry' : 'finish' }
    beforeScript = 'module load singularity'
    // Max allowed resources per process on Ibex
    resourceLimits = [
        memory: 1600.GB,
        cpus: 200,
        time: 10.d
    ]
}

process {

    withLabel:process_single {
        time = 20.h
    }

    withLabel:process_low {
        cpus   = { 4 * task.attempt }
        memory = { 16.GB * task.attempt }
        time   = { 6.h  * task.attempt }
    }

    withLabel:process_medium {
        cpus   = { 20 * task.attempt }
        memory = { 96.GB * task.attempt }
        time   = { 12.h  * task.attempt }
    }

    withLabel:process_high {
        cpus   = { 40 * task.attempt }
        memory = { 256.GB * task.attempt }
        time   = { 20.h  * task.attempt }
    }

    withLabel:process_long {
        cpus   = { 12 * task.attempt }
        memory = { 128.GB * task.attempt }
        time   = { 96.h  * task.attempt }
    }
}
