// Nextflow config for running on the Koch Institute of MIT Luria HPC cluster
params {
    config_profile_description = 'KI at MIT Luria HPC cluster profile.'
    config_profile_contact     = 'Charlie Whittaker (@Charlie14557807)'
    config_profile_url         = "https://igb.mit.edu/computing-resources/luria-cluster"
}

singularity {
    enabled    = true
    autoMounts = true
}

process {
    resourceLimits = [
        memory: 64.GB,
        cpus: 16,
        time: 12.h
    ]
    executor       = 'slurm'
    clusterOptions = '-p normal'
    beforeScript = 'module add miniconda3/v4;source /home/software/conda/miniconda3/bin/condainit;conda activate /home/charliew/.conda/envs/nf-core_Oct24;module add singularity/3.10.4'
}

