//Profile config names for nf-core/configs
params {
  config_profile_name = 'KRAKEN'
  config_profile_description = 'Jenkins cluster provided by nf-core/configs.'
  config_profile_contact = 'Maxime Garcia or Johannes Alneberg'
  config_profile_url = 'kraken.dyn.scilifelab.se'
}

process {
  executor = 'local'
}

docker {
  enabled = true
  mountFlags = 'z'
  fixOwnership = true
}

params {
  max_memory = 60.GB
  max_cpus = 16
  max_time = 72.h
  igenomes_base = '/share/igenomes/'
}
