params {
  config_profile_contact = 'Adrija Kalvisa <adrija.kalvisa@sund.ku.dk>'
  config_profile_description = 'dangpufl01 configuration'
  config_profile_url = ''
  
  // General cpus/memory/time requirements
  max_cpus = 30
  max_memory = 200.GB
  max_time = 72.h
}

process {

  executor = 'slurm'
  
  # uncomment specifically for running mnaseseq pipeline:
  # withName: TrimGalore {
  #  cpus = 1
  #  }
  
}

executor {
  queueSize = 10
}

singularity {
  enabled = true
  autoMounts = true
  # set up the cache directory outside the $HOME directory
  cacheDir = '/projects/dan1/people/$USER/cache/singularity-images'
  runOptions = '--bind /projects:/projects'
}