params {
  config_profile_contact = 'Adrija Kalvisa <adrija.kalvisa@sund.ku.dk>'
  config_profile_description = 'dangpufl01 configuration'
  config_profile_url = ''
  
  // General cpus/memory/time requirements
  max_cpus = 30
  max_memory = 200.GB
  max_time = 72.h
}

process {
  executor = 'slurm'
  
}

executor {
  queueSize = 5
}

singularity {
  enabled = true
  autoMounts = true
  runOptions = '--bind /projects:/projects'
}