//Profile config names for nf-core/configs
params {
  config_profile_description = 'ALICE and SPECTRE cluster profile provided by nf-core/configs.'
  config_profile_contact = 'Matiss Ozols - mo246@leichester.ac.uk | mo11@sanger.ac.uk | matiss.ozols@manchester.ac.uk | mo513@cam.ac.uk'
}

singularity {
  enabled = true
  envWhitelist = 'TZ'
}

process {
  executor = 'pbs'
  queue = { task.time <= 24.h ? 'short' : task.time > 672.h ? 'long' : 'medium'}
}

