/* ----------------------------------------------------
 * Nextflow config file for the LRZ cm4 cluster
 * ----------------------------------------------------
 */

manifest {
    name = 'LRZ CM4 Configuration'
    author = 'Amit Fenn, Niklas Schandry, Frederik Dröst'
    homePage = 'plantmicrobe.de'
    description = 'Configuration for LRZ CM4 cluster'
}

params {
    // Configuration metadata
    config_profile_name = 'LRZ CM4'
    onfig_profile_description = 'LRZ CM4 configuration'
    config_profile_contact = 'Amit Fenn (@amitfenn); Niklas Schandry(@nschan)'
    config_profile_url = 'https://doku.lrz.de/job-processing-on-the-linux-cluster-10745970.html/'
    config_version = '1.0.0'
    // Default output directory (relative to launch directory)
    outdir = 'results'
}

apptainer {
    enabled = true
    autoMounts = true
}

process {
    beforeScript = 'module load apptainer/1.3.4'
    executor = { 
        System.getenv("SLURM_NNODES") ?
            (System.getenv("SLURM_NNODES").toInteger() > 1 ? 'flux' : 'local') : 
            'local'
        }
    resourceLimits = [
        // The below checks if the queue is cm4_std, which means that for serial or cm4_tiny this is taken from SLURM_*_PER_NODE
        // There is a also a fall-back for cases where these variables are not set (e.g. during github CI tests)
        cpus:   System.getenv("SLURM_NNODES") ? (System.getenv("SLURM_CPUS_ON_NODE").toInteger() < 2 ? System.getenv("SLURM_CPUS_ON_NODE").toInteger() : System.getenv("SLURM_NNODES").toInteger() * 112) : 64,
        memory: System.getenv("SLURM_JOB_PARTITION") == 'cm4_std' ? 488.GB : (System.getenv("SLURM_CPUS_ON_NODE") ? (System.getenv("SLURM_CPUS_ON_NODE").toInteger() * 4500.MB) : 96.GB),
    ]
}


trace {
    enabled = true
    overwrite = true
}

report {
    enabled = true
    overwrite = true
}

timeline {
    enabled = true
    overwrite = true
}

dag {
    enabled = true
    overwrite = true
}
