//Profile config names for nf-core/configs

params {
  config_profile_description = 'National University of Ireland, Galway Lugh cluster'
  config_profile_contact = 'Mehak Chopra (@chopraamhk)'
  contact = 'm.chopra1@universityofgalway.ie'
}

apptainer {
    enabled    = true
    autoMounts = true
    // This is where images are stored
    //you can make your own cacheDir as well with .apptainer at the end
    cacheDir   = "/data/containers/.apptainer"
    
    // IMPORTANT: -C clears host environment variables to prevent the 'mkdir' error.
    // IMPORTANT: We must bind /data4 because that is where your files are.
    runOptions = '-C -B /data:/data -B /data4:/data4 --home $PWD'
}

env {
    APPTAINERENV_IPYTHONDIR      = "./.ipython"
    APPTAINERENV_MPLCONFIGDIR    = "./.matplotlib"
    APPTAINERENV_XDG_CACHE_HOME  = "./.cache"
    SINGULARITYENV_IPYTHONDIR   = "./.ipython"
    SINGULARITYENV_MPLCONFIGDIR = "./.matplotlib"
    SINGULARITYENV_XDG_CACHE_HOME = "./.cache"
}

process {
    executor = 'slurm'
    
    // REMOVED 'module load' from here as in bash script it is there -- module load apptainer 
    // The container is already running; you don't load the engine inside itself.
    beforeScript = 'ulimit -s unlimited'
    
    beforeScript = '''
        module load apptainer
        ulimit -s unlimited
        mkdir -p .ipython .matplotlib .cache
    '''.stripIndent()

    queue = { task.memory >= 55.GB || task.cpus > 16 ? 'highmem' : 'normal' }
}

params {
    max_time = 120.h
    max_memory = 125.GB
    max_cpus = 32
}

executor {
    queueSize = 15
    submitRateLimit = '10 sec'
}

