//Profile config names for nf-core/configs

params {
  config_profile_description = 'National University of Ireland, Galway Lugh cluster profile provided by nf-core/configs'
  config_profile_contact = 'Barry Digby (@BarryDigby)'
  config_profile_url = 'https://github.com/nf-core/configs/blob/master/docs/lugh.md'
}

singularity {
  enabled = true
  autoMounts = true
  cacheDir = '/data/containers'
}

process {
  beforeScript = """
                    module load EasyBuild/3.4.1
                    module load Java/1.8.0_144
                    module load singularity/3.4.1
                    ulimit -s unlimited
                 """
                 .stripIndent()
  containerOptions = '-B /data/'
  executor = 'slurm'
  queue = { task.memory >= 64.GB || task.cpus > 16 ? 'highmem' : 'normal' }
}

params {
  max_time = 120.h
  max_memory = 128.GB
  max_cpus = 32
}
