//Profile config names for nf-core/configs
params {
    config_profile_description = 'The M3 Research Center HPC cluster profile provided by nf-core/configs'
    config_profile_contact = 'Sabrina Krakau (@skrakau)'
    config_profile_url = 'https://www.medizin.uni-tuebingen.de/de/das-klinikum/einrichtungen/zentren/m3'
}

singularity {
    enabled = true
    // cacheDir has to be set up group-wise
}

process {
    executor = 'slurm'
    queue = {task.time > 23.h ? 'cpu3-long' : (task.memory > 460.GB || task.cpus > 64 ? 'cpu2-hm' : 'cpu1')}
    scratch = 'true'
    containerOptions = '--bind $TMPDIR'
}

params {
    max_memory = 1843.GB
    max_cpus = 128
    max_time = 14.d
}
