//Profile config names for nf-core/configs
params {
    config_profile_description = 'The M3 Research Center HPC cluster profile provided by nf-core/configs'
    config_profile_contact     = 'Sabrina Krakau (@skrakau)'
    config_profile_url         = 'https://www.medizin.uni-tuebingen.de/de/das-klinikum/einrichtungen/zentren/m3'
}

singularity {
    enabled = true
}

process {
    resourceLimits = [
        memory: 1843.GB,
        cpus: 128,
        time: 14.d
    ]
    executor         = 'slurm'
    scratch          = 'true'
    containerOptions = '--bind $TMPDIR'
    queue = {
        if (task.label && task.label.toString().contains('gpu')) {
            return 'gpu-a30'
        } else if (task.time > 24.h) {
            return 'cpu3-long'
        } else if (task.memory > 460.GB || task.cpus > 64) {
            return 'cpu2-hm'
        } else {
            return 'cpu1'
        }
    }
}

params {
    igenomes_base = '/mnt/lustre/datasets/igenomes'
    max_memory    = 1843.GB
    max_cpus      = 128
    max_time      = 14.d
}
