params {
  config_profile_description = 'Institut Pasteur Maestro cluster profile'
  config_profile_url = 'https://research.pasteur.fr/en/equipment/maestro-compute-cluster/'
  config_profile_contact = 'Pierre Luisi (@pierrespc)'
}

singularity {
  enabled = true
  autoMounts = true
  runOptions = '--home $HOME:/home/$USER --bind /pasteur'
}

profiles {
    
    normal {
        process {
              executor = 'slurm'
              scratch = false
              queue = 'common'
              clusterOptions = '--qos=normal'
        }

        params {
            igenomes_ignore = true
            igenomesIgnore = true
            max_memory = 400.GB
            max_cpus = 96
            max_time = 24.h
        }
    }

    long {
        process {
              executor = 'slurm'
              scratch = false
              queue = 'common'
              clusterOptions = '--qos=long'
        }

        params {
            igenomes_ignore = true
            igenomesIgnore = true
            max_memory = 400.GB
            max_cpus = 5
            max_time = 8760.h
        }
    }

}
