// Mahuika nf-core configuration profile
params {
    config_profile_description = 'Mahuika HPC profile provided by nf-core/configs'
    config_profile_contact     = 'Jennifer Reeve (@jen-reeve)'
    config_profile_url         = 'https://docs.nesi.org.nz'
    max_cpus                   = 166
    max_memory                 = 1024.GB
    max_time                   = 504.h
}

env {
    APPTAINER_TMPDIR="/home/${System.getenv('USER')}/.apptainer/tmp"
    APPTAINER_CACHEDIR="/home/${System.getenv('USER')}/.apptainer/cache"
}

process {
    resourceLimits = [
        cpus: 166,
        memory: 1.TB,
        time: 504.h
    ]
    cache = 'lenient'
    stageInMode = 'symlink'
    executor = 'slurm'
    queue = 'genoa,milan'
    errorStrategy = { task.exitStatus in ((130..145) + 104 + 175) ? 'retry' : 'finish' }
    maxRetries = 2

    withLabel: 'process_gpu' {
        clusterOptions = '--gpus-per-node 1'
        containerOptions = '--nv'
    }
}

executor {
    queueSize = 999
    submitRateLimit = '60 min'
}

// Enable use of Apptainer to run containers
apptainer {
    enabled = true
    pullTimeout = '2h'
    autoMounts = true
}

cleanup = true

profiles {
    debug {
        cleanup = false
    }

    genoa {
        process {
            resourceLimits = [
                cpus: 166,
                memory: 1.TB,
                time: 504.h
            ]
            cache = 'lenient'
            stageInMode = 'symlink'
            executor = 'slurm'
            queue = 'genoa'
            errorStrategy = { task.exitStatus in ((130..145) + 104 + 175) ? 'retry' : 'finish' }
            maxRetries = 2

            withLabel: 'process_gpu' {
                clusterOptions = '--gpus-per-node 1'
                containerOptions = '--nv'
            }
        }
        params {
            config_profile_description = 'Mahuika HPC genoa partition profile provided by nf-core/configs'
            config_profile_contact     = 'Jennifer Reeve (@jen-reeve)'
            config_profile_url         = 'https://docs.nesi.org.nz'
            max_cpus                   = 166
            max_memory                 = 1432.GB
            max_time                   = 504.h
        }
    }

    milan {
        process {
            resourceLimits = [
                cpus: 166,
                memory: 1.TB,
                time: 504.h
            ]
            cache = 'lenient'
            stageInMode = 'symlink'
            executor = 'slurm'
            queue = 'milan'
            errorStrategy = { task.exitStatus in ((130..145) + 104 + 175) ? 'retry' : 'finish' }
            maxRetries = 2

            withLabel: 'process_gpu' {
                clusterOptions = '--gpus-per-node 1'
                containerOptions = '--nv'
            }
        }
        params {
            config_profile_description = 'Mahuika HPC milan partition profile provided by nf-core/configs'
            config_profile_contact     = 'Jennifer Reeve (@jen-reeve)'
            config_profile_url         = 'https://docs.nesi.org.nz'
            max_cpus                   = 126
            max_memory                 = 1024.GB
            max_time                   = 504.h
        }
    }
}
