params {
  config_profile_description = 'University of Hawaii at Manoa'
  config_profile_url = 'http://www.hawaii.edu/its/ci/'
  config_profile_contact = 'Cedric Arisdakessian'

  max_memory = 400.GB
  max_cpus = 96
  max_time = 72.h
}

process {
  executor = 'slurm'
  queue = 'shared,exclusive,kill-shared,kill-exclusive'
  module = 'tools/Singularity'
}

singularity {
  enabled = true
  cacheDir = "$HOME/.singularity_images_cache"
  autoMounts = true
}
