/*
* ------------------------------------------------------------------
*   Config file for nextflow pipelines for Novo Nordisk's Marjorie cluster
* ------------------------------------------------------------------
*/

params {
    config_profile_description = "Novo Nordisk's Marjorie cluster profile"
    config_profile_contact     = 'Ashot Margaryan (ashotmarg2004@gmail.com), Vincent Aaskov (vincentrose88@gmail.com)'
}

process {
    resourceLimits = [
        memory: 768.GB,
        cpus: 96,
        time: 240.h
    ]
    executor     = 'slurm'
    queue        = 'compute'
    scratch      = true
    maxRetries   = 2
    scratch      = "/scratch/${USER}"
}

executor {
    queueSize       = 64
    submitRateLimit = "10/1sec"
}

apptainer {
    enabled     = true
    autoMounts  = true
    ociAutoPull = true
    cacheDir    = "/scratch/${USER}/.containers"
    pullTimeout = '600 min'
}
