/*
* ------------------------------------------------------------------
*   Config file for nextflow pipelines for Novo Nordisk's Marjorie cluster
* ------------------------------------------------------------------
*/

params {
    config_profile_description = "Novo Nordisk's Marjorie cluster profile"
    config_profile_contact     = 'Ashot Margaryan (ashotmarg2004@gmail.com)'
    max_memory                 = "512.GB"
    max_cpus                   = 64
    max_time                   = "240.h"
}

process {
    executor     = 'slurm'
    beforeScript = 'module purge; module load singularity/3.8.1'
    scratch      = true
    maxRetries   = 3
    scratch      = "/scratch/${USER}"
}

executor {
    queueSize       = 64
    submitRateLimit = "10/1sec"
}

singularity {
    enabled    = true
    autoMounts = true
    cacheDir   = "/scratch/${USER}"
}
