//Profile config names for nf-core/configs
params {
  config_profile_description = 'Config file for Marvin Cluster (UPF-CSIC), based on nf-core/configs'
  config_profile_contact = 'pc.quilis@gmail.com (Pablo Carrion)'
  config_profile_url = 'https://www.ibe.upf-csic.es'
  max_memory = 256.GB
  max_cpus = 32
  max_time = 960.h
}

cleanup = false

singularity {
    enabled = true
    autoMounts = true
}

process {
    executor = 'slurm'
}
