//Profile config names for nf-core/configs
params {
    config_profile_description = 'McCleary Cluster at Yale'
    config_profile_contact     = 'Gisela Gabernet'
    config_profile_email       = 'gisela.gabernet@yale.edu'
    config_profile_github      = '@ggabernet'
    config_profile_url         = 'https://docs.ycrc.yale.edu/clusters/mccleary/'
}

singularity {
    enabled = true
}

env {
    NXF_WRAPPER_STAGE_FILE_THRESHOLD = '40000'
}

executor {
    name            = 'slurm'
    queueSize       = 50
    submitRateLimit = '190/60min'
}

process {
    queue    = { task.time > 24.h ? 'week' : 'day' }
    scratch  = 'true'
    executor = 'slurm'
}

params {
    max_memory = 983.GB
    max_cpus   = 64
}
