//Profile config names for nf-core/configs
params {
    config_profile_name = 'mccleary'
    config_profile_description = 'McCleary Cluster at Yale'
    config_profile_contact = 'Gisela Gabernet, @ggabernet'
    config_profile_url = 'https://docs.ycrc.yale.edu/clusters/mccleary/'

}

singularity {
    enabled = true
}

executor {
    name            = 'slurm'
    queueSize       = 50
    submitRateLimit = '190/60min'
}

process {
    resourceLimits = [
        memory: 983.GB,
        cpus: 64
    ]
    queue = { task.time > 24.h ? 'week' : task.attempt < 3 ? 'scavenge' : 'day' }
    errorStrategy = { task.exitStatus in (1) ? 'finish' : 'retry' }
    max_retries = 2
    scratch = 'true'
    executor = 'slurm'
    withLabel:'process_gpu'{
        queue = 'gpu'
        accelerator = 1
        clusterOptions = "--gpus=1"
        containerOptions = { workflow.containerEngine == "singularity" ? '--nv':
        ( workflow.containerEngine == "docker" ? '--gpus all': null ) }
        memory = 32.GB
        time = 24.h
    }
}
