//Profile config names for nf-core/configs
params {
  config_profile_description = 'Cluster profile for medair (local cluster of Clinical Genomics Gothenburg)'
  config_profile_contact     = 'Clinical Genomics, Gothenburg (cgg-rd@gu.se, cgg-it@gu.se)'
  config_profile_url         = 'https://www.scilifelab.se/units/clinical-genomics-goteborg/'
}

//Nextflow parameters
singularity {
    enabled  = true
    cacheDir = "/apps/bio/dependencies/nf-core/singularities"
}

profiles {
  
  wgs {
    process {
      queue                  = 'wgs.q'
      executor               = 'sge'
      penv                   = 'mpi'
      process.clusterOptions = '-l excl=1'
      params.max_cpus        = 40
      params.max_time        = 48.h
      params.max_memory      = 128.GB
    }
  }

  production {
    process {
      queue                  = 'production.q'
      executor               = 'sge'
      penv                   = 'mpi'
      process.clusterOptions = '-l excl=1'
      params.max_cpus        = 40
      params.max_time        = 480.h
      params.max_memory      = 128.GB
    }
  }
}

//Specific parameter for pipelines that can use Sentieon (e.g. nf-core/sarek, nf-core/raredisease)
process {
  withLabel:'sentieon' {
    container = "/apps/bio/singularities/sentieon-211204-peta.simg"
  }
}
