//Profile config names for nf-core/configs
params {
  config_profile_name = 'MENDEL'
  config_profile_description = 'GMI MENDEL cluster profile provided by nf-core/configs'
  config_profile_contact = 'Patrick Hüther (@phue)'
  config_profile_url = 'http://www.gmi.oeaw.ac.at/'
}

manifest {
  nextflowVersion = '>=19.01.0'
}

process {
  beforeScript = 'module load Miniconda3/4.6.7'
  executor = 'pbspro'
  clusterOptions = { "-P $params.project" }
}

params {
  max_cpus = 32
  max_memory = 128.GB
  max_time = 192.h
  igenomesIgnore = true
}
