/*
 * -------------------------------------------------------------
 *  Name: CFC
 *  Description: MENDEL cluster profile provided by nf-core/configs
 *  Contact person: Philipp H (@phue)
 *  URL: http://www.gmi.oeaw.ac.at/
 * -------------------------------------------------------------
 */
 
 /*
 * --------------------------------------------------------------------------------------
 *  Nextflow config file for the MENDEL cluster at the Gregor Mendel Institute in Vienna
 * -------------------------------------------------------------------------------------
 */

 phue

singularity {
  enabled = true
}

process {
  beforeScript = 'module load Singularity'
  executor = 'pbs'
  clusterOptions = { "-P $params.project" }
}

params {
  max_time = 192.h
  igenomesIgnore = true

  config_profile_name = 'MENDEL'
  config_profile_description = 'MENDEL cluster profile provided by nf-core/configs'
  config_profile_contact = 'Philipp H (@phue)'
  config_profile_url = 'http://www.gmi.oeaw.ac.at/'
}
