//Profile config names for nf-core/configs
params {
  config_profile_name = 'MENDEL'
  config_profile_description = 'MENDEL cluster profile provided by nf-core/configs'
  config_profile_contact = 'Philipp H (@phue)'
  config_profile_url = 'http://www.gmi.oeaw.ac.at/'
}

singularity {
  enabled = true
}

process {
  beforeScript = 'module load Singularity'
  executor = 'pbs'
  clusterOptions = { "-P $params.project" }
}

params {
  max_time = 192.h
  igenomesIgnore = true
}
