//Profile config names for nf-core/configs
params {
  config_profile_description = 'Section for Hologenomics and Section for Molecular Ecology and Evolution @ Globe Institute, University of Copenhagen - mjolnir_globe profile provided by nf-core/configs.'
  config_profile_contact = 'Aashild Vaagene (@ashildv)'
  config_profile_url = 'https://globe.ku.dk/research/'
  max_memory = 500.GB
  max_cpus = 50
  max_time = 720.h
}

singularity {
        enabled = true
        autoMounts = true
        cacheDir = '/maps/projects/mjolnir1/data/cache/nf-core/singularity'
}
        
process {
 executor = 'slurm'
}
        
cleanup = true
       
executor {
  queueSize = 10
}
