//Profile config names for nf-core/configs
params {
    config_profile_description = 'Section for Hologenomics and Section for Molecular Ecology and Evolution @ Globe Institute, University of Copenhagen - mjolnir_globe profile provided by nf-core/configs.'
    config_profile_contact     = 'Bent Petersen (@bentpetersendk)'
    config_profile_url         = 'https://globe.ku.dk/research/'
    max_memory                 = 750.GB
    max_cpus                   = 48
    max_time                   = 336.h
}

singularity {
    enabled    = true
    autoMounts = true
}

process {
    resourceLimits = [
        memory: 750.GB,
        cpus: 48,
        time: 336.h
    ]
    executor = 'slurm'
}

cleanup = true

executor {
    queueSize = 20
}
