params {
  config_profile_description = 'MPCDF HPC profiles (unoffically) provided by nf-core/configs.'
  config_profile_contact = 'James Fellows Yates (@jfy133)'
  config_profile_url = 'https://www.mpcdf.mpg.de/services/supercomputing'
}


profiles {
    
    cobra {
       
        cleanup = true
    
        process {
            beforeScript = 'module load singularity'
            executor = 'slurm'
        }
       
        executor {
            queueSize = 8
            pollInterval = '1 min'
            queueStatInterval = '5 min'
        }
        
        // Set $NXF_SINGULARITY_CACHEDIR in your ~/.bash_profile 
        // to stop downloading the same image for every run
        singularity {
            enabled = true
            autoMounts = true
        }
       
        params {
            config_profile_description = 'MPCDF cobra profile (unofficially) provided by nf-core/configs.'
            max_memory = 725.GB
            max_cpus = 40
            max_time = 24.h
        }
    }
    
    raven {
    
        cleanup = true
    
        process {
            beforeScript = 'module load singularity'
            executor = 'slurm'
        }
       
        executor {
            queueSize = 30
            pollInterval = '1 min'
            queueStatInterval = '5 min'
        }
        
        // Set $NXF_SINGULARITY_CACHEDIR in your ~/.bash_profile 
        // to stop downloading the same image for every run
        singularity {
            enabled = true
            autoMounts = true
        }
       
        params {
            config_profile_description = 'MPCDF raven profile (unofficially) provided by nf-core/configs.'
            max_memory = 2000000.MB
            max_cpus = 72
            max_time = 24.h
        }
    } 
    
    debug {
        cleanup = false
    }
}
