params {
  config_profile_description = 'MPCDF HPC profiles provided by nf-core/configs.'
  config_profile_contact = 'James Fellows Yates (@jfy133)'
  config_profile_url = 'https://www.mpcdf.mpg.de/services/computing'
}


profiles {
    cobra {
        // Does not have singularity! Conda module must be used, but it is
        // recommended to set NXF_CONDA_CACHEDIR var in ~/.bash{_profile,rc}
        // To create common cache dir (only until /u/ periodically cleared!) 
    
        process {
            beforeScript = 'module load anaconda/3/2020.02'
            executor = 'slurm'
        }
       
        executor {
            queueSize =8
        }
       
        params {
            config_profile_description = 'MPCDF cobra profile provided by nf-core/configs.'
            max_memory = 750.GB
            max_cpus = 80
            max_time = 24.h
        }
    }
} 
