params {
    config_profile_description = 'MPCDF Viper HPC profiles (unoffically) provided by nf-core/configs.'
    config_profile_contact     = 'James Fellows Yates (@jfy133)'
    config_profile_url         = 'https://www.mpcdf.mpg.de/services/supercomputing'
}

cleanup = true

process {
    resourceLimits = [
        memory: 2300.GB,
        cpus: 256,
        time: 24.h
    ]
    beforeScript   = 'module load apptainer/1.4.3'
    clusterOptions = '--export=ALL'
    executor       = 'slurm'
}

executor {
    queueSize         = 30
    pollInterval      = '1 min'
    queueStatInterval = '5 min'
}

// Set $NXF_APPTAINER_CACHEDIR in your ~/.bash_profile
// to stop downloading the same image for every run
apptainer {
    enabled    = true
    autoMounts = true
}

params {
    max_memory = 2300.GB
    max_cpus   = 256
    max_time   = 24.h
}
