// Profile config names for nf-core/configs

params {
  // Specific nf-core/configs params
  config_profile_contact = 'Maxime Garcia (@maxulysse)'
  config_profile_description = 'MUNIN profile provided by nf-core/configs'
  config_profile_url = 'https://ki.se/forskning/barntumorbanken'

  // Local AWS iGenomes reference file paths on munin
  igenomes_base = '/data1/references/igenomes/'

  // General cpus/memory/time requirements
  max_cpus = 46
  max_memory = 752.GB
  max_time = 72.h
}

process {
  executor = 'local'
  maxForks = 46

// Limit cpus for Mutect2
  withName:'Mutect2|Mutect2Single|PileupSummariesForMutect2' {
    time = {48.h * task.attempt}
    maxForks = 12
  }
}

singularity {
  cacheDir   = '/data1/containers/'
  enabled    = true
  //runOptions = "--bind /media/BTB_2021_01"
}

// To use docker, use nextflow run -profile munin,docker
profiles {
  docker {
    docker {
      enabled = false
      mountFlags = 'z'
      fixOwnership = true
    }
  }
}
