//Profile config names for nf-core/configs
params {
  config_profile_description = 'Munin profile provided by nf-core/configs.'
  config_profile_contact = 'Szilveszter Juhos (@szilva)'
  config_profile_url = ''
}

process {
  executor = 'local'
  maxForks = 48
}

// To use docker, use nextflow run -profile munin,singularity
singularity {
  enabled = true
  autoMounts = true
}

// To use docker, use nextflow run -profile munin,docker
docker {
  enabled = false
  mountFlags = 'z'
  fixOwnership = true
}

params {
  // general params
  max_memory = 754.GB
  max_cpus = 48
  max_time = 72.h

  // AWS iGenomes reference file paths on munin
  igenome_base = '/data1/references/igenomes/'
}