// NAISS Config Profile
// Docs: https://github.com/nf-core/configs/blob/master/docs/naiss.md
// Supported clusters:
// - Arrhenius


params {
    // Description is overwritten for other clusters using includeConfig
    config_profile_description   = 'NAISS resource profile provided by nf-core/configs.'
    config_profile_contact       = 'Pontus Freyhult (@pontus)'
    config_profile_url           = 'https://www.naiss.se/'
    project                      = null
    clusterOptions               = null
    schema_ignore_params         = "cluster-options,clusterOptions,project,naiss_gpu_type"
    validationSchemaIgnoreParams = "cluster-options,clusterOptions,project,naiss_gpu_type,schema_ignore_params"
    save_reference               = true
   
    // Fallback-defaults, these should be 
    max_memory                   = 500.GB
    max_cpus                     = 16
    max_time                     = 240.h
    // illumina iGenomes reference file paths on UPPMAX
    ignore_params_list           = [
        "cluster-options",
        "clusterOptions",
        "clusterName",
        "ignore_params_list",
        "max_cpus",
        "max_memory",
        "max_time",
        "naiss_gpu_type",
        "project",
        "schema_ignore_params",
        "validationSchemaIgnoreParams",
    ]
}

// nf-schema/nf-validation settings
// Different versions use different specifications
validation {
    ignoreParams = params.ignore_params_list
}
params.schema_ignore_params = params.ignore_params_list.join(",")
params.validationSchemaIgnoreParams = params.ignore_params_list.join(",")

apptainer {
    enabled      = true
    envWhitelist = 'NAISS_TMP,CUDA_VISIBLE_DEVICES'
}

executor {
    $slurm {
        account = params.project
    }

    // Cap local jobs to limit burden on the node they run on
    $local {
        cpus   = 8
        memory = 128.GB
    }
}

process {
    executor       = 'slurm'
    // Use node local storage for execution.
    scratch        = '$NAISS_TMP'

    resourceLimits = {
        return [
        cpus: params.max_cpus,
        memory: params.max_memory,
        time: params.max_time,
    ]}

}

// Get additional settings dependent on resource, do not try to deal
// with non-HPC resources right now
includeConfig ({
    def resource = "unknown"
    try {
        resource = ['/bin/bash', '-c', "sacctmgr show cluster -P -n | cut -f1 -d'|'"].execute().text.trim()
    }
    catch (IOException _e) {
        System.err.println("WARNING: Could not run sacctmgr, defaulting to unknown")
        return "/dev/null"
        }
    return resource ? "naiss/${resource}.conf": "/dev/null"
   }.call())

