params {
    config_profile_description = 'Crop Diversity HPC cluster profile'
    config_profile_contact = 'Thomas Adams (@TMAdams), Moray Smith (@SwiftSeal), Miriam Schreiber (@SchreiberM)'
    config_profile_url = 'https://help.cropdiversity.ac.uk/'
}

executor {
    name = 'slurm'
}

process {
    scratch = true
    errorStrategy = { task.exitStatus in [137, 140] ? 'retry' : 'finish' }
}

singularity {
    enabled = true
    pullTimeout = '2 h'
    autoMounts = true
}
