params {
    config_profile_description = 'Newcastle HPC cluster profile'
    config_profile_contact = 'Chris Wyatt (@chriswyatt1), Fernando Duarte (@FernandoDuarteF)'
    config_profile_url = ''
}

executor {
    name = 'slurm'
}

process {
    scratch = true
    errorStrategy = { task.exitStatus in [137, 140] ? 'retry' : 'finish' }
    queue   = 'defq'                    // maps to `#SBATCH -p defq`
    clusterOptions = '--account=DESIM'  // maps to `#SBATCH -A DESIM`
}

singularity {
    enabled = true
    pullTimeout = '2 h'
    autoMounts = true
}
