params {
    config_profile_description = 'Newcastle comet HPC cluster profile'
    config_profile_contact = 'Chris Wyatt (@chriswyatt1)'   //Can add any other people too here.
    config_profile_url = '' // Need URL to docs
    account = System.getenv('USER')   // Or could be set to null
    max_memory = 256.GB
    max_cpus   = 32
    max_time   = 48.h
}

process {
    executor = 'slurm'
    scratch = true

    clusterOptions = {
        def opts = []
        if (params.account) {
          opts << "--account=${params.account}"
        }
        return opts.join(' ')
      }
}

singularity {
    enabled = true
    pullTimeout = '2 h'
    autoMounts = true
}

cleanup = true

profiles {
    debug {
        cleanup = false
    }
}
