//Profile config names for nf-core/configs
params {
    config_profile_description = 'Sentieon license set up for nf-core by nf-core/configs'
    config_profile_contact = 'Maxime U Garcia (@maxulysse)'
    config_profile_url = 'https://www.sentieon.com'
}

process {
    withLabel: 'sentieon' {
        ext.sentieon_auth_mech_base64 = secrets.SENTIEON_AUTH_MECH_BASE64 ?: ''
        ext.sentieon_auth_data_base64 = secrets.SENTIEON_AUTH_DATA_BASE64 ?: ''
    }
}
