//Profile config names for nf-core/configs
params {
  config_profile_description = 'National Institutes of Health, USA: Biowulf nf-core config'
  config_profile_contact = 'Kevin Brick (@kevbrick)'
  config_profile_url = 'https://hpc.nih.gov/apps/nextflow.html'
  max_memory = 224.GB	
  max_cpus = 32
  max_time = 72.h

  igenomes_base = '/fdb/igenomes/'
}

process {
  scratch = '/lscratch/$SLURM_JOBID'
  maxForks = 100
}

profiles {
  local {
    process.executor = 'local'
  }
  
  slurm {
    process.executor = 'slurm'
    executor.$slurm.pollInterval = '1 min'
    executor.$slurm.queueStatInterval = '5 min'
    executor.queueSize = 100
    executor.$slurm.submitRateLimit = '6/1min'
    process.clusterOptions = ' --gres=lscratch:600 --signal USR2@20'
  }
  
  standard {
    process.executor = 'slurm'
    executor.$slurm.pollInterval = '1 min'
    executor.$slurm.queueStatInterval = '5 min'
    executor.queueSize = 100
    executor.$slurm.submitRateLimit = '6/1min'
    process.clusterOptions = ' --gres=lscratch:600 --signal USR2@20'
  }
}
	
singularity {
  enabled = true
  autoMounts = true
  envWhitelist='https_proxy,http_proxy,ftp_proxy,DISPLAY,SLURM_JOBID'
  
  //As names change, the bind paths required may change too. To chack that everything is being captured:
  //Run '. /usr/local/current/singularity/app_conf/sing_binds' to populate $SINGULARITY_BINDPATH
  //Check that each folder in $SINGULARITY_BINDPATH is listed with -B in the runOptions below. If not, add it.
  runOptions = ' -B /gs10 -B /gs11 -B /gs12 -B /gs4 -B /gs6 -B /gs7 -B /gs8 -B /gs9 -B /vf -B /spin1 -B /data -B /fdb -B /lscratch -B /fdb/igenomes/ --env TMPDIR="/lscratch/$SLURM_JOBID" '
}
