// vim : set sw=4 et ts=4 :

params {
  config_profile_description = 'Biowulf nf-core config'
  config_profile_contact = 'staff@hpc.nih.gov'
  config_profile_url = 'https://hpc.nih.gov/apps/nextflow.html'
  max_memory = '224 GB'
  max_cpus = 32
  max_time = '72 h'

  igenomes_base = '/fdb/igenomes/'
}

container_mounts =  '-B/gs10,/gs11,/gs12,/gs6,/gs8,/gs9,/vf,/spin1,/data,/fdb,/gpfs,/lscratch'

// use a local executor for short jobs. For this the
// settings below may have to be adapted to the allocation for
// the main nextflow job
executor {
    $local {
        queueSize = 100
        memory = '12 G'
        cpus = '6'
    }
    $slurm {
        queue = 'norm'
        queueSize = 200
        pollInterval = '2 min'
        queueStatInterval = '5 min'
        submitRateLimit = '6/1min'
        retry.maxAttempts = 1
    }
}


profiles {
    biowulf {
        process {
            executor = 'slurm'
            errorStrategy = 'finish'
            maxRetries = 0
            clusterOptions = ' --gres=lscratch:200 '
            containerOptions = " $container_mounts "

            scratch = '/lscratch/$SLURM_JOBID'
            // with the default stageIn and stageOut settings using scratch can
            // result in humungous work folders
            // see https://github.com/nextflow-io/nextflow/issues/961 and
            //     https://www.nextflow.io/docs/latest/process.html?highlight=stageinmode
            stageInMode = 'symlink'
            stageOutMode = 'rsync'
        }

        // example for setting different parameters for jobs with a 'gpu' label
        //withLabel:gpu {
        //    queue = 'gpu'
        //    time = '36h'
        //    clusterOptions = " --gres=lscratch:400,gpu:v100x:1 "
        //    containerOptions = " --nv $mounts "
        //}

        singularity.enabled = true
        singularity.autoMounts = true
        singularity.cacheDir = "$PWD/singularity"
        singularity.envWhitelist='https_proxy,http_proxy,ftp_proxy,DISPLAY,SLURM_JOBID'
        
        timeline.enabled = true
        report.enabled = true
    }
}
