//Profile config names for nf-core/configs
params
{
  config_profile_description = 'Northwestern University Quest HPC (Genomics Nodes) config provided by nf-core/configs'
  config_profile_contact = 'Rogan Grant / Janna Nugent (@RoganGrant, @NUjon)'
  config_profile_url = 'https://www.it.northwestern.edu/research/user-services/quest/'
  max_memory = 190.GB
  max_cpus = 40
  max_time = 240.h
  igenomes_base = "/projects/genomicsshare/AWS_iGenomes/references"
}

singularity
{
  enabled = true
  autoMounts = true
  cacheDir = "/projects/b1042/singularity_cache"
}

process
{
  beforeScript = 'module purge; module load singularity/latest; module load graphviz/2.40.1'
  executor = 'slurm'
  queue = {task.memory >= 190.GB ? 'genomics-himem' : task.time >= 48.h ? 'genomicslong' : 'genomics'}
  clusterOptions = '-A b1042'
}

executor
{
  submitRateLimit = '1sec'
}
