singularityDir = "${HOME}/.singularity/singularity_images_nextflow"


singularity {
    enabled = true
    autoMounts = true
    cacheDir = singularityDir
}

process {
    executor = 'slurm'
    queue = { task.accelerator ? 'gpu' : (task.memory > 100.GB ? 'bigmem' : 'pe2') }
}

params {
    config_profile_contact = 'John Zinno (@jzinno)'
    config_profile_description = 'New York Genome Center (NYGC) cluster profile provided by nf-core/configs.'
    config_profile_url = 'https://www.nygenome.org/'
}

executor {
    queueSize = 196
    submitRateLimit = '5 sec'
}
