params {
    config_profile_description = 'New York University HPC profile provided by nf-core/configs.'
    config_profile_contact = 'HPC@nyu.edu'
    config_profile_url = 'https://hpc.nyu.edu'
    max_memory = 3000.GB
    max_cpus = 96
    max_time = 7.d
}

singularity.enabled = true

process {
    executor = 'slurm'
    clusterOptions = '--export=NONE'
    maxRetries = 2
}

executor {
    queueSize = 1900
    submitRateLimit = '20 sec'
}
