// nf-core/configs: OIST Deigo cluster profile
params {
    config_profile_description = 'The Okinawa Institute of Science and Technology Graduate University (OIST) HPC cluster profile provided by nf-core/configs.'
    config_profile_contact     = 'OISTs Bioinformatics User Group <BioinfoUgrp@oist.jp>'
    config_profile_url         = 'https://github.com/nf-core/configs/blob/master/docs/oist.md'

    // Legacy limits, read only by pipelines made with nf-core/tools < 3.0
    max_memory = 500.GB
    max_cpus   = 128
    max_time   = 96.h
}

validation {
    ignoreParams = ['max_memory', 'max_cpus', 'max_time']
}

singularity {
    enabled = true
}

process {
    resourceLimits = [
        memory: 500.GB,
        cpus: 128,
        time: 96.h
    ]
    executor       = 'slurm'
    queue          = 'compute'
    clusterOptions = '-C epyc'
    // Must be 0 with the local executor, and not larger than executor.queueSize.
    array          = 96
}

executor {
    // Throttle the Slurm controller.  Form is 'count/interval'.
    submitRateLimit   = '12/1min'
    queueSize         = 208
    // Checks .exitcode files on /flash; does not query Slurm.
    pollInterval      = '30 sec'
    // Period of the only recurring squeue call.
    queueStatInterval = '5 min'
}

profiles {
    // Deigo, 'short' partition on the Intel nodes: -profile oist,oist_short
    // queueSize and array are those of 'compute'.
    oist_short {
        params {
            max_memory = 500.GB
            max_cpus   = 40
            max_time   = 2.h
        }
        process {
            resourceLimits = [
                memory: 500.GB,
                cpus: 40,
                time: 2.h
            ]
            queue          = 'short'
            clusterOptions = '-C xeon'
        }
    }
    // Saion, 'intel' partition: -profile oist,oist_saion
    oist_saion {
        params {
            max_memory = 120.GB
            max_cpus   = 40
            max_time   = 96.h
        }
        process {
            resourceLimits = [
                memory: 120.GB,
                cpus: 40,
                time: 96.h
            ]
            queue          = 'intel'
            // Preempted jobs are requeued by Slurm instead of cancelled.
            clusterOptions = '--requeue'
            array          = 16
        }
        executor {
            queueSize       = 40
            // A requeued job is pending, which Nextflow counts as not running;
            // wait for it to restart before declaring the task failed.
            exitReadTimeout = '1 day'
        }
    }
    // Test suites (tens of short tasks) on Deigo: -profile oist,test,oist_ci
    // Limits are those of the nf-core template's test profile, which the
    // institutional profile would otherwise replace.
    oist_ci {
        params {
            max_memory = 15.GB
            max_cpus   = 4
            max_time   = 1.h
        }
        process {
            resourceLimits = [
                memory: 15.GB,
                cpus: 4,
                time: 1.h
            ]
            queue          = 'short'
            clusterOptions = '-C xeon'
            array          = 0
        }
        executor {
            queueSize         = 32
            submitRateLimit   = '1/1s'
            pollInterval      = '5 sec'
            queueStatInterval = '1 min'
        }
    }
}
