//Profile config names for nf-core/configs
params {
  config_profile_description = 'The Okinawa Institute of Science and Technology Graduate University (OIST) HPC cluster profile provided by nf-core/configs.'
  config_profile_contact = 'OISTs Bioinformatics User Group <BioinfoUgrp@oist.jp>'
  config_profile_url = 'https://github.com/nf-core/configs/blob/master/docs/oist.md'
}

singularity {
  enabled = true
}

process {
  executor = 'slurm'
  queue = 'compute'
  clusterOptions = '-C zen2'
}

params {
  max_memory = 500.GB
  max_cpus = 128
  max_time = 90.h
}
