// Clemson University - Palmetto HPC cluster
// nf-core institutional config
// Scheduler: SLURM | Containers: Apptainer/Singularity
//
// To activate: nextflow run <pipeline> -profile palmetto
//


params {
	config_profile_name = 'PALMETTO'
    config_profile_description = 'nf-core config for the Clemson University Palmetto HPC cluster'
    config_profile_contact = 'Research Computing and Data Engagement (ithelp@clemson.edu)'
    config_profile_url = 'https://docs.rcd.clemson.edu'

	// Use local igenomes database
	igenomes_ignore = true
	igenomes_base = '/datasets/igenomes/'

    max_memory = 750.GB
    max_cpus = 192
    max_time = 72.h
    partition = 'work1'
}

validation.ignoreParams = ["work1"]

cleanup = false

executor {
    queueSize = 256
    pollInterval = '1 min'
    queueStatInterval = '5 min'
    submitRateLimit = '10 sec'
}

// Set $NXF_SINGULARITY_CACHEDIR in your ~/.bashrc
// to stop downloading the same image for every run
singularity {
    enabled = true
    autoMounts = true
}

apptainer {
	autoMounts = true
}

process {
	resourceLimits = [
	    cpus: params.max_cpus,
	    memory: params.max_memory,
	    time: params.max_time
	]
    executor = 'slurm'
	queue = { params.partition }

	scratch = true

	maxRetries = 3
    }


//
// This profile will clean up your work directory after a
// successful run, intermediate files will not consume storage space
//
// To activate: nextflow run <pipeline> -profile palmetto,cleanup
//

profiles {
    cleanup {
        cleanup = true
    }
}
