//Profile config names for nf-core/configs
params {
  config_profile_description = 'The Institut Pasteur HPC cluster profile'
  config_profile_contact = 'Remi Planel (@rplanel)'
  config_profile_url = 'https://research.pasteur.fr/en/service/tars-cluster'
}

singularity {
  enabled = true
  autoMounts = true
  runOptions = '-B /local/scratch:/tmp'
}

process {
  executor = 'slurm'
}

params {
  igenomes_ignore = true
  igenomesIgnore = true //deprecated
  max_memory = 256.GB
  max_cpus = 28
  max_time = 24.h
}
