// profile for Nimbus cloud at Pawsey

params {
    config_profile_description  = 'Pawsey Nimbus cloud profile'
    config_profile_contact      = '@marcodelapierre & @SarahBeecroft'
    config_profile_url          = 'https://support.pawsey.org.au/documentation/display/US/Nimbus+for+Bioinformatics'
}

process {
    cache = 'lenient'
}

profiles {

// To use singularity, use nextflow run -profile pawsey_nimbus,singularity
  singularity {
    singularity {
      enabled     = true
      autoMounts  = true
    }
  }

// To use docker, use nextflow run -profile pawsey_nimbus,docker
  docker {
    docker {
      enabled = true
    }
  }

  c2r8 {
    params {
      max_cpus   = 2
      max_memory = '6.GB'
    }
  }

  c4r16 {
    params {
      max_cpus   = 4
      max_memory = '14.GB'
    }
  }

  c8r32 {
    params {
      max_cpus   = 8
      max_memory = '30.GB'
    }
  }

  c16r64 {
    params {
      max_cpus   = 16
      max_memory = '62.GB'
    }
  }
}
