// profile for Nimbus cloud at Pawsey

params {
    config_profile_description = 'Pawsey Nimbus cloud profile'
    config_profile_contact     = '@marcodelapierre & @SarahBeecroft'
    config_profile_url         = 'https://support.pawsey.org.au/documentation/display/US/Nimbus+for+Bioinformatics'
}

process {
    cache = 'lenient'
}

profiles {

    // To use singularity, use nextflow run -profile pawsey_nimbus,singularity
    singularity {
        singularity {
            enabled    = true
            autoMounts = true
        }
    }

    // To use docker, use nextflow run -profile pawsey_nimbus,docker
    docker {
        docker {
            enabled = true
        }
    }

    c2r8 {
        params {
            max_cpus   = 2
            max_memory = '6.GB'
        }
        process {
            resourceLimits = [
                memory: 6.GB,
                cpus: 2
            ]
        }
    }

    c4r16 {
        params {
            max_cpus   = 4
            max_memory = '14.GB'
        }
        process {
            resourceLimits = [
                memory: 14.GB,
                cpus: 4
            ]
        }
    }

    c8r32 {
        params {
            max_cpus   = 8
            max_memory = '30.GB'
        }
        process {
            resourceLimits = [
                memory: 30.GB,
                cpus: 8
            ]
        }
    }

    c16r64 {
        params {
            max_cpus   = 16
            max_memory = '62.GB'
        }
        process {
            resourceLimits = [
                memory: 62.GB,
                cpus: 16
            ]
        }
    }
}
