// Pawsey Setonix nf-core configuration profile
params {
    config_profile_description = 'Pawsey Setonix HPC profile provided by nf-core/configs'
    config_profile_contact     = 'Sarah Beecroft (@SarahBeecroft), Georgie Samaha (@georgiesamaha)'
    config_profile_url         = 'https://support.pawsey.org.au/documentation/display/US/Setonix+User+Guide'
    max_cpus                   = 64
    max_memory                 = '230.GB'
}
 
// Enable use of Singularity to run containers
singularity {
    enabled     = true
    autoMounts  = true
    autoCleanUp = true
}
 
// Submit up to 1024 concurrent jobs
executor {
    queueSize = 1024
}
 
// Define process resource limits
// See: https://support.pawsey.org.au/documentation/pages/viewpage.action?pageId=121479736#RunningJobsonSetonix-Overview
process {
    resourceLimits = [
        memory: '230.GB',
        cpus: 64
    ]
    executor       = 'slurm'
    clusterOptions = "--account=${System.getenv('PAWSEY_PROJECT')}"
    module         = 'singularity/4.1.0-slurm'
    cache          = 'lenient'
    stageInMode    = 'symlink'
    queue          = { task.memory <= 230.GB ? 'work' : (task.memory <= 980.GB ? 'highmem' : 'highmem') }
}
