//Profile config names for nf-core/configs
params {
  config_profile_description = 'University of Adelaide Phoenix HPC cluster profile provided by nf-core/configs'
  config_profile_contact = 'Yassine Souilmi / Alexander Peltzer (@yassineS, @apeltzer)'
  config_profile_url = 'https://www.adelaide.edu.au/phoenix/'
}

singularity {
  enabled = true
  envWhitelist='SINGULARITY_BINDPATH'
  autoMounts = true
}

process {
  beforeScript = 'module load Singularity/2.5.2-GCC-5.4.0-2.26'
  executor = 'slurm'
}

params {
  max_memory = 128.GB
  max_cpus = 32
  max_time = 48.h
}
