params {
    config_profile_description = """
                                 NYU prince cluster profile provided by nf-core/configs.
                                 Please consider running the pipeline on a compute node the first time, as it will be pulling the docker image, which will be converted into a singularity image, which is heavy on the login node. Subsequent runs can be done on the login node, as the docker image will only be pulled and converted once. By default the images will be stored in ./work/singularity
                                 """.stripIndent()
    config_profile_contact = 'Tobias Schraink (@tobsecret)'
    config_profile_url = 'https://wikis.nyu.edu/display/NYUHPC/Clusters+-+Prince'
}

singularity {
      enabled = true
}

process {
        beforeScript = """
                          module load singularity/3.1.0
                          module load squashfs/4.3
                       """
                       .stripIndent()
        executor = 'slurm'
}
