//Profile config names for nf-core/configs
params {
  config_profile_description = 'PSMN (Pôle Scientifique de Modélisation Numérique) HPC cluster profile'
  config_profile_contact = 'Laurent Modolo (@l-modolo)'
  config_profile_url = 'http://www.ens-lyon.fr/PSMN/doku.php?id=en:accueil'
}

charliecloud {
  enabled = true
  cacheDir = "/Xnfs/abc/charliecloud"
  runOptions = "--bind /scratch:/scratch --bind /Xnfs:/Xnfs --bind /home:/home"
  readOnlyInputs = true
}

params {
  max_memory = 380.GB
  max_cpus = 32
  max_time = 96.h
}

// you can have more information on the cluster parition here:
// https://www.ens-lyon.fr/PSMN/Documentation/clusters_usage/computing_resources.html

process {
  executor = 'slurm'
  clusterOptions = "--partition=Lake"

  cpus     = { 1   ,  'cpus'   ) }
  memory   = { 6.GB,  'memory' ) }
  time     = { 24.h,  'time'   ) }

  withLabel: 'process_single|process_single_thread|sc_tiny|sc_small|sc_medium' {
    cpus   = { 1, 'cpus' }
    memory = { 124.GB , 'memory' }
    time   = { 24.h }
  }
  withLabel:'process_low|mc_small|process_very_low' {
    cpus   = { 16, 'cpus' }
    memory = { 94, 'memory' ) }
    time   = { 24.h }
  }
  withLabel:'process_medium|mc_medium' {
    cpus   = { 32, 'cpus' }
    memory = { 190, 'memory'  }
    time   = { 48.h }
  }
  withLabel:'process_high|mc_large|mc_huge|process_high_cpus|cpus_max' {
    cpus   = { 32, 'cpus' }
    memory = { 380.GB, 'memory' }
    time   = { 48.h }
  }
  withLabel: 'process_long|process_maximum_time|process_long_parallelized' {
    time   = { 96.h,  'time' ) }
  }
  withLabel: 'process_high_memory|memory_max' {
    memory = { 380.GB, 'memory' ) }
  }
  withLabel: gpu {
    clusterOptions = "--partition=E5-GPU"
  }
}
