//Profile config names for nf-core/configs
params {
  config_profile_description = 'PSMN (Pôle Scientifique de Modélisation Numérique) HPC cluster profile'
  config_profile_contact = 'Laurent Modolo (@l-modolo)'
  config_profile_url = 'http://www.ens-lyon.fr/PSMN/doku.php?id=en:accueil'
}

charliecloud {
  enabled = true
  cacheDir = "/Xnfs/abc/charliecloud"
  runOptions = "--bind /scratch:/scratch --bind /Xnfs:/Xnfs --bind /home:/home"
  readOnlyInputs = true
}

process {
  executor = 'slurm'
  clusterOptions = "--partition=Lake"
}

params {
  max_memory = 512.GB
  max_cpus = 32
  max_time = 24.h
}
