//Profile config names for nf-core/configs
params {
    config_profile_description = 'PSMN (Pôle Scientifique de Modélisation Numérique) HPC cluster profile'
    config_profile_contact = 'Laurent Modolo (@l-modolo)'
    config_profile_url = 'http://www.ens-lyon.fr/PSMN/doku.php?id=en:accueil'
}

charliecloud {
    enabled = true
    cacheDir = "/Xnfs/abc/charliecloud"
    runOptions = "--bind /scratch:/scratch --bind /Xnfs:/Xnfs --bind /home:/home"
    readOnlyInputs = true
}

process {
    executor = 'slurm'
    clusterOptions = "--partition=E5,Lake,Lake-flix"

    cpus     = 1
    memory   = 32.GB
    time     = 24.h

    withLabel: 'process_single|process_single_thread|sc_tiny|sc_small|sc_medium' {
    clusterOptions = "--partition=E5,Lake,Lake-flix"
    cpus   = 1
    memory = 114.GB
    time   = 24.h
    }
    withLabel:'process_low|mc_small|process_very_low' {
    clusterOptions = "--partition=E5,Lake,Lake-flix"
    cpus   = 16
    memory = 90.GB
    time   = 24.h
    }
    withLabel:'process_medium|mc_medium' {
    clusterOptions = "--partition=Lake,Lake-flix"
    cpus   = 32
    memory = 180.GB
    time   = 48.h
    }
    withLabel:'process_high|mc_large|mc_huge|process_high_cpus|cpus_max' {
    clusterOptions = "--partition=Lake,Lake-flix"
    cpus   = 32
    memory = 370.GB
    time   = 48.h
    }
    withLabel: 'process_long|process_maximum_time|process_long_parallelized' {
    clusterOptions = "--partition=Lake"
    time   = 96.h
    }
    withLabel: 'process_high_memory|memory_max' {
    clusterOptions = "--partition=Lake,Lake-flix"
    memory = 370.GB
    }
    withLabel: gpu {
    clusterOptions = "--partition=E5-GPU"
    }
}

params {
    max_memory = 370.GB
    max_cpus = 32
    max_time = 96.h
}

