params {

    config_profile_description = 'Queen Mary Universtiy of London'
    config_profile_contact = 'Simon Murray (simon . murray AT ucl . ac . uk)'
    config_profile_url = 'https://docs.hpc.qmul.ac.uk/'

}

executor {
    name = 'sge'
}

apptainer.runOptions = "-B ${HOME},${PWD}"

process {

    //NEED TO SET PARALLEL ENVIRONMENT TO SMP SO MULTIPLE CPUS CAN BE SUBMITTED
    penv = 'smp'

    //ADD MEMORY TO CLUSTEROPTIONS
    clusterOptions = { "-S /bin/bash -l h_vmem=${(task.memory.mega/task.cpus)}M" }

    withLabel:process_high {
        clusterOptions = { "-S /bin/bash -l h_vmem=${(task.memory.mega/task.cpus)}M -l highmem" }
    }
    withLabel:process_long {
        clusterOptions = { "-S /bin/bash -l h_vmem=${(task.memory.mega/task.cpus)}M -l highmem" }
    }
    withLabel:process_high_memory {
        clusterOptions = { "-S /bin/bash -l h_vmem=${(task.memory.mega/task.cpus)}M -l highmem" }
    }
}
