params {
    config_profile_description = 'REANNZ HPC profile provided by nf-core/configs'
    config_profile_contact     = 'Jennifer Reeve (@jen-reeve)'
    config_profile_url         = 'https://docs.nesi.org.nz'
    max_cpus                   = 64
    max_memory                 = 1024.GB
}

process {
  resourceLimits = [
    cpus: 128,
    memory: 2.TB,
    time: 720.h
  ]
  executor = 'slurm'
  queue = 'genoa,milan'
  maxRetries = 2
}

executor {
    queueSize = 500
    submitRateLimit = '20 min'
}

apptainer {
    apptainer.pullTimeout = '2h'
}