//Profile config names for nf-core/configs
params {
    config_profile_description = 'Generic RKI HPC profile provided by nf-core/configs.'
    config_profile_contact = 'Marie Lataretu (@MarieLataretu)'
    config_profile_url = 'https://www.rki.de/'
}

singularity {
    envWhitelist = 'HTTPS_PROXY,HTTP_PROXY,http_proxy,https_proxy,FTP_PROXY,ftp_proxy'
}

process {
    executor = 'slurm'
    cache = 'lenient'
}

executor {
    queueSize = 20
}

trace {
    fields = 'task_id,hash,workdir,native_id,name,tag,status,attempt,exit,submit,duration,realtime,%cpu,peak_rss,peak_vmem,rchar,wchar,container,module'
}

    // Use priority partition
    priority {
        process {
            clusterOptions = '--partition=priority'
        }
    }
}
