//Profile config names for nf-core/configs
params {
    config_profile_description = 'Generic RKI HPC profile provided by nf-core/configs.'
    config_profile_contact = 'Marie Lataretu (@MarieLataretu)'
    config_profile_url = 'https://www.rki.de/'
}

singularity {
    envWhitelist = 'HTTPS_PROXY,HTTP_PROXY,http_proxy,https_proxy,FTP_PROXY,ftp_proxy'
}

process {
    executor = 'slurm'
    cache = 'lenient'
    queue = { task.time < 5.d ? 'main' : 'long' }
    // maximum physical resource limits for one specific process
    resourceLimits = [
        memory: 2.TB,
        cpus: 256,
        time: 45.d
    ]
}

executor {
    queueSize = 20
}

trace {
    fields = 'task_id,hash,workdir,native_id,name,tag,status,attempt,exit,submit,duration,realtime,%cpu,peak_rss,peak_vmem,rchar,wchar,container,module'
}

profiles {
    // Use priority partition
    priority {
        process {
            clusterOptions = '--partition=priority'
        }
    }
}
