params {
  config_profile_description = 'Kings College London Rosalind HPC'
  config_profile_contact = 'Theo Portlock'
  config_profile_url = 'https://www.rosalind.kcl.ac.uk/'
}

singularity {
  enabled = true
  autoMounts = true
  docker.enabled = false
}

params {
  max_memory = 64.GB
  max_cpus = 16
  max_time = 24.h
  partition = 'shared'
  schema_ignore_params = 'partition,genomes,modules'
}

process {
  executor = 'slurm'
  maxRetries = 3
  clusterOptions = { "--partition=$params.partition" }
}

executor {
  submitRateLimit = '1 sec'
}
