params {
    config_profile_name = "SAGA-Sigma2 (Unofficial)"
    config_profile_description = "SAGA HPC (hosted by Sigma2.no) unofficial configuration profile provided by nf-core/configs"
    config_profile_contact     = "Arup Ghosh (@arupgsh)"
    config_profile_url         = "https://documentation.sigma2.no"
}

//NF Work directory
workDir = "${System.getenv('USERWORK')}/nf_work/${System.getenv('SLURM_JOB_ID')}"

// Executor params
executor {
    name            = "slurm"
    queueSize       = 40
    submitRateLimit = "10/1min"
}

process {   
    executor = "slurm"
    // To use devel set --qos=devel inside cluster options
    clusterOptions = "--account=${System.getenv('SLURM_JOB_ACCOUNT')} --gres=localscratch:300G"

    resourceLimits = [
        cpus:   64,
        memory: 6040.GB,
        time:   14.d
    ]

    queue = {
        def mem = task.memory ?: 4.GB
        def cpu = task.cpus   ?: 1

        if (mem > 3021.GB) {
            return 'hugemem'
        }
        if (mem > 178.GB || (mem.toGiga() / cpu) > 8) {
            return 'bigmem'
        }
        return 'normal'
    }

    scratch = true
    scratch = '$LOCALSCRATCH'
    stageInMode    = "symlink"
    stageOutMode   = "rsync"
    cache          = "lenient"
}

apptainer {
    enabled = true
    autoMounts = true
    envWhitelist = 'HTTPS_PROXY,HTTP_PROXY,http_proxy,https_proxy'
    cacheDir = "${System.getenv('USERWORK')}/apptainer_cache"
}

timeline {
    enabled = true
    overwrite = true
    file    = "${params.outdir}/pipeline_info/execution_timeline.html"
}

report {
    enabled = true
    overwrite = true
    file    = "${params.outdir}/pipeline_info/execution_report.html"
}

dag {
    enabled = true
    overwrite = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag.html"
}

cleanup = true
