params {
    config_profile_name = "SAGA-Sigma2 (Unofficial)"
    config_profile_description = "SAGA HPC (hosted by Sigma2.no) unofficial configuration profile provided by nf-core/configs"
    config_profile_contact     = "Arup Ghosh <arup.dev>"
    config_profile_url         = "https://documentation.sigma2.no"
    outdir = null // output directory

    // default limits
    ncpus = 1
    mem = 4.GB
    time = 1.h

    // ignore these params in schema validation nf-validation
    schema_ignore_params         = "ncpus,mem,time"
    validationSchemaIgnoreParams = "ncpus,mem,time"
}

// ignore these params in schema validation nf-schema
validation {
    ignoreParams = ["ncpus", "mem", "time"]
}


//NF Work directory
workDir = "${System.getenv('USERWORK')}/nf_work/${System.getenv('SLURM_JOB_ID')}"

// Executor params
executor {
    name            = "slurm"
    queueSize       = 40
    submitRateLimit = "10/1min"
}

process {   
    // limits for normal queue
    resourceLimits = [
        memory: 178.GB,
        cpus  : 40,
        time  : 7.d 
    ]

    executor = "slurm"
    // To use devel set --qos=devel inside cluster options
    clusterOptions = "--account=${System.getenv('SLURM_JOB_ACCOUNT')}"

    queue = {
        if (task.memory > 350.GB) {
            return 'hugemem'
        } else if (task.memory > 180.GB) {
            return 'bigmem'
        } else {
            return 'normal'
        }
    }

    cpus   = params.ncpus
    memory = params.mem
    time   = params.time
    scratch = true
    scratch = "${System.getenv('SCRATCH')}"
    stageInMode    = "symlink"
    stageOutMode   = "rsync"
    cache          = "lenient"
}

apptainer {
    enabled = true
    autoMounts = true
    envWhitelist = 'HTTPS_PROXY,HTTP_PROXY,http_proxy,https_proxy'
    cacheDir = "${System.getenv('USERWORK')}/apptainer_cache"
}

timeline {
    enabled = true
    overwrite = true
    file    = "${params.outdir}/pipeline_info/execution_timeline.html"
}

report {
    enabled = true
    overwrite = true
    file    = "${params.outdir}/pipeline_info/execution_report.html"
}

dag {
    enabled = true
    overwrite = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag.html"
}

cleanup = true
