params {
    config_profile_description = """
                                 SANBI Ilifu slurm cluster profile provided by nf-core/configs.
                                 """.stripIndent()
    config_profile_contact = 'Peter van Heusden (@pvanheus)'
    config_profile_url = 'https://github.com/nf-core/configs/blob/master/docs/sanbi_ilifu.md'
    max_memory = 250.GB
    max_cpus = 48
    max_time = 336.h
}

singularity {
    enabled = true
    autoMounts = true
}

process {
    beforeScript = """
                       module load singularity
                   """
                   .stripIndent()

    executor = 'slurm'
    queue = 'Main'
}

executor {
    jobName = { "$task.tag" }
}
