singularityDir = "/ilifu/bio/projects/sanbi/singularity_cache"

singularity {
    enabled = true
    autoMounts = true
    cacheDir = singularityDir
}

process {
    beforeScript = """
                       module load singularity
                   """
                   .stripIndent()

    executor = 'slurm'
    queue = { task.memory > '250.M' ? 'HighMem' : 'Main' }
}

executor {
    jobName = { "$task.tag" }
}
