singularityDir = "/ilifu/bio/projects/sanbi/singularity_cache"

params {
    config_profile_description = """
                                 SANBI Ilifu slurm cluster profile provided by nf-core/configs.
                                 """.stripIndent()
    config_profile_contact = 'Peter van Heusden (@pvanheus)'
    config_profile_url = 'https://github.com/nf-core/configs/blob/master/docs/sanbi_ilifu.md'
}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = singularityDir
}

process {
    beforeScript = """
                       module load singularity
                   """
                   .stripIndent()

    executor = 'slurm'
    queue = { task.memory > MemoryUnit.of('250 GB') ? 'HighMem' : 'Main' }
}

executor {
    jobName = { "$task.tag" }
}
