params {
  config_profile_description = 'The Wellcome Sanger Institute HPC cluster profile'
  config_profile_contact = 'Anthony Underwood (@aunderwo)'
  config_profile_url = 'https://www.sanger.ac.uk/group/informatics-support-group/'
}

singularity {
  enabled = true
  cacheDir   = "${baseDir}/singularity"
  runOptions = '--bind /lustre --bind /nfs/pathnfs01 --bind /nfs/pathnfs02 --bind /nfs/pathnfs03 --bind /nfs/pathnfs04 --bind /nfs/pathnfs05 --bind /nfs/pathnfs06 --no-home'
}

process{
  executor = 'lsf'
  queue = 'normal'
  errorStrategy = { task.attempt <= 5 ? "retry" : "finish" }
  process.maxRetries = 5
}

executor{
  name = 'lsf'
  perJobMemLimit = true
  poolSize = 4
  submitRateLimit = '5 sec'
  killBatchSize = 50
}

params {
  max_memory = 128.GB
  max_cpus = 64
  max_time = 12.h
}
