// Profile details
params {
    config_profile_description = 'The Wellcome Sanger Institute HPC cluster (farm5) profile'
    config_profile_contact = 'Priyanka Surana (@priyanka-surana)'
    config_profile_url = 'https://www.sanger.ac.uk'
}

// Queue and retry strategy
process{
    executor = 'lsf'
    queue = { task.time < 12.h ? 'normal' : task.time < 48.h ? 'long' : 'basement' }
    errorStrategy = 'retry'
    maxRetries = 5
}

// Executor details
executor{
    name = 'lsf'
    perJobMemLimit = true
    poolSize = 4
    submitRateLimit = '5 sec'
    killBatchSize = 50
}

// Max resources
params {
    max_memory = 683.GB
    max_cpus = 256
    max_time = 720.h
}

// For singularity
singularity.runOptions = '--bind /lustre --bind /nfs'
