// Sheffield Bioinformatics Core Configuration Profile - ShARC
// Base Institutional Configuration


// nf-core specific parameters displayed in header summary of each run

params {

  config_profile_description = 'Sheffield Bioinformatics Core - ShARC'
  config_profile_contact = 'Lewis Quayle (l.quayle@sheffield.ac.uk)'
  config_profile_url = 'https://docs.hpc.shef.ac.uk/en/latest/sharc/index.html'

}


// hpc resource limits

params {
  
  max_cpus = 16
  max_memory = 256.GB
  max_time = 96.h

}


// hpc configuration specific to ShARC

process {

  // scheduler

  executor = 'sge'
  penv = 'smp'
  queue = { task.time <= 6.h ? 'shortint.q' : 'all.q' }
  clusterOptions = { "-l rmem=${ (task.memory.toGiga() / task.cpus) }G" }

}


// optional executor settings

executor {

  queueSize = 10
  submitRateLimit = '1 sec'

}


// container engine

singularity {

  enabled = true
  autoMounts = true

}

