params {
    config_profile_description = 'Generic profile for sciCORE provided by nf-core/configs'
    config_profile_contact     = 'Marta Pla Díaz (@Marta2906)'
    config_profile_url         = 'https://scicore.unibas.ch/'
    max_memory = 2.TB
    max_cpus   = 128
    max_time   = 14.d
    igenomes_base = '/scicore/data/managed/igenomes/latest'
}

// Perform work directory cleanup after successful run
cleanup = true

process {
    resourceLimits = [
        memory: 2.TB,
        cpus: 128,
        time : 14.d
    ]
    executor = 'slurm'
    queue = { task.memory > 1.TB ? 'bigmem' : 'scicore' }
    clusterOptions = { task.time <= 30.m ? '--qos=30min' : task.time <= 6.h ? '--qos=6hours' : task.time <= 1.d ? '--qos=1day' : task.time <= 7.d ? '--qos=1week' : '--qos=2week' }
    maxRetries = 2
    scratch = '$TMPDIR'
}

singularity {
    enabled = true
    autoMounts = true
}

executor {
     queueSize = 64
}

profiles {
    debug {
        cleanup = false
    }
    schuen0002 {
        cacheDir = '/scicore/home/schuen0002/GROUP/NEXTFLOW_SINGULARITY'
    }
}
