params {
  config_profile_description = 'Super Computing Wales'
  config_profile_contact = 'j.downie@bangor.ac.uk'
  config_profile_url = 'https://supercomputing.wales/'
}
singularity {
  enabled = true
  autoMounts = true
}
executor {
  name = 'slurm'
  queueSize = 10
  queue = 'htc'
}
params {
  max_memory = 180.GB
  max_cpus = 20
  max_time = 72.h
}
process {
  beforeScript = 'module load singularity/3.8.5'
}