params {
    config_profile_description = 'DEPRECATED: Super Computing Wales'
    config_profile_contact     = '<no maintainer>'
    config_profile_url         = 'https://supercomputing.wales/'

    warning_message = {
        System.out.println("WARNING: !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!")
        System.out.println("WARNING:")
        System.out.println("WARNING: THE SCW CONFIG IS NO LONGER MAINTAINED.")
        System.out.println("WARNING:")
        System.out.println("WARNING: THIS CONFIG WILL BE DEPRECATED BY THE END OF JUNE 2026 IF NO NEW MAINTAINER IS FOUND.")
        System.out.println("WARNING:")
        System.out.println("WARNING: PLEASE GET IN CONTACT WITH THE NF-CORE COMMUNITY VIA SLACK  (#configs CHANNEL) OR EMAIL (https://nf-co.re/join) ASAP")
        System.out.println("WARNING: TO ALLOW CONTINUED USE OF YOUR CONFIG WITH NF-CORE PIPELINES")
        System.out.println("WARNING:")
        System.out.println("WARNING: !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!")
    }.call()
}

}
singularity {
    enabled    = true
    autoMounts = true
}
executor {
    name      = 'slurm'
    queueSize = 10
    queue     = 'htc'
}
params {
    max_memory = 384.GB
    max_cpus   = 20
    max_time   = 72.h
}
process {
    resourceLimits = [
        memory: 384.GB,
        cpus: 20,
        time: 72.h
    ]
    beforeScript = 'module load singularity-ce/3.11.4'
}
