//Profile config names for nf-core/configs
params {
    config_profile_description = 'University of Texas at MD Anderson HPC cluster profile provided by nf-core/configs'
    config_profile_contact = 'Jiawei Gu'
    config_profile_contact_github = '@jiawku'
    config_profile_contact_email = 'jiawei.gu@mdanderson.org'
    config_profile_url = 'https://hpcweb.mdanderson.edu/'
}

env {
    SINGULARITY_CACHEDIR="/home/${System.getenv('USER')}/.singularity/cache"
    APPTAINER_TMPDIR="/home/${System.getenv('USER')}/.apptainer/tmp"
    APPTAINER_CACHEDIR="/home/${System.getenv('USER')}/.apptainer/cache"
}

singularity {
    enabled = true
    envWhitelist='APPTAINERENV_NXF_TASK_WORKDIR,APPTAINERENV_NXF_DEBUG,APPTAINERENV_LD_LIBRARY_PATH,SINGULARITY_BINDPATH,LD_LIBRARY_PATH,TMPDIR,SINGULARITY_TMPDIR'
    autoMounts = true
    runOptions = '-B ${TMPDIR:-/tmp}'
    cacheDir = "/home/${env('USER')}/.singularity/cache"
}

// Submit up to 100 concurrent jobs
// pollInterval and queueStatInterval of every 5 minutes
// submitRateLimit of 20 per minute
executor {
    name = 'lsf'
    queueSize = 100
    perJobMemLimit = true
    queueStatInterval = '2 min'
    submitRateLimit = '20 min'
    jobName = { "${task.process.split(':').last()}" }
}


process {
    resourceLimits = [
        memory: 3900.GB, // Max memory based on vhighmem node
        cpus: 80,       // Max CPUs based on E80 node
        time: 504.h     // Max time for long queues
    ]

    executor = 'lsf' // Use LSF executor

    cpus   = { 2      * task.attempt }
    memory = { 12.GB   * task.attempt }
    time   = { 3.h    * task.attempt }

    maxRetries     = 3
    afterScript   = 'sleep 10' // Prevent abrupt re-submissions after retries

    queue = {
        if (task.memory <= 3900.GB && task.cpus <= 80) {
            if (task.time <= 3.h) return 'short'
            if (task.time <= 24.h) return 'medium'
            if (task.time <= 240.h) return 'long'
            if (task.time <= 504.h) return 'vlong'
        }

        throw new IllegalArgumentException("No matching queue for memory=${task.memory}, cpu=${task.cpus}, time=${task.time}")
    }

    withLabel:process_gpu {
        cpus   = { 10 * task.attempt }           // Conservative fit for egpu nodes (80 cores/node)
        memory = { 237.GB * task.attempt }       // Sized for egpu nodes (950 GB/node)
	    time   = { 24.h * task.attempt }         // egpu allows up to 504 h
        queue  = 'egpu'                          // Prioritize egpu because gpu has few older nodes
        clusterOptions = '-gpu "num=1:j_exclusive=yes"'
        containerOptions = '--nv'
    }
}

params {
    max_memory = 3900.GB  // Maximum memory based on nodes
    max_cpus = 80        // Maximum CPUs based on E80 nodes
    max_time = 504.h     // Maximum runtime for evlong queues
    igenomes_base = '/rsrch3/scratch/reflib/REFLIB_data/AWS-iGenomes'
}

cleanup = true
