//Create profiles to easily switch between the different process executors and platforms.

//global parameters
params {
    config_profile_description = 'The SCRI (seattle childrens research institute) cluster profile'
    config_profile_contact     = 'Research Scientific Computing (@RSC-RP)'
    config_profile_url         = 'https://github.com/RSC-RP'

    assoc                      = "${params.assoc}"
}

workDir = "/data/hps/assoc/private/${params.assoc}/user/$USER/temp"

process {
    executor       = 'slurm'
    queue          = 'cpu-core-sponsored'
    memory         = 7500.MB
    time           = '72h'
    clusterOptions = "--account cpu-${params.assoc}-sponsored"
}

docker {
    enabled = false
}

singularity {
    enabled    = true
    autoMounts = true
    cacheDir   = "/data/hps/assoc/private/${params.assoc}/container"
    runOptions = '--containall --no-home'
}

executor {
    queueSize = 2000
}
