//Create profiles to easily switch between the different process executors and platforms.

//global parameters
params {
    config_profile_description = 'The SCRI (seattle childrens research institute) cluster profile'
    config_profile_contact = 'Research Scientific Computing (@RSC-RP)'
    config_profile_url = 'https://github.com/RSC-RP'

    // SCRI HPC project params
    queue                       = "paidq" // freeq
    project                     = "${params.project}"
}


profiles {
    //For running on an interactive session on cybertron with singularity module loaded
    local_singularity {
        process.executor = 'local'
        singularity.enabled = true
    }
    //For executing the jobs on the HPC cluster with singularity containers
    PBS_singularity {
        process.executor = 'pbspro'
        process.queue = "${params.queue}"
        process.clusterOptions = "-P ${params.project}"
        process.beforeScript = 'module load singularity'
        singularity.enabled = true
    }
}
