def assoc = System.getenv("ASSOC") // Association belonging to a lab or project

//global parameters
params {
    config_profile_description = "The SCRI (Seattle Children's Research Institute) cluster profile"
    config_profile_contact     = 'Research Scientific Computing (@RSC-RP)'
    config_profile_url         = 'https://github.com/RSC-RP/nextflow_scri_config'
}

//workDir = "/data/hps/assoc/private/${assoc}/user/$USER/temp"

process {
    executor       = 'slurm'
    queue          = 'cpu-core-sponsored'
    memory         = 7500.MB
    time           = '72h'
    clusterOptions = "--account cpu-${assoc}-sponsored"

    withLabel:'process_gpu' {
        queue            = 'gpu-core-sponsored'
        clusterOptions   = "--gpus 1 --account gpu-${assoc}-sponsored"
        containerOptions = '--nv'
    }
}

docker {
    enabled = false
}

singularity {
    enabled    = true
    autoMounts = true
    cacheDir   = "/data/hps/assoc/private/${assoc}/container"
    runOptions = '--containall --no-home'
}

executor {
    queueSize = 2000
}
