
singularity {
  enabled = true
  autoMounts = true
}

profiles {
  40core   {
    process  {
      execute = 'slurm'
      max_memory = 175.GB
      max_cpus = 40 
      max_time = 168.h
      maxRetries = 2
      queue = { task.time <= 4.h ? 'short-40core' : task.time <= 48.h ? 'long-40core': task.time <= 168.h ? 'extended-40core' }
    }  
    params {
      config_profile_description = 'Stony Brook Universitys seaWulf cluster 40core profile provided by nf-core/configs.'
      config_profile_contact = 'David Carlson (@davidecarlson)'
      config_profile_url = 'https://it.stonybrook.edu/services/high-performance-computing'
    }
  }
 	
  96core {
    process {
      max_memory = 240.GB
      max_cpus = 96
      max_time = 168.h
      maxRetries = 2
      queue = { task.time <= 4.h ? 'short-96core' : task.time <= 48.h ? 'long-96core': task.time <= 168.h ? 'extended-96core' }
    }
    params {
      config_profile_description = 'Stony Brook Universitys seaWulf cluster 96core profile provided by nf-core/configs.'
      config_profile_contact = 'David Carlson (@davidecarlson)'
      config_profile_url = 'https://it.stonybrook.edu/services/high-performance-computing'
    }
  }
}
