singularity {
  enabled = true
  autoMounts = true
}
process {
  executor = 'slurm'
  maxRetries = 4
  queue = { task.cpus <= 40 ? 'long-40core' : 'long-96core' }
}
params {
  config_profile_contact = 'David Carlson (@davidecarlson)'
  config_profile_url = 'https://it.stonybrook.edu/services/high-performance-computing'
  config_profile_description = 'Stony Brook Universitys seaWulf cluster profile provided by nf-core/configs.'
  max_time = 48.h
  max_memory = 251.GB
  max_cpus = 96

}

executor {
  queueSize = 25
  submitRateLimit = '5 sec'
}
