singularity {
    enabled = true
    autoMounts = true
}

process {
    executor = 'slurm'
    maxRetries = 12
    queue = { task.time <= 4.h ? 'short-40core-shared' : task.memory >= 150.GB ? ' long-96core-shared' : task.cpus > 10 ? 'long-96core-shared' : 'long-40core-shared' }
}

params {
    config_profile_contact = 'David Carlson (@davidecarlson)'
    config_profile_url = 'https://it.stonybrook.edu/services/high-performance-computing'
    config_profile_description = 'Stony Brook Universitys seaWulf cluster profile provided by nf-core/configs.'
    max_time = 24.h
    max_memory = 251.GB
    max_cpus = 96

}

executor {
    queueSize = 99
    submitRateLimit = '5 sec'

}
