//Profile config names for nf-core/configs
params {
  config_profile_description = 'Section for Evolutionary Genomics @ GLOBE, University of Copenhagen - seg_globe profile provided by nf-core/configs.'
  config_profile_contact = 'Aashild Vaagene (@ashildv)'
  config_profile_url = 'https://globe.ku.dk/research/evogenomics/'
  max_memory = 250.GB
  max_cpus = 35
  max_time = 720.h
}

singularity {
  enabled = true
  autoMounts = true
  cacheDir = '/shared/volume/hologenomics/data/cache/nf-eager/singularity'
}

process {
 executor = 'slurm'
 queue = { task.time < 24.h ? 'hologenomics-short' : task.time < 168.h ? 'hologenomics' : 'hologenomics-long' }
}
        
cleanup = true
       
executor {
  queueSize = 8
}

