// Config file for nf-core's self-hosted-runners

//Profile config names for nf-core/configs
params {
    config_profile_description = "Profile for nf-core's self-hosted runners provided by nf-core/configs."
    config_profile_contact = 'Matthias Hörtenhuber (@mashehu)'
    config_profile_url = 'https://github.com/nf-core/actions-runners'


    // General cpus/memory/time requirements
    max_cpus = 2
    max_memory = 7.GB
    max_time = 72.h
}

docker {
    enabled = true
    docker.fixOwnership = true
    docker.userEmulation = false
    docker.runOptions = '--platform=linux/amd64'
}

