//Profile config names for nf-core/configs
params {
  config_profile_description = 'MPI SHH cluster profile provided by nf-core/configs.'
  config_profile_contact = 'James Fellows Yates (@jfy133)'
  config_profile_url = 'https://shh.mpg.de'
}

singularity {
    enabled = true
    cacheDir = "/projects1/singularity_scratch/cache/"
}

process {
    executor = 'slurm'
    queue = 'short'
    queueSize = 16
}

params {
  max_memory = 256.GB
  max_cpus = 32
  max_time = 2.h
  //Illumina iGenomes reference file path
  igenomes_base = "/projects1/public_data/igenomes/"
}