//Profile config names for nf-core/configs
params {
  config_profile_description = 'Generic MPI-SHH SDAG cluster profile provided by nf-core/configs.'
  config_profile_contact = 'James Fellows Yates (@jfy133), Maxime Borry (@Maxibor)'
  config_profile_url = 'https://shh.mpg.de'
  max_memory = 2.TB
  max_cpus = 128
  max_time = 720.h
  //Illumina iGenomes reference file path
  igenomes_base = "/projects1/public_data/igenomes/"
}

// Preform work directory cleanup after a successful run
cleanup = true

process {
    executor = 'slurm'
    queue = { task.memory > 756.GB || task.cpus > 64 ? 'supercruncher': task.time <= 2.h ? 'short' : task.time <= 48.h ? 'medium': 'long' }
}

executor {
    queueSize = 8
}

profiles {
  singularity {
    singularity.enabled = true
    singularity.autoMounts = true
    singularity.cacheDir = "/projects1/singularity_scratch/cache/"
  }
  // Profile to deactivate automatic cleanup of work directory after a successful run. Overwrites cleanup option.
  debug {
    cleanup = false
  }
}
