/*
 * -------------------------------------------------------------
 *  Name: SHH
 *  Description: Configuration profile for MPI SHH Jena clusters.
 *  Contact person: James Fellows Yates (yates@shh.mpg.de)
 *  URL: https://shh.mpg.de 
 * -------------------------------------------------------------
 */

singularity {
    enabled = true
    cacheDir = "/projects1/users/$USER/nextflow/nf_cache/singularity/"
}

/*
* To be improved by process specific resource requests
* By default, take the medium queue, smaller processes might just go to short (e.g. multiqc or similar things)
*/

process {
    executor = 'slurm'
    queue = 'medium'
}


params {
  max_memory = 734.GB
  max_cpus = 64
  max_time = 48.h
  profile_description = 'MPI SHH Cluster Profile provided by nf-core/configs.'
}
