/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Nextflow config file for Sheffield Hallam University BMRC Cluster
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Author: Dr Lewis A Quayle
Mail: l.quayle@shu.ac.uk
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/


// params scope - displayed in header summary of each run

params {

    config_profile_description = 'Sheffield Hallam Universty - BMRC HPC'
    config_profile_contact = 'Dr Lewis A Quayle (l.quayle@shu.ac.uk)'
    config_profile_url = 'https://openflighthpc.org/latest/docs/'

}


// process scope - hpc configuration and auto-retry

process {

    resourceLimits = [
      cpus: 64,
      memory: 1007.GB,
      time: 999.h
    ]
    executor = 'slurm'
    maxRetries = 2

}


// executor scope - scheduler settings

executor {

    queueSize = 50
    submitRateLimit = '1 sec'

}


// container scope

apptainer {

    enabled = true
    autoMounts = true

}


// automatically delete intermediate work directory on successful completion of a run

cleanup = true
