params {
    // Config Params
    config_profile_name        = 'Snellius'
    config_profile_description = 'Dutch National supercomputer hosted at SURF.'
    config_profile_contact     = 'Victor de Jager (@vdejager)'
    config_profile_url         = 'https://servicedesk.surf.nl/wiki/display/WIKI/Snellius'
    max_time = 5.d
}
// default process

process {
    // default executor
    executor       = 'slurm'
    scratch        = false

    // Default partitions
    time           = params.max_time
    // job names need to be unique a
    jobName = {
                //n = "${task.name}" -> n.replaceAll('[\\\s:()]', '_')
                n = "${task.name}" -> n.replaceAll('[^a-zA-Z0-9]', '_')
    }
    // this might need to be adjusted  to accomondate the 'fat' and 'highmem' partitons
    queue  = 'genoa'

}

/*
 * Apptainer configuration
 * -------------------------
 * Apptainer is used to run containerised tools.
 */
apptainer {
    enabled     = true
    autoMounts  = true
    // the default is 20 minutes and fails with large images
    pullTimeout = "3 hours"

}

// main snellius profile
// using apptainer as default container infrastructure
// https://servicedesk.surf.nl/wiki/display/WIKI/Snellius+partitions+and+accounting
profiles {
    snellius {
        process {
            executor = 'slurm'

        }

        executor {
                name = 'slurm'
                queueSize = 120
                submitRateLimit = '5 sec'
                jobName = {
                    n = "${task.name}" -> n.replaceAll( '[\\\s:()]', '_')
                }
        }

        singularity.enabled    = false
        singularity.autoMounts = false
        conda.enabled          = false
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = true

    }
}
