//Profile config names for nf-core/configs
params {
    config_profile_description = 'Software license set up for nf-core by nf-core/configs'
    config_profile_contact = 'Maxime U Garcia (@maxulysse)'
    config_profile_url = 'https://nf-co.re'
    sentieon_extension = null

    validationSchemaIgnoreParams = "cf_ploidy,genomes,sentieon_extension,test_data"
}

if (params.sentieon_extension) {
    process {
        withLabel: 'sentieon' {
            ext.sentieon_auth_mech_base64 = secrets.SENTIEON_AUTH_MECH_BASE64 ?: ''
            ext.sentieon_auth_data_base64 = secrets.SENTIEON_AUTH_DATA_BASE64 ?: ''
        }
    }
}
