singularityDir = "$WORK/singularity_cache"

params {
  config_profile_description = 'The Lonestar 5 (LS5) system TACC HPC cluster profile provided by nf-core/configs'
  config_profile_contact = 'Edmund Miller (@emiller88)'
  config_profile_url = 'https://portal.tacc.utexas.edu/user-guides/lonestar5'
}

singularity {
  enabled = true
  envWhitelist = 'SINGULARITY_CACHEPATH'
  autoMounts = true
  cacheDir = singularityDir
}

process {
  beforeScript = 'module load tacc-singularity/3.4.2'
  exector = 'slurm'
  // TODO queue = { task.memory > 64.GB ? 'largemem512GB' : 'normal' }
  queue = 'normal'
  clusterOptions = '-n 1 -N 1'
}


executor {
  name = 'slurm'
  queueSize = 50
  pollInterval = '1min'
}

params {
  // Techincally has 64GB, but jobs fail if you submit anymore than 62GB
  max_memory = 62.GB
  max_cpus = 48
  max_time = 48.h
}
