//Nextflow config file for running on TES Backend
params {
    config_profile_description = 'GA4GH TES Profile'
    config_profile_contact     = 'Venkat Malladi (@vsmalladi)'
    config_profile_url         = 'https://github.com/ga4gh/task-execution-schemas'

    // TES
    endpoint                   = null
    basicUsername              = null
    basicPassword              = null
}


plugins {
    id "nf-ga4gh"
}

process {
    executor = "tes"
}


tes {
    endpoint        = params.endpoint
    basicUsername   = params.basicUsername
    basicPassword   = params.basicPassword
}


