params {
  config_profile_description = 'Telethon Institute of Genetic and Medicine (TIGEM) provided by nf-core/configs.'
  config_profile_contact = 'Giuseppe Martone (@giusmar)'
  config_profile_url = 'https://github.com/giusmar'
}

process.executor = 'slurm'
google.zone = 'europe-west1'

singularity {
    enabled = true
    autoMounts = true
}
