//Profile config names for nf-core/configs
params {
    config_profile_description = 'Generic profile for APG group of University of Tuebingen provided by nf-core/configs.'
    config_profile_contact = 'Thiseas C. Lamnidis (@TCLamnidis), Stephen Clayton (@sc13-bioinf)'
    config_profile_url = 'https://uni-tuebingen.de/fakultaeten/mathematisch-naturwissenschaftliche-fakultaet/fachbereiche/geowissenschaften/arbeitsgruppen/urgeschichte-naturwissenschaftliche-archaeologie/ina/archaeo-and-palaeogenetik/'
    max_memory = 4.TB
    max_cpus = 256
}

// Perform work directory cleanup after a successful run
cleanup = true

process {
    executor = 'slurm'
    queue = { task.time <= 2.h ? 'short' : task.time <= 48.h ? 'medium': 'long' }
    maxRetries = 2
}

executor {
    queueSize = 28 // Run up to 28 jobs in parallel per run, to avoid flooding the cluster.
}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = "/opt/container_tmp/apptainer/nextflow"
}

profiles {
  // Profile to deactivate automatic cleanup of work directory after a successful run. Overwrites cleanup option.
    debug {
        cleanup = false
    }
}
