//Profile config names for nf-core/configs
params {
        config_profile_description = 'The Tufts University HPC cluster profile provided by nf-core/configs.'
        config_profile_contact = 'Yucheng Zhang'
        config_profile_contact_github = '@zhan4429'
        config_profile_contact_email = 'Yucheng.Zhang@tufts.edu'
        config_profile_url = 'https://it.tufts.edu/high-performance-computing'
}

params {
        max_memory = 120.GB
        max_cpus = 72
        max_time = 168.h
        partition = 'batch'
        igenomes_base = '/cluster/tufts/biocontainers/datasets/igenomes/'
}

process {
        executor = 'slurm'
        clusterOptions = "-N 1 -n 1 -p $params.partition"
    }

executor {
        queueSize = 16
        pollInterval = '1 min'
        queueStatInterval = '5 min'
        submitRateLimit = '10 sec'
}

// Set $NXF_SINGULARITY_CACHEDIR in your ~/.bashrc
// to stop downloading the same image for every run
singularity {
        enabled = true
        autoMounts = true
}
