// Sheffield Bioinformatics Core Configuration Profile - Stanage
// Base Institutional Configuration


// nf-core specific parameters displayed in header summary of each run

params {

    config_profile_description = 'Sheffield Bioinformatics Core - Stanage'
    config_profile_contact = 'Sheffield Bioinformatics Core (bioinformatics-core@sheffield.ac.uk)'
    config_profile_url = 'https://docs.hpc.shef.ac.uk/en/latest/stanage/index.html#stanage'

}


// hpc resource limits

params {

    max_cpus = 64
    max_memory = 251.GB
    max_time = 96.h

}


// hpc configuration

process {

    // scheduler

    executor = 'slurm'

}


// optional executor settings

executor {

    queueSize = 50
    submitRateLimit = '1 sec'

}


// container engine

singularity {

    enabled = true
    autoMounts = true

}

