params {

  config_profile_description = 'University College London Myriad cluster'
  config_profile_contact = 'Chris Wyatt (ucbtcdr@ucl.ac.uk)'
  config_profile_url = 'https://www.rc.ucl.ac.uk/docs/Clusters/Myriad/'

}

process {
  executor='sge'
  penv = 'smp'
}

params {
  // Defaults only, expecting to be overwritten
  max_memory = 128.GB
  max_cpus = 36
  max_time = 72.h
  // igenomes_base = 's3://ngi-igenomes/igenomes/'
}

// optional executor settings

executor {

  queueSize = 10
  submitRateLimit = '1 sec'

}

singularity {
    enabled = true
    autoMounts = true
}