params {

    config_profile_description = 'University College London CS cluster'
    config_profile_contact = 'Simon Murray (simon . murray AT ucl . ac . uk)'
    config_profile_url = 'https://hpc.cs.ucl.ac.uk/'

}

executor {
    name = 'sge'
}

singularity.runOptions = "-B ${HOME},${PWD}"

process {

    //NEED TO SET PARALLEL ENVIRONMENT TO SMP SO MULTIPLE CPUS CAN BE SUBMITTED
    penv = 'smp'

    //ADD MEMORY TO CLUSTEROPTIONS
    clusterOptions = { "-S /bin/bash -l tmem=${task.memory.mega}M,h_vmem=${task.memory.mega}M" }
}
