params {
    config_profile_description = 'University College London Myriad cluster'
    config_profile_contact     = 'Chris Wyatt (ucbtcdr@ucl.ac.uk)'
    config_profile_url         = 'https://www.rc.ucl.ac.uk/docs/Clusters/Myriad/'
}

executor {
    name = 'sge'
}

process {
    penv           = 'smp'
    clusterOptions = "-S /bin/bash"
    scratch = false
}

apptainer {
    enabled    = true
    autoMounts = true
    cacheDir   = "${HOME}/Scratch/.apptainer/pull"
    runOptions = "-B ${HOME},${PWD} --no-mount /scratch --writable-tmpfs"
}
