params {

    config_profile_description = 'University College London CS cluster'
    config_profile_contact     = 'Simon Murray (simon . murray AT ucl . ac . uk)'
    config_profile_url         = 'https://hpc.cs.ucl.ac.uk/'
}

executor {
    name = 'sge'
}

singularity.runOptions = "-B ${HOME},${PWD}"

process {

    //NEED TO SET PARALLEL ENVIRONMENT TO SMP SO MULTIPLE CPUS CAN BE SUBMITTED
    penv           = 'smp'

    // Construct cluster options with memory and CPU
    clusterOptions = {
        def mem = task.memory.mega
        def cpus = task.cpus

        def baseOpts = "-S /bin/bash -l tmem=${mem}M,h_vmem=${mem}M"
        def peOpts = cpus > 1 ? " -pe smp ${cpus} -R y" : ""

        return baseOpts + peOpts
    }
}
