params {
    config_profile_description = 'University College London Myriad cluster'
    config_profile_contact     = 'Chris Wyatt (ucbtcdr@ucl.ac.uk), Fernando Duarte (f.frutos@ucl.ac.uk)'
    config_profile_url         = 'https://www.rc.ucl.ac.uk/docs/Clusters/Myriad/'
}

executor {
    name = 'sge'
    queueSize = 100 // Limit number of jobs sent to qsub (max is 1000, but in case user submits more than one job)
    submitRateLimit = '10/1s'  // Submit max 10 jobs per second. To ease pressure on scheduler.
}

process {
    penv           = 'smp'
    clusterOptions = {
        def mem = task.memory.mega
        def cpus = task.cpus
        def memoryPerCpu = mem / task.cpus // We need memory per cpu, as is not possible to request memory per job
        def baseOpts = "-S /bin/bash -l mem=${memoryPerCpu}M "
        return baseOpts
    }
    scratch = false
}

singularity {
    enabled    = true
    autoMounts = true
    cacheDir   = "${System.getenv('HOME')}/Scratch/.apptainer/pull"
    runOptions = "-B ${System.getenv('HOME')},${System.getenv('PWD')} --no-mount /scratch --writable-tmpfs"
}
