params {
    config_profile_description = 'University College London CS cluster'
    config_profile_contact     = 'Chris Wyatt (c . wyatt AT ucl . ac . uk)'
    config_profile_url         = 'https://hpc.cs.ucl.ac.uk/'
}

executor {
    name = 'sge'
}

singularity {
    enabled    = true
    autoMounts = true
    cacheDir   = "${System.getenv('HOME')}/.apptainer/pull"
    runOptions = "-B ${System.getenv('HOME')},${System.getenv('PWD')}"
}

process {
    scratch = "/scratch0/${System.getenv('USER')}/"
    executor = 'sge'
    penv = { task.cpus > 1 ? 'smp' : null }
    clusterOptions = {
        def mem = task.memory.mega as int
        def cpus = task.cpus
        def baseOpts = "-S /bin/bash -l tmem=${mem}M,h_vmem=${mem}M "
        def peOpts = cpus > 1 ? " -R y " : ""
        return baseOpts + peOpts
    }
}
