/*
 * -------------------------------------------------
 *  HPC cluster config file
 * -------------------------------------------------
 * http://www.hpc.uct.ac.za/
 */

params {
   config_profile_description = 'University of Cape Town High Performance Cluster config file provided by nf-core/configs.'
   config_profile_contact = 'Katie Lennard (@kviljoen)'
   config_profile_url = 'http://hpc.uct.ac.za/index.php/hpc-cluster/'

   singularity_cache_dir = "/bb/DB/bio/singularity-containers/"
   igenomes_base = '/bb/DB/bio/rna-seq/references'
   max_memory = 384.GB
   max_cpus = 40
   max_time = 1000.h
   hpc_queue = 'ada'
   hpc_account = '--account cbio'
   genome = 'GRCh37'
}

singularity {
   enabled = true
   cacheDir = params.singularity_cache_dir
   autoMounts = true
}

process {
   executor = 'slurm'
   queue = params.hpc_queue
   // Increasing maxRetries, this will overwrite what we have in base.config
   maxRetries = 4
   clusterOptions = params.hpc_account
   stageInMode = 'symlink'
   stageOutMode = 'rsync'
}

executor {
   queueSize = 15
}
