params {
      config_profile_description = 'The Lineberger Comprehensive Cancer Center at the University of North Carolina at Chapel Hill'
      config_profile_contact = 'Alan Hoyle (@alanhoyle)'
      config_profile_url = 'https://lbc.unc.edu'
      singularity_library_dir = '/datastore/lbcfs/labs/bioinformatics/software/singularity-library'
    }

process {
    executor = "slurm"
    queue = "allnodes"
}
singularity{
    enabled    = true
    autoMounts = true
    runOptions = '-B /datastore'
}
params {
      max_memory = 950.GB
      max_cpus = 90
    }
