params {
    config_profile_description = "BARC nf-core profile for UNC's Longleaf HPC."
    config_profile_contact = 'Austin Hepperla'
    config_profile_contact_github = '@ahepperla'
    config_profile_contact_email = 'hepperla@unc.edu'
    config_profile_url = "https://help.rc.unc.edu/longleaf-cluster/"
}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = "/work/appscr/singularity/nf-core/singularity_images_cache"
    registry = 'quay.io'
}

process {
    executor = 'slurm'
    queue = 'general'

    withName: 'NFCORE_CUTANDRUN:CUTANDRUN:FRAG_LEN_HIST' {
        memory = 100.GB
    }

    withName: 'NFCORE_CUTANDRUN:CUTANDRUN:DEEPTOOLS_PLOTHEATMAP_GENE_ALL' {
        memory = 100.GB
    }
}

executor {
    queueGlobalStatus = true
}

params {
    max_memory = 3041.GB
    max_cpus = 256
    max_time = 10.h
}

