params {
    config_profile_description = "University of Bern, Interfaculty Bioinformatics Unit cluster profile"
    config_profile_contact     = "alexander.nater@unibe.ch; info@bioinformatics.unibe.ch"
    config_profile_url         = "https://www.bioinformatics.unibe.ch/"
    schema_ignore_params       = "project,clusterOptions,beforeScript"
    project                    = null
    clusterOptions             = null
    beforeScript               = null
}

validation {
    ignoreParams = ["schema_ignore_params", "project", "clusterOptions", "beforeScript"]
}

process {
    resourceLimits = [
        memory: 500.GB,
        cpus: 128,
        time: 672.h
    ]
    executor       = 'slurm'
    queue          = 'pibu_el8'
    maxRetries     = 2
    scratch        = '$SCRATCH'
    clusterOptions = (params.project ? "-A ${params.project} " : '') + "${params.clusterOptions ?: ''}"
    beforeScript   = (params.beforeScript ? "${params.beforeScript}; " : '') + 'export TMPDIR=$SCRATCH'
}

executor {
    queueSize = 50
}

singularity {
    enabled    = true
    autoMounts = true
}
