params {
	config_profile_description = "University of Bern, Interfaculty Bioinformatics Unit cluster profile"
	config_profile_contact = "irene.keller@dbmr.unibe.ch; info@bioinformatics.unibe.ch"
	config_profile_url = "https://www.bioinformatics.unibe.ch/"
	max_memory = 500.GB
	max_cpus = 128
	max_time = 240.h
}

process {
	executor = "slurm"
	maxRetries = 2
	beforeScript = 'mkdir -p ./tmp/ && export TMPDIR=./tmp/'
}

executor {
	queueSize = 30
}

singularity {
	enabled = true
	autoMounts = true
}