/*
    * -------------------------------------------------
    *  Unity HPC cluster config file for nf-core
    * -------------------------------------------------
    * https://unity.rc.umass.edu/
    */

params {
  config_profile_description = 'Unity cluster profile provided by nf-core/configs.'
  config_profile_contact = 'Berent Aldikacti (baldikacti)'
  config_profile_url = 'https://unity.rc.umass.edu/'
  igenomes_base = '/<path>/<to>/igenomes/'
  max_memory = 2.TB
  max_cpus = 192
  max_time = 14.d
}

process {
  resourceLimits = [
    cpus: params.max_cpus,
    memory: params.max_memory,
    time: params.max_time
  ]
  executor = 'slurm'
  queue = { task.time <= 2.h ? 'cpu-preempt' : 'cpu' }
  maxRetries = 2
  clusterOptions = { "${task.time >= 48.h ?: '-q long'}" }
  beforeScript = 'module load apptainer/latest'
}

executor {
  queueSize = 1000
  submitRateLimit = '6/1min'
}

apptainer {
    enabled = true
    autoMounts = true
}

cleanup = true

profiles {
    debug {
        cleanup = false
    }
}