// UNSW Katana nf-core configuration profile


params {
    config_profile_description = 'UNSW Katana HPC profile provided by nf-core/configs.'
    config_profile_contact = '@jscgh'
    config_profile_url = 'https://docs.restech.unsw.edu.au/'
}

process {
    executor = 'pbspro'

    resourceLimits = [
    memory: 248.GB,
    cpus: 24,
    time: 100.h
    ]

    withLabel:process_single {
        cpus   = { 1                       }
        memory = { 4.GB     * task.attempt }
        time   = { 2.h      * task.attempt }
    }
    withLabel:process_low {
        cpus   = { 2        * task.attempt }
        memory = { 12.GB    * task.attempt }
        time   = { 2.h      * task.attempt }
    }
    withLabel:process_medium {
        cpus   = { 8        * task.attempt }
        memory = { 62.GB    * task.attempt }
        time   = { 12.h     * task.attempt }
    }
    withLabel:process_high {
        cpus   = { 12       * task.attempt }
        memory = { 124.GB   * task.attempt }
        time   = { 48.h     * task.attempt }
    }
    withLabel:process_long {
        time   = { 100.h    * task.attempt }
    }
    withLabel:process_high_memory {
        memory = { 248.GB   * task.attempt }
    }
    withLabel:error_ignore {
        errorStrategy = 'ignore'
    }
    withLabel:error_retry {
        errorStrategy = 'retry'
        maxRetries    = 1
    }
}
