// UNSW Katana nf-core configuration profile

params {
    config_profile_name         = 'unsw_katana'
    config_profile_description  = 'UNSW Katana HPC profile provided by nf-core/configs.'
    config_profile_contact      = '@jscgh'
    config_profile_url          = 'https://docs.restech.unsw.edu.au/'
}

process {
    executor = 'pbspro'

    // Load required modules for running Nextflow
    beforeScript = 'module load nextflow java'

    resourceLimits = [
    memory: 248.GB,
    cpus: 24,
    time: 100.h
    ]

    // Basic GPU node allocation
    withLabel:process_gpu {
        accelerator     = 1
        clusterOptions  = { "-l select=1:ngpus=1:ncpus=6:mem=125gb" }
        containerOptions = '--nv'
    }
    withLabel:process_single {
        cpus   = { 1                       }
        memory = { 4.GB     * task.attempt }
        time   = { 2.h      * task.attempt }
    }
    withLabel:process_low {
        cpus   = { 2        * task.attempt }
        memory = { 12.GB    * task.attempt }
        time   = { 2.h      * task.attempt }
    }
    withLabel:process_medium {
        cpus   = { 6        * task.attempt }
        memory = { 46.GB    * task.attempt }
        time   = { 12.h     * task.attempt }
    }
    withLabel:process_high {
        cpus   = { 12       * task.attempt }
        memory = { 124.GB   * task.attempt }
        time   = { 48.h     * task.attempt }
    }
    withLabel:process_long {
        time   = { 100.h    * task.attempt }
    }
    withLabel:process_high_memory {
        memory = { 248.GB   * task.attempt }
    }
    withLabel:error_ignore {
        errorStrategy = 'ignore'
    }
    withLabel:error_retry {
        errorStrategy = 'retry'
        maxRetries    = 1
    }
}

// Set the cache directory for Singularity and Apptainer
singularity {
    autoMounts = true
    cacheDir = "/srv/scratch/${USER}/.images"
}
apptainer {
    enabled = true
    autoMounts = true
    cacheDir = "/srv/scratch/${USER}/.images"
}

// Docker is not supported on this cluster
docker {
    enabled = false
}
