params {
    config_profile_description = 'University of Dundee Compute Cluster'
    config_profile_contact = 'Dominic Sloan-Murphy (dsloanmurphy001@dundee.ac.uk)'
    config_profile_url = 'https://uod-hpc.readthedocs.io/en/latest/software/nextflow/'
}

process {
    executor = 'sge'
    penv = 'smp'
    queue = 'all.q'
    clusterOptions = '-jc nextflow'
}

executor {
    max_memory = 128.GB
    max_cpus = 24
    max_time = 72.h
}

singularity {
    enabled = true
    autoMounts = true
}
