// definition of the slurm executor. Run the pipeline in a node able to submit jobs to a HPC via sbatch
singularity {
  enabled = true
  autoMounts = true
  // Some processes don't respect the TMP environment variables: https://github.com/nf-core/rnaseq/issues/115
}
 
process {
  // Global process config
  executor = 'slurm'
  queueSize = 10
  queue = 'defq'
  submitRateLimit = '10/2min'
}
 
process {
 
    // resources for default process execution
withLabel:process_low {
    cpus =  2
    memory = 12.GB
    time = 6.h
  }
  withLabel:process_medium {
    cpus = 6
    memory = 36.GB
    time = 6.h
  }
  withLabel:process_high {
    cpus = 12
    memory = 240.GB
    time = 6.h
  }
  withLabel:process_long {
    time = 20.h
  }
  withLabel:error_ignore {
    errorStrategy = 'ignore'
  }
  withLabel:error_retry {
    errorStrategy = 'retry'
    maxRetries = 2
  }
       // resources for execution of processes / modules with the label "two cpus". This override the default ones.
}
