// Profile config names for nf-core/configs
params {
  config_profile_description = 'Testing & development profile for UPPMAX, provided by nf-core/configs.'
  config_profile_contact = 'Phil Ewels (@ewels)'
  config_profile_url = 'https://www.uppmax.uu.se/'
}

executor {
  name = 'slurm'
  queueSize = 1
}
process {
  queue = 'devel'
}

params {
  // Max resources to be requested by a devel job
  max_memory = 120.GB
  max_cpus = 16
  max_time = 1.h
}
