// Profile config names for nf-core/configs
params {
    config_profile_description = 'University of Texas at Dallas HPC cluster profile provided by nf-core/configs'
    config_profile_contact = 'Anne Fu'
    config_profile_contact_github = '@eternal-flame-ad'
    config_profile_contact_email = 'anne.fu@utdallas.edu'
    config_profile_url = 'https://hpc.utdallas.edu/systems-resources/juno/'
}

env {
    SINGULARITY_CACHEDIR="/home/${System.getenv('USER')}/scratch/singularity"
}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = "/home/${System.getenv('USER')}/scratch/singularity"
}

executor {
    queueSize = 72
    queueStatInterval = '2 min'
    submitRateLimit = '20 min'
    jobName = { "${task.process.split(':').last()}" }
}

process {
    executor = 'slurm'
    queue = {
        if (task.get('accelerator')?.type in ['h100', 'nvidia_h100', 'nvidia-h100', 'nvidia_h100_80gb_hbm3']) {
            if (task.get('accelerator')?.limit == 1 && task.time >= 2.h) {
                return 'h100'
            }
            return 'h100-2.40gb'
        }
        if (task.get('accelerator')?.type in ['a30', 'nvidia_a30', 'nvidia-a30', 'nvidia_a30_2g', 'nvidia_a30_4g']) {
            if (task.get('accelerator')?.limit >= 4) {
                return 'a30-4.6gb'
            }
            if (task.get('accelerator')?.limit >= 2) {
                return 'a30-2.12gb'
            }
            return 'a30'
        }
        if (task.memory >= 384.GB && task.memory <= 512.GB) {
            return 'h100'
        }
        if (task.memory >= 512.GB) {
            return 'a30'
        }
        return 'normal'
    }
    clusterOptions = {
        if (task.get('accelerator')?.type in ['h100', 'nvidia_h100', 'nvidia-h100', 'nvidia_h100_80gb_hbm3']) {
            if (task.get('accelerator')?.limit == 1 && task.time >= 2.h) {
                return "--gres=nvidia_h100_80gb_hbm3=${task.get('accelerator')?.limit}"
            }
            return "--gres=nvidia_h100_80gb_hbm3=${task.get('accelerator')?.limit}"
        }
        if (task.get('accelerator')?.type in ['a30', 'nvidia_a30', 'nvidia-a30', 'nvidia_a30_2g', 'nvidia_a30_4g']) {
            if (task.get('accelerator')?.limit >= 4) {
                return "--gres=nvidia_a30=${task.get('accelerator')?.limit}"
            }
            if (task.get('accelerator')?.limit >= 2) {
                return "--gres=nvidia_a30_2g=${task.get('accelerator')?.limit}"
            }
            return "--gres=nvidia_a30_1g=${task.get('accelerator')?.limit}"
        }
        return ''
    }
    withLabel: gpu {
        containerOptions = '--nv'
    }
}
