//Profile config names for nf-core/configs
params {
  config_profile_description = 'University of Texas at Dallas HPC cluster profile provided by nf-core/configs'
  config_profile_contact = 'Edmund Miller(@emiller88)'
  config_profile_url = 'http://docs.oithpc.utdallas.edu/'
  singularity_cache_dir = '/scratch/applied-genomics/singularity'
}

env {
    TMPDIR = '/home/$USER/scratch/tmp'
}

singularity {
  enabled = true
  envWhitelist='SINGULARITY_BINDPATH'
  autoMounts = true
  cacheDir = params.singularity_cache_dir
}

process {
  beforeScript = 'module load singularity/3.4.1'
  executor = 'slurm'
  queue = { task.memory >= 30.GB && task.cpu <= 16 ? 'normal': 'smallmem' }


  withLabel:process_high {
    cpus = { check_max( 16 * task.attempt, 'cpus' ) }
    memory = { check_max( 60.GB * task.attempt, 'memory' ) }
    time = { check_max( 16.h * task.attempt, 'time' ) }
  }
}

params {
  igenomes_base = '/scratch/applied-genomics/references/iGenomes/references/'
  max_memory = 90.GB
  max_cpus = 16
  max_time = 96.h
}