//Profile config names for nf-core/configs
params {
  config_profile_description = 'University of Texas at Dallas HPC cluster profile provided by nf-core/configs'
  config_profile_contact = 'Edmund Miller(@emiller88)'
  config_profile_url = 'http://docs.oithpc.utdallas.edu/'
}

env {
    TMPDIR = '/home/$USER/scratch/tmp'
    SINGULARITY_CACHEDIR = '/home/$USER/scratch/tmp'
}

singularity {
  enabled = true
  envWhitelist='SINGULARITY_BINDPATH'
  autoMounts = true
}

process {
  beforeScript = 'module load singularity/3.2.1'
  executor = 'slurm'
  queue = { task.memory >= 32.GB && task.cpu <= 12 ? 'Kim': task.memory <= 24.GB && task.cpu <= 8 ? 'smallmem' : 'genomics' }

  withName:TRIMGALORE {
    memory = 31.GB
  }

  withLabel:process_low {
    cpus = { check_max( 2 * task.attempt, 'cpus' ) }
    memory = { check_max( 12.GB * task.attempt, 'memory' ) }
    time = { check_max( 6.h * task.attempt, 'time' ) }
  }

  withLabel:process_medium {
    cpus = { check_max( 16 * task.attempt, 'cpus' ) }
    memory = { check_max( 31.GB * task.attempt, 'memory' ) }
    time = { check_max( 8.h * task.attempt, 'time' ) }
  }

  withLabel:process_high {
    cpus = { check_max( 12 * task.attempt, 'cpus' ) }
    memory = { check_max( 120.GB * task.attempt, 'memory' ) }
    time = { check_max( 16.h * task.attempt, 'time' ) }
  }
}

params {
  max_memory = 128.GB
  max_cpus = 16
  max_time = 96.h
}
