//Profile config names for nf-core/configs
params {
    config_profile_description = 'University of Texas at Dallas HTC cluster profile provided by nf-core/configs'
    config_profile_contact = 'Edmund Miller'
    config_profile_contact_github = '@edmundmiller'
    config_profile_contact_email = 'edmund.miller@utdallas.edu'
    config_profile_url = 'https://docs.circ.utdallas.edu/user-guide/systems/europa.html'
}

env {
    TMPDIR = "/home/$USER/scratch/tmp"
    APPTAINER_CACHEDIR="/home/$USER/scratch/apptainer"
}

apptainer {
    enabled      = true
    autoMounts   = true
    cacheDir = "/home/$USER/scratch/apptainer"
}

// Submit up to 100 concurrent jobs
// pollInterval and queueStatInterval of every 5 minutes
// submitRateLimit of 20 per minute
executor {
    queueSize = 100
    pollInterval = '5 min'
    queueStatInterval = '5 min'
    submitRateLimit = '20 min'
    jobName = { "${task.process.split(':').last()}" }
}

process {
    beforeScript = 'module load apptainer'
    executor = 'slurm'
    queue = 'normal'
    memory = 30.GB
    cpus = 16
}

params {
    max_memory = 30.GB
    max_cpus = 16
    max_time = 48.h
}
