//Profile config names for nf-core/configs
params {
  config_profile_description = 'University of Texas at Dallas HPC cluster profile provided by nf-core/configs'
  config_profile_contact = 'Edmund Miller(@emiller88)'
  config_profile_url = 'http://docs.oithpc.utdallas.edu/'
}

singularity {
  enabled = true
  envWhitelist='SINGULARITY_BINDPATH'
  autoMounts = true
}

process {
  beforeScript = 'module load singularity/2.4.5'
  executor = 'slurm'
  queue = 'genomics'
}

params {
  max_memory = 32.GB
  max_cpus = 16
  max_time = 48.h
}
