//Profile config names for nf-core/configs
params {
  config_profile_description = 'University of Texas at Dallas HTC cluster profile provided by nf-core/configs'
  config_profile_contact = 'Edmund Miller(@emiller88)'
  config_profile_url = 'http://docs.oithpc.utdallas.edu/'
}

singularity {
  enabled = true
  envWhitelist='SINGULARITY_BINDPATH'
  autoMounts = true
}

process {
  beforeScript = 'module load singularity/3.4.2'
  executor = 'slurm'
  queue = 'normal'
}

params {
  max_memory = 30.GB
  max_cpus = 16
  max_time = 96.h
}