//Profile config names for nf-core/configs
params{
    config_profile_description = 'UZH science cloud profile provided by nf-core/configs'
    config_profile_contact = 'Judith Neukamm/Alexander Peltzer (@JudithNeukamm, @apeltzer)'
    config_profile_url = 'https://www.id.uzh.ch/en/scienceit/infrastructure/sciencecloud.html'
}

singularity {
    enabled = true
}

process {
    executor = 'slurm'
}

params {
    max_memory = 1800.GB
    max_cpus = 112
    max_time = 168.h
}
