params {
    config_profile_description = 'Van Andel Institute HPC profile provided by nf-core/configs.'
    config_profile_contact = 'Nathan Spix (@njspix)'
    config_profile_url = 'https://vanandelinstitute.sharepoint.com/sites/SC/SitePages/Nodes-and-Partitions.aspx'
    max_memory = 250.GB
    max_cpus = 40
    max_time = 336.h
}

singularity {
    enabled = true
    autoMounts = true
}

process {
    executor = 'slurm'
    queue = 'long'
}
