params {
  config_profile_description = 'Van Andel Institute HPC profile provided by nf-core/configs.'
  config_profile_contact = 'Nathan Spix (@njspix)'
  config_profile_url = 'https://vanandelinstitute.sharepoint.com/sites/SC/SitePages/HPC3-High-Performance-Cluster-and-Cloud-Computing.aspx'
  max_memory = 250.GB
  max_cpus = 40
  max_time = 640.h
}

process {
  beforeScript = 'alias singularity=/varidata/research/software/singularity/singularity-ce-3.8.2/bin/singularity'
  executor = 'pbs'
  queue = { task.time <= 48.h ? 'shortq' : 'longq' }
  maxRetries = 2
}

singularity {
  enabled = true
  autoMounts = true
}
