singularityDir = "/athena/elementolab/scratch/reference/.singularity/singularity_images_nextflow"

params {
  config_profile_description = 'Weill Cornell Medicine, Scientific Computing Unit Slurm cluster profile provided by nf-core/configs'
  config_profile_contact = 'Ashley Stephen Doane, PhD (@DoaneAS)'
  igenomes_base = '/athena/elementolab/scratch/reference/igenomes'
}

singularity {
  enabled = true
  envWhitelist='SINGULARITY_BINDPATH'
  cacheDir =  "/athena/elementolab/scratch/reference/.singularity/singularity_images_nextflow"
  autoMounts = true
}

process {
  executor = 'slurm'
  queue = 'panda_physbio'
  scratch = true
  scratch = '/scratchLocal/`whoami`_${SLURM_JOBID}'
}

params {
  max_memory = 32.GB
  max_cpus = 8
  max_time = 24.h
}

