params {
  config_profile_description = 'Washington University, St Louis Center for Genome Sciences HTCF profile.'
  config_profile_contact = 'Chase Mateusiak (chasem@wustl.edu)'
  config_profile_url = "https://htcf.wustl.edu/docs/"
}
singularity {
  enabled = true
  autoMounts = true
  cacheDir = "${launchDir}/singularity_images/"
  envWhitelist = ["SINGULARITY_TMPDIR"]
  jobOptions = "--disable-cache"
}
process {
  executor = 'slurm'
}
params {
  max_memory = 256.GB
  max_cpus = 64
  max_time = 128.h
}
