params {
  config_profile_description = 'Washington University, St Louis Center for Genome Sciences HTCF profile.'
  config_profile_contact = 'Chase Mateusiak (chasem@wustl.edu)'
  config_profile_url = "https://htcf.wustl.edu/docs/"
  
  // set limits  
  max_memory = 256.GB
  max_cpus = 64
  max_time = 128.h

}
singularity {
  enabled = true
  autoMounts = true
  cacheDir = "${launchDir}/singularity_images/"
  runOptions = "--bind ${launchDir}:/tmp"
}
executor {
  submitRateLimit = "2 sec"
}
process {
  executor = "slurm"
  scratch = true
  scratch = "${launchDir}"
  
  // overwrite process specific requirements  
  withLabel:process_medium {
        cpus   = { check_max( 6     * task.attempt, 'cpus'    ) }
        memory = { check_max( 64.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 8.h   * task.attempt, 'time'    ) }
    }
}
