params {
  config_profile_description = 'Washington University, St Louis Center for Genome Sciences HTCF profile.'
  config_profile_contact = 'Chase Mateusiak (chasem@wustl.edu)'
  config_profile_url = "https://htcf.wustl.edu/docs/"
}
singularity {
  enabled = true
  autoMounts = true
  cacheDir = "${launchDir}/singularity_images/"
  runOptions = "--bind ${launchDir}/tmp:/tmp"
}
executor {
  submitRateLimit = "2 sec"
}
process {
  executor = "slurm"
  scratch = true
  scratch = "${launchDir}/tmp" 
}
