/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Nextflow config file for York Viking Cluster for the SLURM login nodes
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Author: Matthew Care
Mail: matthew.care@york.ac.uk
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {
    config_profile_contact = "Matthew Care"
    config_profile_description = "The University of York Viking profile "
    config_profile_url = "https://vikingdocs.york.ac.uk/"
}

apptainer {
    enabled = true
    autoMounts = true
    // the default is 20 minutes and fails with large images
    pullTimeout = "3 hours"
}

process{
    maxRetries = 3
    clusterOptions = "--get-user-env --account=${System.getenv('USER_ACCOUNT')}" // Get user environment and assign account
    cache = "lenient"
    afterScript = "sleep 60"
    stageInMode = "symlink"
    stageOutMode = "rsync"
    scratch = 'false'
    afterScript = "sleep 60"
}

executor {
    name = "slurm"
    queueSize = 200
    submitRateLimit = "10/1sec"
    exitReadTimeout = "30 min"
    jobName = {
        task.name // [] and " " not allowed in job names
            .replace("[",
        "(")
            .replace("]",
        ")")
            .replace(" ",
        "_")
    }
}
