profiles {
    crg {
        params {
            config_profile_contact = 'Athanasios Baltzis (@athbaltzis)'
            config_profile_description = 'nf-core/proteinfold CRG profile provided by nf-core/configs'
        }
        executor.name = 'crg'
        process {
            queue = 'short-sl7,long-sl7'
            withName: 'ARIA2' {
                time = '12h'
            }
            withName: 'RUN_ALPHAFOLD2|RUN_ALPHAFOLD2_PRED|RUN_ALPHAFOLD2_MSA' {
                cpus = 1
                memory = "30 GB"
                queue = params.use_gpu ? 'gpu' : 'long-sl7'
                clusterOptions = { ( task.queue == 'gpu' ? '-l gpu=1,virtual_free=30G' : '' ) }
            }
            withName: 'COLABFOLD_BATCH' {
                cpus = 1
                memory = "30 GB"
                queue = params.use_gpu ? 'gpu' : 'long-sl7'
                clusterOptions = { ( task.queue == 'gpu' ? '-l gpu=1,virtual_free=30G' : '' ) }
            }
            withName: 'MMSEQS_COLABFOLDSEARCH' {
                queue = 'mem_512'
                memory = "100 GB"
                cpus = 8
                time = '12h'
            }
            withName: 'RUN_ESMFOLD' {
                cpus = 1
                memory = "30 GB"
                queue = params.use_gpu ? 'gpu' : 'long-sl7'
                clusterOptions = { ( task.queue == 'gpu' ? '-l gpu=1,virtual_free=30G' : '' ) }
            }
        }
    }
}
