profiles {

    crg {

        params {
            config_profile_contact     = 'Jose Espinosa-Carrasco (@joseespinosa)'
            config_profile_description = 'nf-core/proteinfold CRG profile provided by nf-core/configs'
            gpu_type                   = 'h100'
        }

        process {
            executor = 'slurm'

            withLabel: process_gpu {
                queue          = 'gpu'
                clusterOptions = {
                    params.gpu_type == 'rtx' ?
                        "--gres=gpu:nvidia_geforce_rtx_2080_ti:1" :
                        "--gres=gpu:1g.10gb:1"
                }
            }

            withName: ARIA2 {
                memory = 32.GB
                time   = 12.h
            }

            withName: '.*ARIA2_UNIREF30:UNTAR' {
                memory = 12.GB
                time   = 18.h
            }

            withName: '.*ARIA2_UNIREF30:UNTAR' {
                memory = 12.GB
                time   = 18.h
            }

            withName: MULTIFASTA_TO_CSV {
                memory = 100.MB
                time = 10.m
            }

            withName: RUN_ALPHAFOLD2 {
                memory = 30.GB
                cpus   = 1
                time   = 10.h
            }

            withName: RUN_ALPHAFOLD2_MSA {
                memory = 30.GB
                cpus   = 1
                time   = 2.h
            }

            withName: RUN_ALPHAFOLD2_PRED {
                cpus   = 1
                memory = 30.GB
                time   = 2.h
            }

            withName: RUN_ALPHAFOLD3_DATAPIPELINE {
                memory = 30.GB
                cpus   = 1
                time   = 4.h
            }

            withName: RUN_ALPHAFOLD3_INFERENCE {
                memory = 30.GB
                cpus   = 1
                time   = 4.h
            }

            withName: MMSEQS_COLABFOLDSEARCH {
                memory = 100.GB
                time   = 14.h
                cpus   = 8
            }

            withName: '.*MMSEQS_CREATEINDEX_.*' {
                memory = 100.GB
                time   = 4.h
                cpus   = 8
            }

            withName: RUN_ESMFOLD {
                memory = 30.GB
                time   = 1.h
                cpus   = 1
            }

            withName: RUN_ROSETTAFOLD_ALL_ATOM {
                memory = 30.GB
                time   = 1.h
                cpus   = 1
            }

            withName: RUN_HELIXFOLD3 {
                memory = 30.GB
                time   = 2.h
                cpus   = 1
            }

            withName: RUN_BOLTZ {
                memory = 30.GB
                time   = 1.h
                cpus   = 1
            }

            withName:DOWNLOAD_RNA_DATABASES {
                memory = 60.GB
                time   = 12.h
            }

            withName:RUN_ROSETTAFOLD2NA {
                memory = 80.GB
                cpus   = 1
                time   = 6.h
            }

            withName: GENERATE_REPORT {
                memory = 30.GB
                time   = 1.h
            }

            withName: MULTIQC {
                memory = 30.GB
                time   = 1.h
            }
        }
    }
}

apptainer.envWhitelist = "CUDA_VISIBLE_DEVICES,NVIDIA_VISIBLE_DEVICES"
apptainer.pullTimeout  = 60.m
