// NCI Gadi nf-core configuration profile
profiles {
    nci_gadi {
        params {
            config_profile_description = 'nf-core/proteinfold NCI Gadi HPC profile provided by nf-core/configs'
            config_profile_contact = 'Mitchell O\'Brien (@mitchob)'
            config_profile_url = 'https://opus.nci.org.au/display/Help/Gadi+User+Guide'
            project = System.getenv("PROJECT")
            storage_account = ''
        }

        // Define process resource limits
        process {
            executor = 'pbspro'
            module = 'singularity'
            cache = 'lenient'
            stageInMode = 'symlink'

            // Process-specific configurations
            withName: 'RUN_ALPHAFOLD2|RUN_ALPHAFOLD2_PRED|RUN_ALPHAFOLD2_MSA' {
                queue   = params.use_gpu ? 'gpuvolta' : 'normal'
                cpus    = 48
                time    = '4h'
                memory  = 380.GB
            }

            withName: COLABFOLD_BATCH {
                container = "nf-core/proteinfold_colabfold:1.1.1"
                queue     = params.use_gpu ? 'gpuvolta' : 'normal'
                cpus      = 48
                time      = '4h'
                memory    = 380.GB
            }

            withName: RUN_ESMFOLD {
                container = "nf-core/proteinfold_esmfold:1.1.1"
                queue     = params.use_gpu ? 'gpuvolta' : 'normal'
                cpus      = 48
                time      = '4h'
                memory    = 380.GB
            }
        }

        // Write custom trace file with outputs required for SU calculation
        trace {
            enabled = true
            overwrite = false
            file = "./gadi-nf-core-trace-${new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')}.txt"
            fields = 'name,status,exit,duration,realtime,cpus,%cpu,memory,%mem,rss'
        }
    }
}
