// Pawsey Setonix nf-core configuration profile
        params {
            config_profile_description = 'nf-core/proteinfold Pawsey Setonix HPC profile provided by nf-core/configs'
            config_profile_contact     = 'Sarah Beecroft (@SarahBeecroft)'
            config_profile_url         = 'https://support.pawsey.org.au/documentation/display/US/Setonix+User+Guide'

            // Number of GCDs per process
            boltz_gcds      = 1
            colabfold_gcds  = 1
            alphafold2_gcds = 1
            esmfold_gcds    = 1

            // ---- Alphafold2 databases / params ----
            alphafold2_db                = '/scratch/references/alphafold_feb2024/databases'
            alphafold2_bfd_path          = '/scratch/references/alphafold_feb2024/databases/bfd/*'
            alphafold2_small_bfd_path    = '/scratch/references/alphafold_feb2024/databases/small_bfd/*'
            alphafold2_params_path       = '/scratch/references/alphafold_feb2024/databases/params/*'
            alphafold2_mgnify_path       = '/scratch/references/alphafold_feb2024/databases/mgnify/*'
            alphafold2_pdb70_path        = '/scratch/references/alphafold_feb2024/databases/pdb70/**'
            alphafold2_pdb_mmcif_path    = '/scratch/references/alphafold_feb2024/databases/pdb_mmcif/mmcif_files'
            alphafold2_pdb_obsolete_path = '/scratch/references/alphafold_feb2024/databases/pdb_mmcif/obsolete.dat'
            alphafold2_uniref30_path     = '/scratch/references/alphafold_feb2024/databases/uniref30/*'
            alphafold2_uniref90_path     = '/scratch/references/alphafold_feb2024/databases/uniref90/*'
            alphafold2_pdb_seqres_path   = '/scratch/references/alphafold_feb2024/databases/pdb_seqres/*'
            alphafold2_uniprot_path      = '/scratch/references/alphafold_feb2024/databases/uniprot/*'
            alphafold2_jax_compilation_cache_dir = "${System.getenv('MYSOFTWARE')}/jax_cache/alphafold2"

             // ---- ColabFold databases / params ----
            colabfold_db = '/scratch/references/colabfold_jun2026/database'
            colabfold_envdb_path    = '/scratch/references/colabfold_jun2026/database/colabfold_envdb/colabfold_envdb_202108*'
            colabfold_uniref30_path = '/scratch/references/colabfold_jun2026/database/colabfold_uniref30/uniref30_2302*'
            colabfold_jax_compilation_cache_dir = "${System.getenv('MYSOFTWARE')}/jax_cache/colabfold"


            // ---- ESMFold databases / params ----
            esmfold_3B_v1 = '/scratch/references/proteinfold_jun2026/params/esmfold_3B_v1.pt'
            esm2_t36_3B_UR50D = '/scratch/references/proteinfold_jun2026/params/esm2_t36_3B_UR50D.pt'
            esm2_t36_3B_UR50D_contact_regression = '/scratch/references/proteinfold_jun2026/params/esm2_t36_3B_UR50D_contact_regression.pt'
            esmfold_db = '/scratch/references/proteinfold_jun2026/params'
            esmfold_params_path = '/scratch/references/proteinfold_jun2026/'

            // ---- BOLTZ databases / params ----
            boltz_db = '/scratch/references/proteinfold_jun2026/'
            boltz_ccd_path = '/scratch/references/proteinfold_jun2026/params/ccd.pkl'
            boltz_model_path = '/scratch/references/proteinfold_jun2026/params/boltz1_conf.ckpt'
            boltz2_aff_path = '/scratch/references/proteinfold_jun2026/params/boltz2_aff.ckpt'
            boltz2_conf_path = '/scratch/references/proteinfold_jun2026/params/boltz2_conf.ckpt'
            boltz2_mols_path = '/scratch/references/proteinfold_jun2026/params/mols'
            boltz_use_kernels = false
        }

        process {
            module         = 'singularity/3.11.4-nohost'

            withName: 'RUN_ALPHAFOLD2_MSA' {
                container = 'quay.io/pawsey/alphafold2:proteinfold'
            }

            withName: 'RUN_ALPHAFOLD2|RUN_ALPHAFOLD2_PRED' {
                container      = 'quay.io/pawsey/alphafold2:proteinfold'
                containerOptions = "-B ${System.getenv('MYSOFTWARE')} --env JAX_PLATFORMS=rocm,cpu --env ROCR_VISIBLE_DEVICES=0 --env HIP_VISIBLE_DEVICES=0 --env JAX_COMPILATION_CACHE_DIR=${params.alphafold2_jax_compilation_cache_dir} --env XLA_FLAGS='--xla_gpu_enable_command_buffer= --xla_gpu_autotune_level=0'"
                queue          = 'gpu'
                clusterOptions = "--account=${System.getenv('PAWSEY_PROJECT')}-gpu --nodes=1 --gres=gpu:${params.alphafold2_gcds} --mem=0"
                time   = { 1.h  * task.attempt }
                cpus = 1
                ext.args = '--use_gpu_relax=true'
            }

            withName: 'RUN_BOLTZ|BOLTZ_FASTA' {
                container        = 'quay.io/pawsey/boltz2:v2.2.1_rocm6.4'
                queue            = 'gpu'
                clusterOptions   = "--account=${System.getenv('PAWSEY_PROJECT')}-gpu --nodes=1 --ntasks=1 --gres=gpu:${params.boltz_gcds} --mem=0"
                time   = { 1.h  * task.attempt }
                cpus = 1
            }

            withName: 'COLABFOLD_BATCH' {
                container = 'quay.io/pawsey/colabfold:1.6.1_rocm7.0.2'
                containerOptions = "-B ${System.getenv('MYSOFTWARE')} --env XLA_FLAGS='--xla_gpu_enable_command_buffer= --xla_gpu_autotune_level=0' --env JAX_COMPILATION_CACHE_DIR=${params.colabfold_jax_compilation_cache_dir} --env MPLCONFIGDIR=${params.colabfold_jax_compilation_cache_dir} --env HIP_VISIBLE_DEVICES=0 --env ROCR_VISIBLE_DEVICES=0"
                queue          = 'gpu'
                clusterOptions = "--account=${System.getenv('PAWSEY_PROJECT')}-gpu --nodes=1 --ntasks=1 --gres=gpu:${params.colabfold_gcds} --mem=0"
                time   = { 1.h  * task.attempt }
                cpus = 1
            }

            withName: 'RUN_ESMFOLD' {
                container      = 'quay.io/pawsey/esmfold_openfold:rocm6.3.3'
                containerOptions = "--env TORCH_HOME=/scratch/references/esmfold/models --env TRITON_CACHE_DIR=/tmp/triton_cache --env XDG_CACHE_HOME=/tmp"
                queue          = 'gpu'
                clusterOptions = "--account=${System.getenv('PAWSEY_PROJECT')}-gpu --nodes=1 --gres=gpu:${params.esmfold_gcds} --mem=0"
                time   = { 1.h  * task.attempt }
                cpus = 1
                ext.args = ''
            }

            withName: 'MMSEQS_COLABFOLDSEARCH' {
                container= 'quay.io/pawsey/colabfold:1.6.1_rocm7.0.2'
                time   = { 4.h  * task.attempt }
            }
        }
