profiles {
    unsw_katana {
        params {
            config_profile_contact     = '@jscgh'
            config_profile_description = 'nf-core/proteinfold UNSW Katana profile provided by nf-core/configs'
        }
        process {
            executor = 'pbspro'
            queue = 'submission'

            withLabel:gpu_compute {
                accelerator         = 1
                clusterOptions      = { "-l ngpus=1 -l ncpus=${task.cpus} -l mem=${task.memory.toMega()}mb" }
            }

            withName: 'RUN_HELIXFOLD3' {
                containerOptions    = "--bind \${TMPDIR}:/tmp,\${PWD} --env CUDA_VISIBLE_DEVICES=0"
            }
        }
    }
}
