profiles {
    unsw_katana {
        params {
            config_profile_name        = 'proteinfold/unsw_katana'
            config_profile_contact     = '@jscgh'
            config_profile_description = 'nf-core/proteinfold UNSW Katana profile provided by nf-core/configs'
        }

        // The proteinfold images are predownloaded and stored in the singularity library directory
        apptainer.libraryDir    = "/srv/scratch/sbf-pipelines/proteinfold/singularity"
        singularity.libraryDir  = "/srv/scratch/sbf-pipelines/proteinfold/singularity"

        cleanup = true

        process {
            executor = 'pbspro'

            withName: 'RUN_HELIXFOLD3' {
                clusterOptions  = { "-l select=1:ngpus=1:ncpus=6:mem=62gb:gpu_model=A100" } // Using A100 GPU for compatibility
            }
            withName: 'RUN_ESMFOLD' {
                clusterOptions  = { "-l select=1:ngpus=1:ncpus=6:mem=62gb:gpu_model=A100" } // Using A100 GPU for compatibility
            }
            withName: 'RUN_ALPHAFOLD2_PRED|RUN_ALPHAFOLD2' {
                clusterOptions  = { "-l select=1:ngpus=1:ncpus=8:mem=250gb:gpu_model=H200" } // Using H200 GPU for highest performance
            }

        }
    }
}
