profiles {
    unsw_katana {
        params {
            config_profile_contact     = '@jscgh'
            config_profile_description = 'nf-core/proteinfold UNSW Katana profile provided by nf-core/configs'
        }
        process {
            executor = 'pbspro'

            if (params.use_gpu) { clusterOptions = { "-l select=1:ngpus=1:ncpus=8:mem=125gb" } }

            withName: 'RUN_HELIXFOLD3' {
                containerOptions    = "--bind \${TMPDIR}:/tmp,\${PWD} --env CUDA_VISIBLE_DEVICES=0"
            }
        }
    }
}
