process {
  withName: 'CREATE_INTERVALS_BED'{
    cpus=2
    memory=4.GB
  }
  withName: 'TABIX_BGZIPTABIX_INTERVAL_SPLIT'{
    cpus=2
    memory=4.GB
  }
  withName: 'SAMTOOLS_STATS_CRAM'{
    cpus=2
    memory=4.GB
  }
  withName: 'GATK4_MARKDUPLICATES'{
    memory=50.GB
  }
  withName: 'INDEX_CRAM'{
    cpus=2
    memory=4.GB
  }
  withName: 'SAMTOOLS_STATS'{
    cpus=2
    memory=4.GB
  }
  withName: 'CUSTOM_DUMPSOFTWAREVERSIONS'{
    cpus=2
    memory=4.GB
  }
  withName: 'BCFTOOLS_SORT'{
    cpus=4
    memory=24.GB
  }
  withName: 'BCFTOOLS_STATS'{
    cpus=2
    memory=4.GB
  }
  withName: 'STRELKA_SINGLE'{
    memory=12.GB
  }
  withName: 'VCFTOOLS_TSTV_QUAL'{
    cpus=2
    memory=4.GB
  }
  withName: 'VCFTOOLS_SUMMARY'{
    cpus=2
    memory=4.GB
  }
  withName: 'VCFTOOLS_TSTV_COUNT'{
    cpus=2
    memory=4.GB
  }
  withName: 'TABIX_BGZIPTABIX'{
    cpus=2
    memory=4.GB
  }
}

