params {
    config_profile_description = 'UPPMAX (Irma) cluster profile provided by nf-core/configs.'
    max_memory                 = 250.GB
}

process {
    resourceLimits = [
        cpus: 16,
        memory: 250.GB,
        time: 240.h,
    ]
    clusterOptions = {
        [
            "-A ${params.project}",
            params.clusterOptions ?: "",
        ].minus("").join(" ")
    }
}
