// Used by https://github.com/nf-core/configs/blob/master/conf/uppmax.config
// Updates settings for Miarka

params {
    config_profile_description = 'UPPMAX (Miarka) cluster profile provided by nf-core/configs.'
    max_cpus                   = 48
    max_memory                 = 357.GB
    max_time                   = 480.h
}

// Hardware: https://www.uu.se/en/centre/uppmax/resources/clusters/miarka
process {
    resourceLimits = [
        cpus: 48,
        memory: 357.GB,
        time: 480.h,
    ]
    clusterOptions = {
        [
            "-A ${params.project}",
            params.clusterOptions ?: "",
            task.memory > 357.GB
                ? (task.memory <= 2000.GB ? '--mem 2TB' : '-c mem4TB')
                : "",
        ].minus("").join(" ")
    }
}
