// Used by https://github.com/nf-core/configs/blob/master/conf/uppmax.config
// Updates settings for Pelle

params {
    config_profile_description = 'UPPMAX (Pelle) cluster profile provided by nf-core/configs.'
    max_cpus                   = 96
    max_memory                 = 3.TB
    max_time                   = 2.d
}

// Hardware: https://docs.uppmax.uu.se/hardware/clusters/pelle/#pellemaja-hardware
process {
    resourceLimits = [
        cpus: 96,
        memory: 3.TB,
        time: 2.d,
    ]
    clusterOptions = {
        [
            "-A ${params.project}",
            params.clusterOptions ?: "",
            task.memory > 768.GB
                ? "-p fat -C ${task.memory > 2.TB ? '3TB' : '2TB'}"
                : "",
        ].minus("").join(" ")
    }
}

singularity {
    runOptions = '-B $SNIC_TMP'
}
