// Used by https://github.com/nf-core/configs/blob/master/conf/uppmax.config
// Updates settings for Rackham

params {
    config_profile_description = 'UPPMAX (Rackham) cluster profile provided by nf-core/configs.'
    max_cpus                   = 20
    max_memory                 = 970.GB
}

// Hardware: https://docs.uppmax.uu.se/hardware/clusters/rackham/
process {
    resourceLimits = [
        cpus: 20,
        memory: 970.GB,
        time: 240.h,
    ]
    clusterOptions = {
        [
            "-A ${params.project}",
            params.clusterOptions ?: "",
            task.memory > 125.GB
                ? "-p node -C ${task.memory <= 250.GB ? 'mem256GB' :'mem1TB'}"
                : "",
        ].minus("").join(" ")
    }
}
