// Used by https://github.com/nf-core/configs/blob/master/conf/uppmax.config
// Updates settings for Snowy

params {
    config_profile_description = 'UPPMAX (Snowy) cluster profile provided by nf-core/configs.'
    max_memory                 = 3880.GB
    max_time                   = 700.h
}

// Hardware: https://docs.uppmax.uu.se/hardware/clusters/snowy/
process {
    resourceLimits = [
        cpus: 16,
        memory: 3880.GB,
        time: 700.h,
    ]
    clusterOptions = {
        [
            "-A ${params.project}",
            params.clusterOptions ?: "",
            task.memory > 125.GB
                ? "-p node -C ${task.memory <= 250.GB ? 'mem256GB' :'mem512GB'}"
                : "",
        ].minus("").join(" ")
    }
}

executor {
    $slurm {
        queueSize = 5000
    }
}
