// Used by https://github.com/nf-core/configs/blob/master/conf/aliance_canada.config
// Updates settings for Narval

params.config_profile_description = 'Alliance Canada (Narval) cluster profile provided by nf-core/configs.'
params.max_memory = 249.GB
params.max_cpus   = 64
process {
    resourceLimits = [
        memory: 249.GB,
        cpus: 64,
        time: 168.h
    ]
}
