// Used by https://github.com/nf-core/configs/blob/master/conf/aliance_canada.config
// Updates settings for Rorqual

params.config_profile_description = 'Alliance Canada (Rorqual) cluster profile provided by nf-core/configs.'
params.max_memory = 750.GB
params.max_cpus   = 192
process {
    resourceLimits = [
        memory: 750.GB,
        cpus: 192,
        time: 168.h
    ]
}
