// Used by https://github.com/nf-core/configs/blob/master/conf/aliance_canada.config
// Updates settings for Trillium

params.config_profile_description = 'Alliance Canada (Trillium) cluster profile provided by nf-core/configs.'
params.max_memory = null
params.max_cpus   = null
process {
    clusterOptions = "--account=${System.getenv('SLURM_ACCOUNT')} --nodes=1"
    resourceLimits = [
        time: 168.h
    ]
}
executor {
    queueSize = 500
}
