process {
  withName : "FASTQC" {
    clusterOptions = {"-l h_vmem=${(task.memory + 4.GB).bytes/task.cpus}"}
  }
  withName : "MERGED_LIB_BAM" {
    clusterOptions = {"-l h_vmem=${(task.memory + 4.GB).bytes/task.cpus}"}
  }
  withName : "MERGED_LIB_PICARD_METRICS" {
    clusterOptions = {"-l h_vmem=${(task.memory + 4.GB).bytes/task.cpus}"}
  }
  withName : "MERGED_REP_BAM" {
    clusterOptions = {"-l h_vmem=${(task.memory + 4.GB).bytes/task.cpus}"}
  }
}
