// Profile config names for nf-core/configs

params {
  // Specific nf-core/configs params
  config_profile_contact = 'Edmund Miller(@emiller88)'
  config_profile_description = 'nf-core/demultiplex AWS Tower profile provided by nf-core/configs'
}

aws {
   batch {
      maxParallelTransfers = 24
      maxTransferAttempts = 3
   }
   client {
      maxConnections = 24
      uploadMaxThreads = 24
      maxErrorRetry = 3
      socketTimeout = 3600000
      uploadRetrySleep = 1000
      uploadChunkSize = 32.MB
   }
}

process {
    withName: BASES2FASTQ {
        cpus = 16
        memory = 48.GB
    }
}
