params {

    config_profile_contact     = 'Adrija Kalvisa <adrija.kalvisa@sund.ku.dk>'
    config_profile_description = 'danhead01fl configuration'
    config_profile_url         = ''

    max_cpus                   = 8
    max_memory                 = 64.GB
    max_time                   = 72.h
}

cleanup = true

singularity {
    enabled    = true
    autoMounts = true
    runOptions = '--bind /projects:/projects'
}

process {
    resourceLimits = [
        memory: 64.GB,
        cpus: 8,
        time: 72.h
    ]
    executor         = 'slurm'
    containerOptions = "--env NUMBA_CACHE_DIR=/tmp/numbacache"
    withName: SRATOOLS_PREFETCH {
        ext.args = '--max-size 60g'
    }
}

executor {
    queueSize       = 5
    submitRateLimit = '30/1min'
}

profiles {
    dancmpn01fl {
        process.clusterOptions = '-w dancmpn01fl'
    }
    dancmpn02fl {
        process.clusterOptions = '-w dancmpn02fl'
    }
    dangpu01fl {
        process.clusterOptions = '-p gpuqueue'
    }
}
