// rnavar/munin specific profile config

params {
  // Specific nf-core/configs params
  config_profile_contact = 'Praveen Raj (@praveenraj2018)'
  config_profile_description = 'nf-core/rnavar MUNIN profile provided by nf-core/configs'
  config_profile_url = 'https://ki.se/forskning/barntumorbanken'

  // Specific nf-core/rnavar params
 
  igenomes_ignore     	= true
  
  // Genome references
  genome                = 'GRCh38'
  fasta                 = '/data1/references/CTAT_GenomeLib_v37_Mar012021/GRCh38_gencode_v37_CTAT_lib_Mar012021.plug-n-play/ctat_genome_lib_build_dir/ref_genome.fa'
  fasta_fai             = '/data1/references/CTAT_GenomeLib_v37_Mar012021/GRCh38_gencode_v37_CTAT_lib_Mar012021.plug-n-play/ctat_genome_lib_build_dir/ref_genome.fa.fai'
  gtf                   = '/data1/references/CTAT_GenomeLib_v37_Mar012021/GRCh38_gencode_v37_CTAT_lib_Mar012021.plug-n-play/ctat_genome_lib_build_dir/ref_annot.gtf'
  gene_bed              = '/data1/references/CTAT_GenomeLib_v37_Mar012021/GRCh38_gencode_v37_CTAT_lib_Mar012021.plug-n-play/ctat_genome_lib_build_dir/ref_annot.bed'

  // Known genome resources
  dbsnp                 = '/data1/references/annotations/GATK_bundle/dbsnp_146.hg38.vcf.gz'
  dbsnp_tbi             = '/data1/references/annotations/GATK_bundle/dbsnp_146.hg38.vcf.gz.tbi'
  known_indels          = '/data1/references/annotations/GATK_bundle/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz'
  known_indels_tbi      = '/data1/references/annotations/GATK_bundle/Mills_and_1000G_gold_standard.indels.hg38.vcf.gz.tbi'

  // STAR index
  star_index            = '/data1/references/CTAT_GenomeLib_v37_Mar012021/GRCh38_gencode_v37_CTAT_lib_Mar012021.plug-n-play/ctat_genome_lib_build_dir/STAR.2.7.9a_2x151bp/'
  read_length           = 151
  
  // Annotation settings
  annotation_cache      = true
  cadd_cache            = true
  cadd_indels           = '/data1/cache/CADD/v1.4/InDels.tsv.gz'
  cadd_indels_tbi       = '/data1/cache/CADD/v1.4/InDels.tsv.gz.tbi'
  cadd_wg_snvs          = '/data1/cache/CADD/v1.4/whole_genome_SNVs.tsv.gz'
  cadd_wg_snvs_tbi      = '/data1/cache/CADD/v1.4/whole_genome_SNVs.tsv.gz.tbi'
  snpeff_cache          = '/data1/cache/snpEff/'
  snpeff_db             = 'GRCh38.99'
  vep_cache             = '/data1/cache/VEP/'
  vep_genome            = 'GRCh38'
  vep_species           = 'homo_sapiens'
  vep_cache_version     = '99'

}
