// Profile config names for nf-core/configs

params {
  // Specific nf-core/configs params
  config_profile_contact = 'Daniel Lundin (daniel.lundin@lnu.se)'
  config_profile_description = 'nf-core/ampliseq UPPMAX profile provided by nf-core/configs'
}

withName: make_SILVA_132_16S_classifier {
  clusterOptions = { "-A $params.project -C fat -p node -N 1 ${params.clusterOptions ?: ''}" }
}

withName: classifier {
  clusterOptions = { "-A $params.project -C fat -p node -N 1 ${params.clusterOptions ?: ''}" }
}
