// Profile config names for nf-core/configs
System.err.println("reading from the extra uppmax config, e.g. Daniels")
params {
  // Specific nf-core/configs params
  config_profile_contact = 'Daniel Lundin (daniel.lundin@lnu.se)'
  config_profile_description = 'nf-core/ampliseq UPPMAX profile provided by nf-core/configs'
}

process {
  //"make_classifier" is the older version (just one step) of preparing the database for classification
  withName: make_classifier {
    clusterOptions = { "-A $params.project -C fat -p node -N 1 -t 7-00:00:00 ${params.clusterOptions ?: ''}" }
  }

  //"clfr_extract_seq" and "clfr_train" is the newer version, where database preparation is split in two to optimise resources
  withName: clfr_extract_seq {
    clusterOptions = { "-A $params.project -p core -n 1 -t 7-00:00:00 ${params.clusterOptions ?: ''}" }
  }

  withName: clfr_train {
    clusterOptions = { "-A $params.project -C fat -p node -N 1 -t 24:00:00 ${params.clusterOptions ?: ''}" }
  }

  withName: classifier {
    clusterOptions = { "-A $params.project -C fat -p node -N 1 ${params.clusterOptions ?: ''}" }
  }
}
