 params {
   config_profile_contact = "Christopher Barrington (@ChristopherBarrington)"
   config_profile_description = "nf-core/eager Crick profile provided by nf-core/configs"
}

profiles {
  screening {
    process {
      withName:bwa {
        cpus = 12
        memory = '15 GB'
        time = '6h'
      }
    }
  }
  production {
    process {
      withName:adapter_removal {
        time = '3d'
      }
      withName:fastp {
        time = '8h'
      }
      withName:bwa {
        cpus = 8
        memory = '56 GB'
        time = '3d'
      }
      withName:samtools_filter {
        time = '3d'
      }
      withName:dedup {
        cpus = 6
        memory = '20 GB'
        time = '3d'
      }
      withName:damageprofiler {
        memory = '64 GB'
        time = '3d'
        errorStrategy = { task.exitStatus in [1,143,137,104,134,139] ? 'retry' : 'finish' }
      }
    }  
  }
  external {
    process {
      withName:samtools_filter {
        cpus = 12
        memory = '72 GB'
      }
    }
  }
}
