// Profile config names for nf-core/configs

params {
  // Specific nf-core/configs params
  config_profile_contact = 'James Fellows Yates (@jfy133)'
  config_profile_description = 'nf-core/eager SHH profile provided by nf-core/configs'
  igenomes_base = "/projects1/public_data/igenomes/"
  
  // default BWA
   bwaalnn = 0.04
   bwaalnl = 32
}

// Specific nf-core/eager process configuration
process {
  withName: malt {
    maxRetries = 1
    memory = {  task.attempt > 1 ? 1900.GB : 725.GB }
    cpus = { task.attempt > 1 ? 112 : 64 }
    time = 1440.h
    queue = { task.memory > 756.GB ? 'supercruncher' : 'long' }
  }
}

profiles {
  pathogen_loose {
    params {
      config_profile_description = 'Pathogen (loose) MPI-SHH profile, provided by nf-core/configs.'
      bwaalnn = 0.01
      bwaalnl = 16
    }
  }
  pathogen_strict {
    params {
      config_profile_description = 'Pathogen (strict) MPI-SHH SDAG profile, provided by nf-core/configs.'
      bwaalnn = 0.1
      bwaalnl = 32
     }
  }
  human {
      params {
      config_profile_description = 'Human MPI-SHH SDAG profile, provided by nf-core/configs.'
      bwaalnn = 0.01
      bwaalnl = 16500
     }
  }
}
