// Profile config names for nf-core/configs

params {
  // Specific nf-core/configs params
  config_profile_contact = 'James Fellows Yates (@jfy133)'
  config_profile_description = 'nf-core/eager SHH profile provided by nf-core/configs'
  igenomes_base = "/projects1/public_data/igenomes/"
}

// Specific nf-core/eager process configuration
process {
  withName:malt {
    memory = {  700.GB * task.attempt }
    cpus = { 64 * task.attempt }
    time = 720.h
    queue = { task.memory > 700.GB ? 'supercruncher' : 'long' }
  }
}
