// Invoked from naiss.config -> arrhenius.config, we don't need to redo
// everything

process {
    withName: '.*' {
        // GPUs are not available with CPU accounts, singal to modules that 
        // they don't get any
        accelerator = null
    }

    clusterOptions = {
        return task.memory > 768.GB ? "-p fat" : ""
    }
}

params.naiss_gpu_type = 'disabled'

// Limit resources for 'local' if we're not in a job (if we're in a job,
// no need to limit)
includeConfig({
    System.getenv("SLURM_JOB_ID") ? "limit_local.config" : "/dev/null"
}.call())