
// Used by https://github.com/nf-core/configs/blob/master/conf/naiss.config
// Cluster configuration for Arrhenius

params {
    config_profile_description = 'NAISS Arrhenius cluster profile provided by nf-core/configs.'
    // gpus type is only for clarity in logs and such, arrhenius only has a
    // single gpu type and we don't overcomplicate with code to break if one
    // sets another
    naiss_gpu_type             = 'GH200' 
    
    max_cpus                   = 192
    max_memory                 = 3.TB
    max_time                   = 3.d
}

// Info: https://www.naiss.se/resource/arrhenius/
//

// We only deal with cluster specific things here
process {
    clusterOptions = {
        [
            params.clusterOptions ?: "",

            // Arrhenius only has one GPU type, and we don't implement logic
            // just to give a different error. Also, see params above.

            task.accelerator ? "-p gpu --gpus=${task.accelerator.request ?: 1}" : "",
            task.memory > 768.GB ? "-p fat" : "",
        ].minus("").join(" ")
    }

    // Enables GPU access inside the container when a task requests an accelerator.
    containerOptions = { task.accelerator ? '--nv' : '' }
}

apptainer {
    runOptions = '-B $NAISS_TMP,/nobackup/proj/disk'
}

