
// Used by https://github.com/nf-core/configs/blob/master/conf/naiss.config
// Cluster configuration for Arrhenius

params {
    config_profile_description = 'NAISS Arrhenius cluster profile provided by nf-core/configs.'
    
    max_cpus                   = 192
    max_memory                 = 3.TB
    max_time                   = 3.d
}

// Some gymnastics to get conditional inclusion, here to cover cpu only
includeConfig({
    (params.account && params.account.trim().endsWith("-cpu")) ?
        "arrhenius_cpu.config" :
        "/dev/null"
    }.call())

// and GPU, we only do these for explicit account names
includeConfig({
    (params.account && params.account.trim().endsWith("-gpu")) ?
        "arrhenius_gpu.config" :
        "/dev/null"
    }.call())


// Info: https://www.naiss.se/resource/arrhenius/

apptainer {
    runOptions = '-B $NAISS_TMP,/nobackup/proj/disk'
}

