
// gpus type is only for clarity in logs and such, arrhenius only has a
// single gpu type and we don't overcomplicate with code to break if one
// sets another
params.naiss_gpu_type = 'GH200'

process {
    arch = 'linux/arm64'

    clusterOptions = {
            return task.accelerator ? "-p gpu --gpus=${task.accelerator.request ?: 1}" : ""
        }

    // Enables GPU access inside the container when a task requests an accelerator.
    containerOptions = { task.accelerator ? '--nv' : '' }
}
}