// Profile config names for nf-core/configs
params {
    // Specific nf-core/configs params
    config_profile_contact     = 'Daniel Lundin (daniel.lundin@lnu.se)'
    config_profile_description = 'nf-core/ampliseq UPPMAX profile provided by nf-core/configs'
}

process {
    withName: classifier_extract_seq {
        clusterOptions = { "-A ${params.project} -p core -n 1 -t 7-00:00:00 ${params.clusterOptions ?: ''}" }
    }

    withName: classifier_train {
        clusterOptions = { "-A ${params.project} -C fat -p node -N 1 -t 24:00:00 ${params.clusterOptions ?: ''}" }
    }

    withName: classifier {
        clusterOptions = { "-A ${params.project} -C fat -p node -N 1 ${params.clusterOptions ?: ''}" }
    }
}
