params {
  // Specific nf-core/configs params
  config_profile_contact = 'James Fellows Yates (@jfy133)'
  config_profile_description = 'nf-core/mag EVA profile provided by nf-core/configs'
}

env {
    OPENBLAS_NUM_THREADS=1
    OMP_NUM_THREADS=1
}

process {

    withName: FASTQC {
    clusterOptions = { "-S /bin/bash -V -l h_vmem=${(task.memory.toGiga() * 2)}G" }
    errorStrategy = { task.exitStatus in [1,143,137,104,134,139,140] ? 'retry' : 'finish' }
    }

}
