params {
    // Specific nf-core/configs params
    config_profile_contact     = 'James Fellows Yates (@jfy133)'
    config_profile_description = 'nf-core/mag EVA profile provided by nf-core/configs'
}

env {
    OPENBLAS_NUM_THREADS = 1
    OMP_NUM_THREADS      = 1
}

process {

    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    time          = 365.d

    withName: FASTQC {
        clusterOptions = { "-S /bin/bash -V -l h_vmem=${(task.memory.toGiga() * 2)}G" }
        errorStrategy  = { task.exitStatus in [1, 143, 137, 104, 134, 139, 140] ? 'retry' : 'finish' }
    }

    withLabel: process_single {
        cpus   = 1
        memory = { 6.GB * task.attempt }
        time   = 365.d
    }
    withLabel: process_low {
        cpus   = { 2 * task.attempt }
        memory = { 12.GB * task.attempt }
        time   = 365.d
    }
    withLabel: process_medium {
        cpus   = { 6 * task.attempt }
        memory = { 36.GB * task.attempt }
        time   = 365.d
    }
    withLabel: process_high {
        cpus   = { 12 * task.attempt }
        memory = { 72.GB * task.attempt }
        time   = 365.d
    }
    withLabel: process_long {
        time = 365.d
    }
    withLabel: process_high_memory {
        memory = { 200.GB * task.attempt }
        time   = 365.d
    }
    withLabel: error_ignore {
        errorStrategy = 'ignore'
    }
    withLabel: error_retry {
        errorStrategy = 'retry'
        maxRetries    = 2
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        cache = false
    }

    withName: BOWTIE2_HOST_REMOVAL_BUILD {
        cpus   = { 10 * task.attempt }
        memory = { 20.GB * task.attempt }
        time   = 365.d
    }
    withName: BOWTIE2_HOST_REMOVAL_ALIGN {
        cpus   = { 10 * task.attempt }
        memory = { 10.GB * task.attempt }
        time   = 365.d
    }
    withName: BOWTIE2_PHIX_REMOVAL_ALIGN {
        cpus   = { 4 * task.attempt }
        memory = { 8.GB * task.attempt }
        time   = 365.d
    }
    withName: PORECHOP {
        cpus   = { 4 * task.attempt }
        memory = { 30.GB * task.attempt }
        time   = 365.d
    }
    withName: NANOLYSE {
        cpus   = { 2 * task.attempt }
        memory = { 10.GB * task.attempt }
        time   = 365.d
    }
    //filtlong: exponential increase of memory and time with attempts
    withName: FILTLONG {
        cpus   = { 8 * task.attempt }
        memory = { 64.GB * (2 ** (task.attempt - 1)) }
        time   = 365.d
    }
    withName: CENTRIFUGE {
        cpus   = { 8 * task.attempt }
        memory = { 40.GB * task.attempt }
        time   = 365.d
    }
    withName: KRAKEN2 {
        cpus   = { 8 * task.attempt }
        memory = { 40.GB * task.attempt }
        time   = 365.d
    }
    withName: KRONA {
        cpus   = { 8 * task.attempt }
        memory = { 20.GB * task.attempt }
        time   = 365.d
    }
    withName: CAT_DB_GENERATE {
        memory = { 200.GB * task.attempt }
        time   = 365.d
    }
    withName: CAT {
        cpus   = { 8 * task.attempt }
        memory = { 40.GB * task.attempt }
        time   = 365.d
    }
    withName: GTDBTK_CLASSIFYWF {
        cpus   = { 10 * task.attempt }
        memory = { 128.GB * task.attempt }
        time   = 365.d
    }
    //MEGAHIT returns exit code 250 when running out of memory
    withName: MEGAHIT {
        cpus          = { check_megahit_cpus(8, task.attempt) }
        memory        = { 40.GB * task.attempt }
        time          = 365.d
        errorStrategy = { task.exitStatus in ((130..145) + 104 + 250) ? 'retry' : 'finish' }
    }
    //SPAdes returns error(1) if it runs out of memory (and for other reasons as well...)!
    //exponential increase of memory and time with attempts, keep number of threads to enable reproducibility
    withName: SPADES {
        cpus          = { check_spades_cpus(10, task.attempt) }
        memory        = { 64.GB * (2 ** (task.attempt - 1)) }
        time          = 365.d
        errorStrategy = { task.exitStatus in [143, 137, 21, 1] ? 'retry' : 'finish' }
        maxRetries    = 5
    }
    withName: SPADESHYBRID {
        cpus          = { check_spadeshybrid_cpus(10, task.attempt) }
        memory        = { 64.GB * (2 ** (task.attempt - 1)) }
        time          = { 24.h * (2 ** (task.attempt - 1)) }
        errorStrategy = { task.exitStatus in [143, 137, 21, 1] ? 'retry' : 'finish' }
        maxRetries    = 5
    }
    //returns exit code 247 when running out of memory
    withName: BOWTIE2_ASSEMBLY_ALIGN {
        cpus          = { 2 * task.attempt }
        memory        = { 8.GB * task.attempt }
        time          = { 24.h * (2 ** (task.attempt - 1)) }
        errorStrategy = { task.exitStatus in [143, 137, 104, 134, 139, 247] ? 'retry' : 'finish' }
    }
    withName: METABAT2_METABAT2 {
        cpus   = { 8 * task.attempt }
        memory = { 20.GB * task.attempt }
        time   = { 24.h * (2 ** (task.attempt - 1)) }
    }
    withName: MAG_DEPTHS {
        memory = { 16.GB * task.attempt }
        time   = { 24.h * (2 ** (task.attempt - 1)) }
    }
    withName: BUSCO {
        cpus   = { 8 * task.attempt }
        memory = { 20.GB * task.attempt }
        time   = { 24.h * (2 ** (task.attempt - 1)) }
    }

    withName: MAXBIN2 {
        errorStrategy = { task.exitStatus in [1, 255] ? 'ignore' : 'retry' }
        time          = { 24.h * (2 ** (task.attempt - 1)) }
    }

    withName: DASTOOL_DASTOOL {
        errorStrategy = { task.exitStatus in [143, 137, 104, 134, 139] ? 'retry' : task.exitStatus == 1 ? 'ignore' : 'finish' }
        time          = { 24.h * (2 ** (task.attempt - 1)) }
    }
}
