profiles {
    crg {
        params {
            config_profile_contact     = 'Luisa Santus (@luisas)'
            config_profile_description = 'nf-core/multiplesequencealign CRG profile provided by nf-core/configs'
        }
        executor.name = 'crg'
        process {
            executor = 'slurm'
            queue    = 'genoa64'

            clusterOptions = {
                switch (task.time) {
                    case { it > 168.h } :
                        return '--qos=ethernal'
                    case (48<..168).h:
                        return '--qos=marathon'
                    case (24<..48).h:
                        return '--qos=vlong'
                    case (12<..24).h:
                        return '--qos=long'
                    case (6<..12).h:
                        return '--qos=normal'
                    case (3<..6).h:
                        return '--qos=short'
                    case (1<..3).h:
                        return '--qos=shorter'
                    default:
                        return '--qos=vshort'
                }
            }

            withName: 'LEARNMSA_ALIGN' {
                queue =  'genoa64'
                memory = "30.GB"
                time = '2h'
                clusterOptions = '--qos=normal --partition=gpu --gres=gpu:1g.10gb:1'
            }
        }

        singularity {
            enabled = true
            envWhitelist = "CUDA_VISIBLE_DEVICES,NVIDIA_VISIBLE_DEVICES"
            if (params.use_gpu) { singularity.runOptions = '--nv' }
            pullTimeout = "60m"
        }
    }
}
