profiles {
    crg {
        params {
            config_profile_contact     = 'Luisa Santus (@luisas)'
            config_profile_description = 'nf-core/multiplesequencealign CRG profile provided by nf-core/configs'
        }
        process {
            withName: 'LEARNMSA_ALIGN' {
                memory = "30.GB"
                time = '2h'
                clusterOptions = '--qos=normal --partition=gpu --gres=gpu:1g.10gb:1'
            }
        }
        singularity {
            enabled = true
            envWhitelist = "CUDA_VISIBLE_DEVICES,NVIDIA_VISIBLE_DEVICES"
            runOptions = params.get('use_gpu', false) ? '--nv' : ''
            pullTimeout = "60m"
        }
    }
}
