profiles {
    crg {
        params {
            config_profile_contact     = 'Luisa Santus (@luisas)'
            config_profile_description = 'nf-core/multiplesequencealign CRG profile provided by nf-core/configs'
        }
        executor.name = 'crg'
        process {
            queue = 'short-centos79,long-centos79'
            withName: 'LEARNMSA_ALIGN' {
                cpus           = 8
                memory         = "30 GB"
                queue          = params.use_gpu ? 'gpu' : 'long-centos79'
                clusterOptions = { (task.queue == 'gpu' ? '-l gpu=1,virtual_free=30G' : '') }
            }
        }
    }
}
