// Config profile metadata
params {
    config_profile_contact = 'Wassim Salam (@wassimsalam01)'
    config_profile_description = 'nf-core/methylseq fub_curta profile provided by nf-core/configs'
}

process {
    withName: 'NFCORE_METHYLSEQ:METHYLSEQ:PREPARE_GENOME:BISMARK_GENOMEPREPARATION' {
        stageInMode = 'copy'
    }
}
