params {
    config_profile_contact     = 'Adrija Kalvisa (@adrijak)'
    config_profile_description = 'nf-core/methylseq ku_sund_danhead profile provided by nf-core/configs'

    // methylseq usually runs extremely long hours, use 2x the normal max_time allowance for this pipeline
    max_time                   = 144.h
}

process {
    withName: 'NFCORE_METHYLSEQ:METHYLSEQ:PREPARE_GENOME:BISMARK_GENOMEPREPARATION' {
        stageInMode = 'copy'
    }
    withName: 'NFCORE_METHYLSEQ:METHYLSEQ:BISMARK:BISMARK_ALIGN' {
        ext.args = '--multicore 1'
    }
}
