// Config profile metadata
params {
    config_profile_contact = 'Adrija Kalvisa (@adrijak)'
    config_profile_description = 'nf-core/methylseq ku_sund_dangpu profile provided by nf-core/configs'
}

process {
    withName: 'NFCORE_METHYLSEQ:METHYLSEQ:PREPARE_GENOME:BISMARK_GENOMEPREPARATION' {
        stageInMode = 'copy'
    }
  withName: 'NFCORE_METHYLSEQ:METHYLSEQ:BISMARK:BISMARK_ALIGN' {
        multicore = 1
  }
}
