// farm22 cluster at Wellcome Sanger Institute

params {
    max_memory = 2.9.TB
    max_cpus = 256
    max_time = 43200.min // 30 days
}

process {
    resourceLimits = [
        memory: 2.9.TB,
        cpus: 256,
        time: 43200.min
    ]
}

singularity {
    // Mount all filesystems by default
    runOptions = '--bind /lustre --bind /nfs --bind /data --bind /software'
}
