// farm22 cluster at Wellcome Sanger Institute

params {
    max_memory = 2.9.TB
    max_cpus = 256
    max_time = 43200.min // 30 days
}

process {
    resourceLimits = [
        memory: 2.9.TB,
        cpus: 256,
        time: 43200.min
    ]
}

singularity {
    // Mount all filesystems by default
    runOptions = '--bind /lustre --bind /nfs --bind /data --bind /software'
}

// Currently a single set of rules for all clusters, but we could apply
// different rules to different clusters in their respective configs under ./sanger/
queue = {
    if (task.accelerator) {
        return "inference"
    } else {
        // Temporary oversubscribed queue for CPU jobs until we assign more CPU resources to these clusters
        return "oversubscribed"
    }
}
