// tol22 cluster at Wellcome Sanger Institute
// As opposite to the default farm22 settings, we don't mount any filesystem by default.
// Pipelines that need to see certain filesystems have to set singularity.runOptions themselves

params {
    max_memory = 1.4.TB
    max_cpus = 64
    max_time = 89280.min // 62 days
}

process {
    resourceLimits = [
        memory: 1.4.TB,
        cpus: 64,
        time: 89280.min
    ]
}
