// tol22 cluster at Wellcome Sanger Institute
// As opposite to the default farm22 settings, we don't mount any filesystem by default.
// Pipelines that need to see certain filesystems have to set singularity.runOptions themselves
// The queues also slightly differ.

params {
    max_memory = 1.4.TB
    max_cpus = 64
    max_time = 89280.min // 62 days
}

process {
    resourceLimits = [
        memory: 1.4.TB,
        cpus: 64,
        time: 89280.min
    ]

    queue = {
        if (task.time >= 15.day) {
            if (task.memory > 680.GB) {
                error "There is no queue for jobs that need >680 GB and >15 days"
            } else {
                return "basement"
            }
        } else if (task.memory > 720.GB) {
            return "teramem"
        } else if (task.memory > 350.GB) {
            return "hugemem"
        } else if (task.time > 7.day) {
            return "basement"
        } else if (task.time > 2.day) {
            return "week"
        } else if (task.time > 12.hour) {
            return "long"
        } else if (task.time > 1.min || !task.time) {
            return "normal"
        } else {
            return "small"
        }
    }
}
